#about-us-background{
    height: 911px;
    background-color: #f1f8fc;
    width: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
}
.about-us-card{
    border: 1px solid #BBC5D0;
    border-radius: 5px;
    background-color: #FFFFFF;
    padding: 16px;
    height: 100%;
    width: 100%;
}
.about-us-card img{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    margin-top: 8px;
    object-fit: cover;
}
.about-us-card .main-text{
    margin-bottom: 8px;
}
@media (min-width: 1200px) {
    #about-us-background{
        height: 751px;
    }
  }