@font-face {
    font-family: 'AbdoLine';
    font-display: fallback;
    src: url('https://static.webteb.net/fonts/communities/abdo-line-boldb.woff2') format('woff2'), url('https://static.webteb.net/fonts/communities/abdo-line-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'AbdoLine';
    font-display: fallback;
    src: url('https://static.webteb.net/fonts/communities/abdo-line-lightb.woff2') format('woff2'), url('https://static.webteb.net/fonts/communities/abdo-line-lightb.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gulf';
    src: url('https://static.webteb.net/fonts/communities/gulf-boldb.woff2') format('woff2'), url('https://static.webteb.net/fonts/communities/gulf-boldb.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gulf';
    src: url('https://static.webteb.net/fonts/communities/gulf-semi-boldb.woff2') format('woff2'), url('https://static.webteb.net/fonts/communities/gulf-semi-boldb.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

body .container {
    font-family: "artial",AbdoLine;
}

.container .bold, .container strong, .container b, .container h4, .container h5 {
    font-family: "artial",AbdoLine;
    font-weight: bold;
    font-family: "roboto",lfont;
}

.container .current-cat .bold {
    font-family: gulf;
    font-weight: bold;
}

.container .tabs li a {
    font-family: gulf;
    font-weight: 600;
    font-size: 13px;
}

.container .breadcrumb a {
    font-weight: bold;
}

.container .cat-list a span {
    font-family: Gulf;
    font-weight: 600;
    font-size: 16px;
}

.container .post .items span {
    font-family: gulf;
    font-size: 16px;
}

.container .header .user-name {
    font-family: gulf;
    font-weight: 600;
}

.container .post-head .user-name a {
    font-size: 16px;
}

.container .hom-box h2 {
    font-family: bfont;
    font-weight: normal;
}

.container .hom-box p {
    font-family: bfont;
    font-weight: normal;
}

.container .box h2 {
    font-size: 16px;
    font-family: gulf;
}

.container .number {
    font-size: 1rem;
}

.container .categort-section-header h1 {
    font-family: gulf;
}

.filter ul li {
    font-family: gulf;
}

.section-name select {
    font-family: AbdoLine;
}

.topic-title input, .topic-title textarea {
    font-family: AbdoLine;
}

.bold {
    font-family: "artial",AbdoLine;
    font-weight: 700;
    /*font-family: "roboto",lfont;*/
}

@media only screen and (min-width:767px) {
    .container .add-topic-b label span.bold {
        font-family: gulf;
    }

    .post-bar .text {
        font-size: 17px;
    }

    .date {
        font-size: 14px;
    }

    .container .post-head .user-name a {
        font-size: 19px;
    }

    .post-title {
        font-size: 24px;
    }

    .post-body p {
        font-size: 19px;
        word-wrap: break-word;
    }

    .container .tabs li a {
        font-size: 20px;
    }
}
