.select2.select2-container.select2-container--default{
    width: 100% !important;

}
.select2-container .select2-selection--single {
    padding-top: 12px;
    max-width: 100%;
}
.select2-dropdown .select2-results__option {
    position: relative;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    padding-right: 17px;
}
label {
    margin-top: 16px;
    margin-bottom: 8px;
}
#note{
    height: 136px;
    font-family: Almarai;
}
textarea{
    border: 1px solid var(--grayborder);
}
.select-contry {
    width: 160px !important;
}
.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow {
    left: 4px ;
    right: auto;
}