.content {
    background: #fff none repeat scroll 0 0;
    overflow: hidden;
    padding: .5rem;
    font-size: 1.2rem
}

    .content h1 {
        color: #2b5464;
        font-size: 1.9rem;
        margin-bottom: 1.9rem;
        margin-top: .7rem;
        line-height: 1.1
    }

    .content h2 {
        color: #2b5464;
        font-size: 1.5rem
    }

    .content h3, .content h2 {
        font-family: "roboto",bfont;
        font-weight: 400
    }

    .content .author {
        color: #97a9b1;
        display: inline-block;
        font-size: .8rem;
        margin-bottom: .7rem
    }

.show-fb-comments {
    margin: 1.5rem auto
}

.content img:not(.provider) {
    margin-bottom: .6rem;
    width: 100%
}

.content table img {
    width: auto
}

#commercialnames table {
    text-align: center
}

.content ul:not(.list):not(.none):not(.pagination) li {
    line-height: 1.6;
    margin-bottom: .5rem;
    padding-right: 1rem;
    position: relative
}

.content ul:not(.list):not(.none) li::before {
    background: #16c1f5 none repeat scroll 0 0;
    border-radius: 100%;
    content: "";
    display: inline-block;
    height: 8px;
    position: absolute;
    right: 0;
    top: .6rem;
    width: 8px
}

.content div {
    font-size: inherit;
    line-height: 1.6;
    text-rendering: optimizelegibility;
    font-weight: 300;
    font-size: 1.2rem
}

.content p {
    font-size: 1.2rem
}

.content #description img {
    float: left;
    margin-right: 15px;
    position: relative;
    width: 140px
}

.content img + span {
    display: inline-block;
    width: 100%
}

.content .list {
    padding: 0
}

.jump-links li {
    flex-basis: calc(50% - 32px);
    padding-bottom: .8rem
}

.content div.jump-links {
    background: #f7fafb none repeat scroll 0 0;
    display: inline-block;
    margin-bottom: .5rem;
    margin-top: .5rem;
    padding-bottom: .5rem;
    padding-top: .9rem;
    width: 100%
}

.content h1 + span[lang="en"] {
    position: relative;
    top: -1.4rem
}

.jump-links ol {
    margin: 0
}

.jump-links ol {
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between
}

h2 {
    line-height: 1.1
}

.harvard-logo span {
    float: right;
    margin-left: .5rem
}

.harvard-logo {
    display: inline-block;
    margin-top: 1rem
}

.content table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 1rem;
    table-layout: fixed;
    width: 100% !important
}

    .content table td {
        border: 1px solid #bcdee8;
        padding: .5rem
    }

.content .title {
    color: #2b5464;
    display: block;
    font-size: 1.2rem;
    margin-bottom: .4rem
}

.view-all {
    color: #bcdee8;
    line-height: 30px;
    position: relative;
    padding-right: 25px;
    display: inline-block;
    font-size: 1.1rem
}

div .jw-dock-button {
    margin: 0
}

div .jw-controls .jw-controls-right {
    bottom: 0
}

.video-container ul li {
    padding-right: 0 !important
}

    .video-container ul li::before {
        display: none !important
    }

.icon-viwe-all {
    position: absolute;
    right: 0;
    top: 3px
}

.view-all + .show-fb-comments {
    margin-top: 2.7rem
}

.content h3 {
    margin-bottom: 0;
    line-height: 1.4
}

.space + .social-share {
    margin-top: 2rem
}

.vid-title {
    margin: 0 auto;
    display: table;
    color: #ff7333
}

.video-container {
    margin-bottom: 1rem
}

.weeks-d .content .img {
    float: right;
    margin-left: 1rem;
    margin-top: .6rem
}

h1 + .en-name {
    font-size: 1.6rem;
    color: #2b5464;
    position: relative;
    top: -1.5rem
}

.button.bold.show-fb-comments {
    margin-top: 2rem;
    padding: 0;
    width: 100%;
    border: 0
}

.tags > a {
    background: #f7fafb;
    padding: 0 .8rem;
    border-radius: 1rem;
    float: right;
    margin-left: .5rem;
    font-size: 1rem;
    margin-bottom: .5rem
}

.tags {
    margin-bottom: .5rem
}

.about-author {
    margin-bottom: 1.5rem
}

.au-name {
    margin-top: 21px;
    float: right;
    padding-right: 1rem
}

.author-img {
    float: right;
    border-radius: 100%
}

    .author-img img {
        border-radius: 100%;
        border: 3px solid #E3ECF0;
        margin-bottom: 0 !important;
        width: 70px !important
    }

.quistion-c .qc > div > div > span:not(.top):not(.bottom) {
    background: #F7FAFB;
    display: inline-block;
    width: 100%;
    padding: .5rem;
    margin-bottom: .7rem;
    color: #2b5464;
    font-family: "Roboto",bfont
}

.quistion-c .qc > div > div > span + div {
    margin-bottom: 1.5rem
}

.ad1 > div {
    margin-bottom: 0 !important
}

.recent-n .ib-head .category i {
    top: 6px
}

.content .account-note {
    background: #f3f7f9;
    border: 1px solid #f7b555;
    margin-top: 1.5rem;
    padding: 1rem
}

.provider-l {
    margin: 2rem auto 0;
    display: table
}

    .provider-l .author {
        float: right
    }

.mayo-logo .author {
    margin-top: 17px
}

.mayo-logo.provider-l {
    padding-right: .5rem
}

.search-p .site-search {
    float: none;
    width: 100%;
    padding: 1.5rem 1rem 0rem;
    margin-top: 0;
    background: #fff;
    display: inline-block
}

.search-p .search-form {
    border-bottom: 1px solid #e3e4e5;
    padding-bottom: 1.2rem;
    display: inline-block;
    width: 100%
}

.search-p .site-search + div {
    float: right;
    width: 100%;
    margin-top: -0.5rem
}

@media only screen and (max-width:47.9375rem) {
    .search-form .button {
        top: 2px !important
    }
}

@media only screen and (min-width:47.9375rem) {
    .search-p form {
        width: 60%
    }

    .search-p .site-search {
        padding: 2rem 1rem 1rem
    }

    .search-p .search-form {
        padding-bottom: 1.5rem
    }

    .search-p .site-search + div {
        margin-top: 0
    }
}

@charset "UTF-8";

html {
    font-size: 100%
}

body {
    font-weight: 300;
    line-height: 1.2;
    color: #29333f;
    direction: rtl;
    padding: 0;
    margin: 0;
    background-color: #e3ecf0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "roboto",lfont
}

input {
    font-family: "roboto",lfont
}

.bold, strong, b, h4, h5 {
    font-family: "roboto",bfont;
    font-weight: 400;
    /*font-weight: 500;*/
    font-style: normal
}

p {
    font-size: inherit;
    line-height: 1.6;
    margin-bottom: 1rem;
    margin-top: 0;
    text-rendering: optimizelegibility;
    font-weight: 300
}

a {
    color: #16c1f5;
    text-decoration: none;
    outline: none
}

*, *::before, *::after {
    box-sizing: border-box
}

a:active, a:hover {
    outline: 0
}

img {
    max-width: 100%;
    height: auto;
    -ms-interpolation-mode: bicubic;
    display: inline-block
}

textarea {
    height: auto;
    min-height: 50px;
    font-family: "roboto",lfont
}

[class*="small-up-"] .column {
    padding-right: .2rem;
    padding-left: .2rem;
    float: right
}

[class*="small-up-"] {
    margin-right: -0.2rem;
    margin-left: -0.2rem
}

.collapse[class*="small-up-"] {
    margin-right: 0;
    margin-left: 0
}

.collapse[class*="medium-up"] > .column {
    padding-right: 0;
    padding-left: 0
}

.small-up-5 .column {
    width: 20%
}

.small-up-3 .column {
    width: 33.3333%
}

.small-up-2 .column {
    width: 50%
}

.small-up-1 .column {
    width: 100%
}

.block {
    float: right;
    width: 100%;
    overflow: hidden
}

.container > div {
    float: right;
    width: 100%
}

input::-webkit-input-placeholder {
    color: #738184;
    opacity: 1
}

input::-moz-placeholder {
    color: #738184;
    opacity: 1
}

select, input[type="text"], input[type="email"], input[type="password"], input[type="number"] {
    border: 1px solid #96a6af;
    border-radius: 3px;
    color: #29333f;
    font-size: 1rem;
    height: 36px;
    line-height: 36px;
    margin-bottom: .7rem;
    padding: 0 .5rem;
    width: 100%;
    outline: 0 !important
}

button.icon {
    background: transparent none repeat scroll 0 0;
    border: 0 none;
    padding: 0
}

ul {
    list-style: outside none none;
    margin-bottom: 0;
    margin-top: 0;
    padding-right: 0
}

.strip-head {
    margin-bottom: .7rem;
    margin-top: 1rem;
    position: relative
}

    .strip-head .title {
        border-bottom: 3px solid #16c1f5;
        color: #2b5464;
        display: block;
        font-size: 1.3rem;
        padding-bottom: .4rem
    }

    .strip-head input {
        display: none
    }

    .strip-head label {
        color: #899ea9;
        display: inline-block;
        font-size: .8rem;
        height: 26px;
        left: 0;
        padding-left: .4rem;
        padding-top: .4rem;
        position: absolute;
        text-align: left;
        top: 0;
        width: 30px
    }

.padding, .padding-sl {
    padding-right: .5rem;
    padding-left: .5rem
}

.button {
    background: #16c1f5;
    border-radius: 3px;
    color: #fff;
    display: table;
    font-size: .9rem;
    padding: .55rem .65rem;
    position: relative;
    font-family: "roboto",bfont;
    outline: 0 !important;
    border: 0;
    cursor: pointer
}

    .button.border {
        border: 1px solid #16c1f5
    }

.load-more {
    margin-left: auto;
    margin-right: auto
}

.button .icon-arrow {
    display: inline-block;
    font-size: .55rem;
    padding: 0 .2rem
}

.button.load-more .icon-arrow {
    transform: rotate(-90deg)
}

.space-5 {
    float: right;
    height: .7rem;
    width: 100%
}

.list {
    background: #fff none repeat scroll 0 0;
    overflow: hidden;
    padding: .6rem
}

    .list a {
        border-bottom: 1px solid #dfe4e5;
        color: #29333f;
        display: block;
        padding-bottom: .6rem;
        padding-left: 2rem;
        padding-top: .6rem
    }

    .list > li {
        position: relative
    }

    .list li i {
        color: #c7d1d6;
        font-size: .5rem;
        left: .2rem;
        margin-top: -3px;
        position: absolute;
        top: 50%
    }

    .list > li:last-child a {
        border: 0 none
    }

.white-bg .list {
    padding: 0
}

.b-border + .list {
    margin-top: -0.5rem
}

.accordion-c > section:first-child .acc-head {
    margin-top: 0
}

[data-icon]:before {
    content: attr(data-icon)
}

[class^="icon-"]:before, [class*=" icon-"]:before, [data-icon]:before, .amp-carousel-button:before {
    font-family: "iconfont";
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
}

.icon-diabetes:before {
    content: "\7c"
}

.icon-correct:before {
    content: "\61"
}

.icon-false:before {
    content: "\5b"
}

.icon-female:before {
    content: "\5f"
}

.icon-male:before {
    content: "\5e"
}

.icon-man:before {
    content: "\60"
}

.icon-newsletter:before {
    content: "\7b"
}

.icon-cancer:before {
    content: "\62"
}

.icon-eye:before, .icon-eye-health:before {
    content: "\63"
}

.icon-teeth:before, .icon-dental-health:before {
    content: "\64"
}

.icon-heart:before {
    content: "\65"
}

.icon-sex:before, .icon-sex-education:before {
    content: "\66"
}

.icon-psychological:before, .icon-mental-health:before {
    content: "\67"
}

.icon-alternative:before, .icon-alternative-medicine:before {
    content: "\68"
}

.icon-woman:before, .icon-woman-health:before {
    content: "\69"
}

.icon-symptom:before {
    content: "\6a"
}

.icon-healthy-food:before, .icon-healthy-eating:before {
    content: "\6b"
}

.icon-diet:before {
    content: "\6c"
}

.icon-sport:before, .icon-fitness-exercise:before {
    content: "\6d"
}

.icon-marriage:before, .icon-relationships:before {
    content: "\6e"
}

.icon-healthy-beauty:before {
    content: "\6f"
}

.icon-hair:before {
    content: "\70"
}

.icon-lifestyle-2:before, .icon-living-healthy:before {
    content: "\71"
}

.icon-older:before, .icon-healthy-aging:before {
    content: "\72"
}

.icon-nutrition:before {
    content: "\73"
}

.icon-recipes:before {
    content: "\74"
}

.icon-treatments:before {
    content: "\75"
}

.icon-diseases:before {
    content: "\76"
}

.icon-vaccins:before {
    content: "\77"
}

.icon-terms:before {
    content: "\78"
}

.icon-articles:before {
    content: "\79"
}

.icon-doctors:before {
    content: "\7a"
}

.icon-vitamins:before {
    content: "\41"
}

.icon-drugs:before {
    content: "\42"
}

.icon-q-a:before {
    content: "\43"
}

.icon-tests:before {
    content: "\44"
}

.icon-video:before {
    content: "\45"
}

.icon-infographic:before {
    content: "\46"
}

.icon-testyourself:before {
    content: "\47"
}

.icon-calc:before {
    content: "\48"
}

.icon-slideshows:before {
    content: "\49"
}

.icon-ill-tips:before {
    content: "\4a"
}

.icon-tf:before {
    content: "\4b"
}

.icon-interactions:before {
    content: "\4c"
}

.icon-pregnancy-planning:before, .icon-planning-pregnancy:before {
    content: "\4d"
}

.icon-pregnancy:before, .icon-health-pregnancy:before {
    content: "\4e"
}

.icon-babies:before, .icon-infants:before {
    content: "\4f"
}

.icon-birth:before, .icon-childbirth:before, .icon-pregnancy-childbirth:before {
    content: "\50"
}

.icon-pregnancy-calc:before {
    content: "\51"
}

.icon-new-born-dev:before {
    content: "\52"
}

.icon-rearing:before, .icon-raising-children:before, .icon-children-healthcare:before {
    content: "\53"
}

.icon-baby-dev:before, .icon-child-development:before {
    content: "\54"
}

.icon-all-cat:before {
    content: "\55"
}

.icon-medical:before {
    content: "\56"
}

.icon-lifestyle-1:before, .icon-lifestyle:before {
    content: "\57"
}

.icon-baby:before {
    content: "\58"
}

.icon-mail:before {
    content: "\59"
}

.icon-user:before {
    content: "\5a"
}

.icon-phone:before {
    content: "\30"
}

.icon-news:before {
    content: "\31"
}

.icon-plus:before {
    content: "\32"
}

.icon-arrow-d:before {
    content: "\39"
}

.icon-arrow-l:before {
    content: "\21"
}

.icon-search:before {
    content: "\22"
}

.icon-instg:before {
    content: "\24"
}

.icon-whatsapp:before {
    content: "\25"
}

.icon-arrow:before {
    content: "\26"
}

.icon-twitter:before {
    content: "\27"
}

.icon-fb:before {
    content: "\29"
}

.icon-g-plus:before {
    content: "\28"
}

.icon-rss:before {
    content: "\2a"
}

.icon-back-arrow:before {
    content: "\2b"
}

.icon-play:before {
    content: "\2c"
}

.icon-home:before {
    content: "\2d"
}

.icon-questions:before {
    content: "\2e"
}

.icon-viwe-all:before {
    content: "\2f"
}

.icon-multimedia:before {
    content: "\3a"
}

.icon-very-bad:before {
    content: "\3b"
}

.icon-tips:before {
    content: "\3e"
}

.icon-excellent:before {
    content: "\3d"
}

.icon-good:before {
    content: "\3c"
}

.icon-bad:before {
    content: "\3f"
}

.icon-general:before {
    content: "\40"
}

.icon-zoom:before {
    content: "\5d"
}

.icon-surgery:before {
    content: "\7d"
}

.icon-respiratory:before {
    content: "\7e"
}

.icon-plastic-surgery:before {
    content: "\5c"
}

.icon-orthopedics-and-rheumatology:before {
    content: "\e000"
}

.icon-gastrointestinal-tract:before {
    content: "\e001"
}

.icon-general-health:before {
    content: "\e002"
}

.icon-children-healthcare:before {
    content: "\e003"
}

.icon-neurology:before {
    content: "\e004"
}

.icon-medical-negligence:before {
    content: "\e005"
}

.icon-kidney-urology:before {
    content: "\e006"
}

.icon-hematology:before {
    content: "\e007"
}

.icon-after-birth:before {
    content: "\e008"
}

.icon-breast-cancer:before {
    content: "\e009"
}

.icon-breast-feeding:before {
    content: "\e00a"
}

.icon-caesarean-section:before {
    content: "\e00b"
}

.icon-child-health::before, .icon-children-health::before {
    content: "\e00c";
    font-size: 1.15rem;
    top: -1px
}

.icon-genetics:before {
    content: "\e00d"
}

.icon-travel-guide:before {
    content: "\e00f"
}

.icon-first-trimester:before {
    content: "\e010"
}

.icon-signs-of-labor:before {
    content: "\e011"
}

.icon-skin-care:before {
    content: "\e012"
}

.icon-pediatrics:before {
    content: "\e013"
}

.icon-pre-pregnancy:before {
    content: "\e014"
}

.icon-health-pregnancy::before {
    content: "\e015";
    font-size: 1.3rem;
    right: -1px;
    top: -1px
}

.icon-infant-development:before {
    content: "\e016"
}

.icon-pregnancy-nutrition-and-sport:before {
    content: "\e017"
}

.icon-pregnancy-stages:before {
    content: "\e018"
}

.icon-infertility:before {
    content: "\e019"
}

.icon-pregnancy-symptoms:before {
    content: "\e01a"
}

.icon-pregnancy-tests:before {
    content: "\e01b"
}

.icon-quit-smoking:before {
    content: "\e01c"
}

.icon-family:before {
    content: "\e01d"
}

.icon-fertility:before {
    content: "\e01e"
}

.icon-men-only:before {
    content: "\e01f"
}

.icon-ramadan:before {
    content: "\e020"
}

.icon-ent:before {
    content: "\e021"
}

.icon-weight-loss:before {
    content: "\e022"
}

.icon-dermatology:before {
    content: "\e00e"
}

.icon-ovulation:before {
    content: "\e023"
}

.icon-infant-development-1:before {
    content: "\e024"
}

.icon-chinese:before {
    content: "\e025"
}

.icon-arr-v1:before {
    content: "\e026"
}

.icon-arr-v2:before {
    content: "\e027"
}

.icon-arr-v3:before {
    content: "\e028"
}

.icon-arr-v4:before {
    content: "\e029"
}

.icon-asset-9:before {
    content: "\e02a"
}

.icon-baby-development:before {
    content: "\e02b"
}

.icon-birth-date:before {
    content: "\e02c"
}

.icon-calendar:before {
    content: "\e02d"
}

.item-box a {
    color: #29333f
}

.small-thumb .strip {
    margin-bottom: 0
}

.items-boxes .column:last-child .item-box {
    margin-bottom: 0
}

.item-box {
    background: #fff none repeat scroll 0 0;
    float: right;
    height: auto;
    margin-bottom: .7rem;
    padding: .5rem .7rem .7rem;
    vertical-align: top;
    width: 100%
}

.ib-head {
    display: inline-block;
    margin-bottom: .3rem;
    width: 100%;
    overflow: visible
}

    .ib-head .category {
        float: right;
        padding-right: 22px;
        position: relative;
        top: -2px
    }

        .ib-head .category i {
            color: #2b5464;
            font-size: 1.1rem;
            line-height: 1;
            position: absolute;
            right: 0;
            top: 2px
        }

        .ib-head .category span {
            color: #2b5464;
            font-size: .9rem
        }

.item-box .title {
    font-size: 1.06rem;
    padding-top: .65rem;
    white-space: normal
}

.medium-up-3, .medium-up-3 > .column {
    overflow: hidden
}

.sidebar .ib-head, .small-thumb .ib-head {
    display: none
}

.sidebar .item-box .img-wrap, .small-thumb .item-box .img-wrap {
    height: 67px;
    position: absolute;
    right: .5rem;
    width: 81px
}

.sidebar .item-box, .small-thumb .item-box {
    min-height: 83px;
    padding-right: 99px;
    position: relative
}

.b-border {
    border-bottom: 3px solid #16c1f5;
    color: #2b5464;
    display: block;
    font-size: 1.3rem;
    margin-bottom: 1rem;
    margin-top: .5rem;
    padding-bottom: .3rem;
    position: relative
}

/* hr {
    background: #bcdee8 none repeat scroll 0 0;
    border: 0 none;
    height: 1px;
    display: inline-block;
    width: 100%
} */

.centered {
    display: table;
    margin-right: auto;
    margin-left: auto
}

.main-content {
    display: inline-block;
    width: 100%
}

.white-bg {
    background: #fff none repeat scroll 0 0;
    overflow: hidden
}

.hidden {
    display: none
}

.item-box .icon-play {
    display: inline-block;
    position: absolute;
    width: 68px;
    height: 68px;
    background: rgba(52,105,123,0.8);
    right: 50%;
    margin-right: -34px;
    margin-top: -34px;
    top: 50%;
    z-index: 10;
    border-radius: 100%;
    color: #fff;
    text-align: center;
    line-height: 76px;
    padding-left: .4rem;
    font-size: 1.8rem
}

.sidebar .item-box .icon-play {
    width: 44px;
    height: 44px;
    margin-right: -22px;
    margin-top: -22px;
    font-size: 1.2rem;
    line-height: 50px
}

.item-box .img-wrap {
    overflow: hidden;
    position: relative
}

    .item-box .img-wrap img {
        width: 100%
    }

.clear {
    clear: both
}

textarea:focus, input:focus {
    outline: none
}

.nl-widget img {
    float: right
}

.nl-widget {
    margin-bottom: .7rem
}

.m-overlay {
    background: #e3ecf0 none repeat scroll 0 0;
    height: 100%;
    width: 100%;
    position: fixed;
    right: 0;
    top: 45px;
    display: none
}

.nav-trigger:checked ~ .nav {
    display: inline-block
}

.nav-trigger:checked ~ .m-overlay {
    display: inline-block
}

.ad1 {
    display: table;
    width: 100%;
    text-align: center
}

    .ad1 > div {
        margin-bottom: .6rem;
        margin-top: .6rem
    }

.m-sticky {
    position: fixed;
    bottom: -15px;
    right: 50%;
    transform: translateX(50%);
    z-index: 10
}

@media only screen and (max-width:769px) {
    .adunit-container {
        margin: 1rem auto;
        width: auto;
        display: table
    }

    .head .logo {
        transform: translateX(50%)
    }

    .item-box .icon-play {
        transform: scale(0.7)
    }

    .main-interscroller {
        margin-bottom: 0 !important
    }
}

.select select {
    margin-bottom: 0
}

.select {
    margin-bottom: .7rem
}

.loading {
    text-align: center;
    width: 100px;
    padding: 10px;
    background: #fff;
    border-radius: 3px;
    margin-top: 2.5rem
}

    .loading img {
        margin-top: .6rem
    }

.adunit-210-34 {
    margin: 8px 0
}

li .adunit-300-250 {
    margin-left: 2rem
}

.lazy-load, .lazy-loaded {
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    -ms-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
    opacity: 0
}

.lazy-loaded {
    opacity: 1
}

#inlinequestions ul.list {
    background: #f7fafb none repeat scroll 0 0;
    padding: .5rem
}

/*     @font-face {
    font-family: 'lfont';
    src: url('https://static.webteb.net/fonts/do/lightb.woff2') format('woff2'),url('https://static.webteb.net/fonts/do/lightb.woff') format('woff');
    font-weight: 300;
    font-style: normal
}*/

@font-face {
    font-family: 'lfont';
    src: url('https://s3-eu-west-1.amazonaws.com/static.webteb/fonts/lightb.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'bfont';
    src: url('https://static.webteb.net/fonts/do/mediumb.woff2') format('woff2'),url('https://static.webteb.net/fonts/do/mediumb.woff') format('woff');
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: 'Roboto';
    src: url('https://static.webteb.net/fonts/roboto_lightb.woff2') format('woff2'),url('https://static.webteb.net/fonts/roboto_lightb.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2044
}

@font-face {
    font-family: 'Roboto';
    src: url('https://static.webteb.net/fonts/roboto_mediumb.woff2') format('woff2'),url('https://static.webteb.net/fonts/roboto_mediumb.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2044
}

@font-face {
    font-family: "iconfont";
    src: url("https://static.webteb.net/fonts/redesign8/iconfontb.eot");
    src: url("https://static.webteb.net/fonts/redesign8/iconfontb.eot?#iefix") format("embedded-opentype"),url("https://static.webteb.net/fonts/redesign8/iconfontb.woff") format("woff"),url("https://static.webteb.net/fonts/redesign8/iconfontb.ttf") format("truetype"),url("https://static.webteb.net/fonts/redesign8/iconfontb.svg#iconfont") format("svg");
    font-weight: 400;
    font-style: normal
}

.footer-top {
    background: #f7fafb none repeat scroll 0 0;
    margin-top: 1rem;
    padding: 1rem .6rem 1.2rem
}

.footer-bottom {
    padding: 1.4rem 1.2rem 1.2rem
}

.footer {
    text-align: center
}

.mayo-harvard a {
    float: right;
    margin: 0 .3rem
}

.footer .mayo-harvard {
    display: table;
    margin: 0 auto .7rem;
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    transform: scale(0.8)
}

.footer-links li {
    display: inline-block;
    margin: 0 .7rem .5rem;
    position: relative
}

    .footer-links li a {
        color: #80adb7;
        font-size: .85rem
    }

.footer-social a {
    background-color: #5e8091;
    border-radius: 2px;
    margin: 0 .2rem;
    width: 26px;
    height: 26px;
    color: #fff;
    text-align: center;
    line-height: 32px;
    display: inline-block
}

.footer-social i {
    font-size: 1.15rem
}

.footer-links li::before {
    background: #aec0c4 none repeat scroll 0 0;
    content: "";
    height: 11px;
    left: -0.8rem;
    position: absolute;
    top: 4px;
    width: 1px
}

.footer-links li.seperator-none::before {
    display: none
}

.footer-top p {
    color: #8fb2bc;
    font-size: .82rem;
    line-height: 1.3;
    margin-bottom: 0;
    margin-top: .5rem
}

.footer-bottom p {
    color: #5e8091;
    font-size: .85rem;
    margin-bottom: 0;
    margin-top: .1rem
}

.footer amp-social-share[type="twitter"] {
    background-size: 75% auto
}

.mayo-harvard img {
    border: 1px solid #d5dcdd;
    border-radius: 7px
}

.head .icon-burger::before {
    background: #69bd43 none repeat scroll 0 0;
    border-radius: 100%;
    color: #fff;
    font-size: .7rem;
    height: 29px;
    line-height: 29px;
    text-align: center;
    width: 29px;
    float: left;
    margin-top: .47rem
}

.head .nav .wrap {
    background: #fff none repeat scroll 0 0;
    border-radius: 3px;
    overflow: hidden;
    margin-bottom: 58px;
    direction: rtl
}

.head .nav {
    display: none;
    height: 100%;
    padding: 1rem;
    position: fixed;
    right: 0;
    top: 47px;
    width: 100%;
    z-index: 101;
    overflow-y: auto;
    background: rgba(227,236,240,0.9) none repeat scroll 0 0
}

.m-overlay {
    background: #e3ecf0 none repeat scroll 0 0;
    height: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0
}

.nav-trigger:checked ~ .nav, .nav-trigger:checked ~ .m-overlay {
    display: inline-block
}

.nav-trigger {
    display: none
}

.wrap .title {
    color: #29333f;
    display: block;
    height: 44px;
    line-height: 44px;
    padding-right: 60px;
    position: relative
}

.head .nav .title .icon {
    border-radius: 100%;
    color: #fff;
    display: inline-block;
    height: 28px;
    line-height: 33px;
    position: absolute;
    right: .9rem;
    text-align: center;
    top: .5rem;
    width: 28px
}

.wrap .title span {
    display: block;
    border-bottom: 1px solid #e2e2e2
}

.head .nav .title .icon.icon-baby {
    padding-left: .1rem;
    font-size: 1.1rem
}

.head .nav .title .icon.icon-lifestyle-1 {
    font-size: 1.15rem
}

.head .nav > ul > li:last-child .title span {
    border: 0 none
}

.head .nav .medical .icon {
    background: #16c1f5 none repeat scroll 0 0
}

.head .nav .baby .icon {
    background: #ee4682 none repeat scroll 0 0
}

.head .nav .lifestyle .icon {
    background: #2cbf6d none repeat scroll 0 0
}

.head .nav .multimedia .icon {
    background: #ff6950 none repeat scroll 0 0
}

.head .nav .general .icon {
    background: #78858f none repeat scroll 0 0
}

.head .nav .advertising .icon {
    background: #9d65c9 none repeat scroll 0 0
}

.head .nav ul.sub a {
    border-bottom: 1px solid #dce1e2;
    color: #2b5464;
    display: block;
    height: 43px;
    line-height: 43px;
    position: relative
}

.head .nav .sub {
    padding-right: 60px;
    padding-left: 1rem
}

.head .nav .icon-arrow-d {
    color: #899ea9;
    font-size: .6rem;
    left: .3rem;
    position: absolute;
    top: .25rem
}

.wrap > ul {
    position: relative
}

.head .nav a .icon.icon-multimedia {
    font-size: .9rem
}

.head .nav ul.sub a i.icon-cancer, .head .nav ul.sub a i.icon-older {
    font-size: 1.55rem
}

.head .nav ul.sub a i.icon-baby-dev {
    font-size: 1.6rem
}

.head .nav ul.sub a i.icon-new-born-dev {
    font-size: 1.65rem
}

.head .nav ul.sub a i.icon-babies, .head .nav ul.sub a i.icon-diseases {
    font-size: 1.35rem
}

.head .nav ul.sub a i.icon-diet, .head .nav ul.sub a i.icon-nutrition {
    font-size: 1.5rem
}

.head .nav ul.sub a i.icon-terms {
    font-size: 1.7rem;
    right: -2.8rem
}

.head .nav ul.sub a i.icon-articles {
    font-size: 1.25rem
}

.head .nav ul.sub a i.icon-infographic {
    font-size: 1.65rem;
    right: -2.5rem
}

.head .acc-head {
    background: transparent;
    border: 0;
    padding-right: 0;
    padding-left: 1rem;
    padding-bottom: 1px;
    width: 100%;
    position: relative;
    display: inline-block
}

.head .nav ul.sub a i {
    position: absolute;
    right: -2.6rem;
    top: .2rem;
    font-size: 1.4rem
}

    .head .nav ul.sub a i.icon-diabetes {
        font-size: 1.32rem
    }

    .head .nav ul.sub a i.icon-symptom {
        font-size: 1.55rem
    }

    .head .nav ul.sub a i.icon-sex {
        font-size: 1.5rem
    }

    .head .nav ul.sub a i.icon-alternative {
        font-size: 1.3rem
    }

    .head .nav ul.sub a i.icon-teeth {
        font-size: 1.3rem
    }

.head ul.last-child .title span {
    padding-bottom: 1px
}

.head ul.last-child section[expanded] .title span {
    padding-bottom: 0
}

.accordion-c .acc-content {
    display: none
}

.accordion-c input:checked + .acc-head + .acc-content {
    display: block
}

.nav-trigger:checked + .icon-burger::before {
    content: "×";
    font-size: 1.3rem;
    line-height: 22px;
    font-weight: 700
}

.head .nav input:checked + label .icon-arrow-d {
    transform: rotate(-180deg);
    top: .15rem;
    color: #fff
}

.wrap input:checked + label .title {
    color: #fff
}

    .wrap input:checked + label .title span {
        border-bottom: 0
    }

.nav .medical input:checked + .acc-head {
    background: #16c1f5
}

.head .nav .medical input:checked + label .icon {
    background: #fff;
    color: #16c1f5
}

.nav .lifestyle input:checked + .acc-head {
    background: #69bd43
}

.head .nav .lifestyle input:checked + label .icon {
    background: #fff;
    color: #69bd43
}

.nav .baby input:checked + .acc-head {
    background: #ee4682
}

.head .nav .baby input:checked + label .icon {
    background: #fff;
    color: #ee4682
}

.nav .multimedia input:checked + .acc-head {
    background: #ff6950
}

.head .nav .multimedia input:checked + label .icon {
    background: #fff;
    color: #ff6950
}

.nav .general input:checked + .acc-head {
    background: #5a6a81
}

.head .nav .general input:checked + label .icon {
    background: #fff;
    color: #5a6a81
}

.sub.acc-content.last .border-none {
    border-bottom: 0
}

@font-face {
    font-family: "names-i";
    src: url("https://static.webteb.net/new-webteb/names/iconfontb.eot");
    src: url("https://static.webteb.net/new-webteb/names/iconfontb.eot?#iefix") format("embedded-opentype"),url("https://static.webteb.net/new-webteb/names/iconfontb.woff") format("woff"),url("https://static.webteb.net/new-webteb/names/iconfontb.ttf") format("truetype"),url("https://static.webteb.net/new-webteb/names/iconfontb.svg#iconfont") format("svg");
    font-weight: 400;
    font-style: normal
}

li.baby .i-icon-both::before {
    content: "\62";
    font-family: "names-i" !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.9rem;
    right: -6px;
    position: relative;
    top: 4px
}

.head .nav .ramadan .icon {
    background: #7FACEE none repeat scroll 0 0
}

ramadan-link {
    color: #405677
}

.ramadan-link i {
    color: #7FACEE
}

.head .nav .home .icon {
    background: #7FACEE none repeat scroll 0 0
}

@font-face {
    font-family: 'Community2';
    src: url('https://static.webteb.net/fonts/newMenuIcons/Community2b.eot?trj70h');
    src: url('https://static.webteb.net/fonts/newMenuIcons/Community2b.eot?trj70h#iefix') format('embedded-opentype'),url('https://static.webteb.net/fonts/newMenuIcons/Community2b.ttf?trj70h') format('truetype'),url('https://static.webteb.net/fonts/newMenuIcons/Community2b.woff?trj70h') format('woff'),url('https://static.webteb.net/fonts/newMenuIcons/Community2b.svg?trj70h#Community2') format('svg');
    font-weight: 400;
    font-style: normal
}

[class^="nm-icon-"], [class*=" nm-icon-"] {
    font-family: 'Community2' !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.nm-icon-Community:before {
    content: "\e900";
    color: #fff
}

.head .nav .communities .icon {
    background: #f59a00 none repeat scroll 0 0
}

@charset "UTF-8";

@font-face {
    font-family: "blog";
    src: url("https://static.webteb.net/fonts/newMenuIcons/BlogIcon/blogb.eot");
    src: url("https://static.webteb.net/fonts/newMenuIcons/BlogIcon/blogb.eot?#iefix") format("embedded-opentype"),url("https://static.webteb.net/fonts/newMenuIcons/BlogIcon/blogb.woff") format("woff"),url("https://static.webteb.net/fonts/newMenuIcons/BlogIcon/blogb.ttf") format("truetype"),url("https://static.webteb.net/fonts/newMenuIcons/BlogIcon/blogb.svg#blog") format("svg");
    font-weight: 400;
    font-style: normal
}

[data-icon]:before {
    font-family: "blog" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: 400 !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

[class^="blog-icon-"]:before, [class*=" blog-icon-"]:before {
    font-family: "blog" !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.blog-icon-microphone:before {
    content: "\61"
}

.blog-icon-mic-c:before {
    content: "\62"
}

.blog-icon-mic-a:before {
    content: "\63"
}

.blog-icon-micro-record-streamline:before {
    content: "\64"
}

.blog-icon-mic:before {
    content: "\65"
}

.blog-icon-mute-off:before {
    content: "\66"
}

.blog-icon-micro:before {
    content: "\67"
}

.head .nav .blogs .icon {
    background: #007292 none repeat scroll 0 0
}

@media only screen and (max-width:48rem) {
    .head .nav .communities .nm-icon-Community::before {
        bottom: .2rem;
        font-size: .8rem;
        position: relative
    }
}

@media only screen and (min-width:769px) {
    .medium-up-2 > .column {
        width: 50%
    }

    .medium-up-3 > .column {
        width: 33.3333%
    }

    .medium-up-4 > .column {
        width: 25%
    }

    .medium-up-6 > .column {
        width: 16.6666%
    }

    .medium-up-7 > .column {
        width: 14.2857%
    }

    [class*="medium-up"] {
        margin-right: -0.33rem;
        margin-left: -0.33rem;
        overflow: hidden
    }

    .collapse[class*="medium-up"] {
        margin-right: 0;
        margin-left: 0
    }

    [class*="medium-up"] > .column {
        float: right;
        padding-left: .33rem;
        padding-right: .33rem
    }

    .boxed, .container > .boxed {
        float: none;
        margin: 0 auto;
        overflow: hidden;
        width: 1060px
    }

    .padding {
        padding: 0
    }

    .item-box .title {
        font-size: 1.2rem;
        padding-top: .6rem
    }

    .ib-head .category span {
        font-size: .98rem
    }

    .ib-head .social span {
        font-size: .75rem
    }

    .button {
        font-size: 1rem
    }

    .strip-head > .title {
        font-size: 1.7rem
    }

    .medium-up-5 .column {
        width: 20%
    }

    button {
        cursor: pointer
    }

    .list a {
        padding-bottom: .8rem;
        padding-top: .9rem;
        font-size: 1.2rem
    }

    .list li i {
        font-size: .9rem;
        left: 0;
        margin-top: -7px
    }

    .list > li:hover {
        background: #f9f9f9
    }

    .main-content {
        float: right;
        width: 680px
    }

        .main-content.full-width {
            width: 100%
        }

    .sidebar {
        float: left;
        width: 332px
    }

        .sidebar .strip-head .title {
            font-size: 1.45rem;
            padding-bottom: .35rem;
            padding-top: .3rem;
            margin: 0
        }

    .item-box {
        height: 278px
    }

    .small-thumb .item-box .img-wrap, .sidebar .item-box .img-wrap {
        height: 103px;
        width: 125px
    }

    .small-thumb .item-box, .sidebar .item-box {
        min-height: 119px;
        padding-right: 143px;
        height: auto
    }

    .top-bar a:hover, .footer-links a:hover, .content a:hover, amp-social-share:hover, .icon-burger:hover, .log-in > a:hover {
        opacity: .8
    }

    .cube-links a:hover {
        opacity: .7
    }

    .ib-head .category:hover span, .ib-head .category:hover i {
        color: #1f93ad
    }

    .b-border {
        font-size: 1.7rem;
        padding-bottom: .5rem
    }

    .wrap > ul > li {
        float: right;
        width: 50%;
        padding: 0 1rem 1rem
    }

    .wrap > ul.last-child .title span {
        border-bottom: 0
    }

    .head .nav ul.sub a.fix-lh {
        line-height: inherit;
        margin-top: .4rem
    }

    .ib-head .category i {
        font-size: 1.2rem;
        top: 1px
    }

    .ib-head .category {
        padding-right: 25px
    }

        .ib-head .category i.icon-children-healthcare {
            font-size: 1.1rem;
            top: 3px
        }

        .ib-head .category i.icon-diet {
            font-size: 1.3rem
        }

        .ib-head .category i.icon-cancer {
            font-size: 1.35rem
        }

        .ib-head .category i.icon-general-health {
            font-size: 1.1rem;
            top: 3px
        }

        .ib-head .category i.icon-child-development {
            font-size: 1.35rem;
            top: 0
        }

    @media only screen and (max-width:1203px) {
        .menu .text {
            display: none
        }

        .head.sticky {
            min-width: 940px
        }
    }

    .d-leaderboard {
        display: table;
        width: 100%;
        text-align: center
    }

        .d-leaderboard > div {
            margin: .6rem auto .6rem auto
        }

    .ad2 {
        display: table;
        text-align: center;
        width: 100%
    }

        .ad2 > div {
            margin-top: .6rem;
            margin-bottom: .6rem
        }

    .sidebar .adunit-container {
        text-align: center;
        background: #f1f1f1;
        margin-bottom: .7rem;
        padding-top: 1rem;
        padding-bottom: 1rem
    }

    .m-overlay {
        top: 0;
        background: rgba(227,236,240,0.9) none repeat scroll 0 0;
        height: 1000px;
        width: 100%;
        right: 0;
        display: none
    }

    input:checked ~ .nav .m-overlay {
        display: inline-block
    }
}

.desc {
    font-size: 1.2rem
}

.sidebar [class*="medium-up"] {
    margin-right: 0;
    margin-left: 0
}

    .sidebar [class*="medium-up"] > .column {
        width: 100%;
        padding-right: 0;
        padding-left: 0
    }

.ad2 .boxed > div {
    float: right
}

.top-bar {
    background: #2b5464 none repeat scroll 0 0
}

    .top-bar a, .top-bar .menu label {
        color: #fff;
        line-height: 1.4;
        text-align: center;
        text-decoration: none;
        position: relative;
        float: right;
        width: 100%;
        height: 59px;
        padding-top: .95rem
    }

        .top-bar a i, .top-bar label i {
            color: #bcdee8;
            float: right;
            height: 25px;
            font-size: 2.8rem;
            position: absolute !important;
            top: -5px;
            height: 32px;
            right: 0;
            width: auto;
            margin: 0
        }

    .top-bar .icon-medical {
        position: relative;
        font-size: 1.45rem;
        top: 2px;
        right: 2px
    }

    .top-bar .icon-lifestyle-1 {
        font-size: 1.9rem;
        top: -4px;
        right: 1px
    }

    .top-bar .icon-baby {
        margin-right: -4px;
        font-size: 2.02rem;
        top: -3px
    }

    .top-bar .icon-diseases {
        position: relative;
        font-size: 1.65rem;
        top: -1px;
        right: 2px
    }

    .top-bar .icon-drugs {
        position: relative;
        font-size: 1.79rem;
        top: -2px
    }

    .top-bar a::before, .top-bar label::before {
        background: #4e7d8d none repeat scroll 0 0;
        content: "";
        height: 34px;
        left: 1px;
        position: absolute;
        width: 1px;
        top: 12px;
        display: inline-block
    }

    .top-bar .column {
        padding: 0
    }

.logo h1 {
    margin: 0
}

.medium-up-8 .column {
    width: 12.5%
}

.top-bar a span, .top-bar label span {
    font-size: 1.18rem;
    width: auto;
    position: relative;
    padding-right: 38px;
    display: table;
    margin: 0 auto;
    float: none
}

.top-bar .icon-video {
    font-size: 2.5rem;
    top: 4px
}

.top-bar.icon-slideshows {
    font-size: 2.5rem;
    top: 2px
}

.top-bar .first-child a::after {
    background: #4e7d8d none repeat scroll 0 0;
    content: "";
    height: 34px;
    right: 0;
    position: absolute;
    width: 1px;
    top: 12px
}

.top-bar [class*="medium-up"] {
    margin: 0;
    overflow: visible
}

.top-bar [class*="small-up-"] {
    margin: 0
}

.slide.two {
    margin-right: 33px
}

.top-bar .slide .medium-up-8 .column:last-child a::before {
    display: none
}

.icon-burger::before {
    content: "\23"
}

.top-bar .icon-burger {
    font-size: 1.3rem;
    top: 4px
}

.top-bar label span {
    padding-right: 31px;
    cursor: pointer
}

.top-bar label:hover {
    opacity: .8
}

.head .nav ul.sub a {
    padding-right: 2rem;
    padding-left: .5rem
}

    .head .nav ul.sub a i, .head .nav ul.sub a i.icon-infographic {
        right: 0
    }

        .head .nav ul.sub a i.icon-terms {
            right: -0.4rem
        }

        .head .nav ul.sub a i.nm-icon-Community {
            font-size: 1.3rem;
            top: .6rem;
            right: -2px
        }

            .head .nav ul.sub a i.nm-icon-Community::before {
                color: #2b5464
            }

        .head .nav ul.sub a i.blog-icon-micro-record-streamline::before {
            color: #2b5464
        }

@media only screen and (max-width:1020px) {
    .top-bar {
        display: none
    }
}

.head .nav {
    padding: 3rem 0 0;
    top: 0;
    overflow-y: auto;
    direction: ltr
}

.wrap > ul {
    float: right;
    width: 100%;
    margin-bottom: 1.2rem
}

.head .nav .icon-arrow-d {
    display: none
}

.nav .acc-content {
    display: block
}

.wrap .title {
    color: #2b5464;
    font-size: 1.37rem;
    padding-right: 0;
    font-family: "roboto",bfont;
    font-weight: 400
}

.wrap .medical .title {
    border-bottom: 3px solid #16c1f5
}

.wrap .baby .title {
    border-bottom: 3px solid #ee4682
}

.wrap .lifestyle .title {
    border-bottom: 3px solid #23BA9B
}

.wrap .multimedia .title {
    border-bottom: 3px solid #ff6950
}

.wrap .general .title {
    border-bottom: 3px solid #5a6a81
}

.wrap .communities .title {
    border-bottom: 3px solid #EA4B6D
}

.head .nav ul.sub a:hover {
    background: #f9f9f9
}

.wrap > ul.last-child > li {
    width: 100%
}

.head .general .sub {
    float: right;
    width: 50%
}

.head .nav ul.sub a.border-none {
    border-bottom: 0
}

.head .general .sub.first {
    padding-left: 1rem
}

.head .general .sub.last {
    padding-right: 1rem
}

.head .nav a .icon {
    display: none
}

.head .nav .sub {
    padding-right: 0
}

    .head .nav .sub > li {
        float: right;
        width: 50%
    }

.head .nav .wrap {
    margin: 0 auto;
    padding: 1rem;
    width: 850px;
    position: relative;
    margin-bottom: 3rem
}

.nav .close-b {
    margin: 0 auto;
    position: relative;
    text-align: left;
    width: 850px
}

    .nav .close-b label {
        color: #cbd5d8;
        cursor: pointer;
        font-size: 3rem;
        left: 10px;
        line-height: 1.5rem;
        position: absolute;
        top: 7px;
        z-index: 10
    }

.wrap > ul.last-child {
    margin-bottom: 0
}

.footer-links li.seperator-none::before {
    display: inline-block
}

.footer .mayo-harvard {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1)
}

.footer-links li:last-child::before {
    display: none
}

.footer-links li a {
    font-size: 1.25rem
}

.footer-links li::before {
    height: 16px;
    left: -1.8rem
}

.footer .logo {
    float: right;
    margin-left: 68px;
    margin-top: 1rem;
    width: 160px
}

.footer-top p {
    float: right;
    font-size: 1.1rem;
    margin-top: 1rem;
    width: 640px
}

.footer {
    text-align: right
}

.footer-social {
    float: left
}

.mayo-harvard {
    float: left
}

.footer-bottom p {
    font-size: 1rem
}

.footer-links li {
    margin: 0 0 0 3.3rem
}

    .footer-links li:last-child {
        margin-left: 0
    }

.footer-links {
    margin-bottom: 2rem
}

.footer-top {
    padding: 3rem 0 1.5rem
}

.footer-bottom {
    padding: .8rem 0 .6rem
}


.site-search {
    float: left;
    width: 356px;
    margin-top: 15px
}


.membership .log-in a i {
    top: 4px;
    position: relative
}

    .membership .log-in a i.icon-arrow {
        margin-left: .1rem
    }



#Header {
    position: fixed;
    transition: transform .32s ease-in-out;
    transform: translateY(-83px);
    border-bottom: 0;
    box-shadow: 0 0 5px rgba(0,0,0,.25)
}

    #Header .boxed {
        max-width: 1400px;
        width: 100%;
        padding: 0 30px
    }

    #Header.sticky {
        transform: translateY(0)
    }

.site-search form {
    position: relative
}

.site-search .button {
    position: absolute;
    left: 0;
    top: 0;
    width: 55px;
    height: 44px;
    background: #16c1f5;
    color: #fff;
    border-radius: 22px 0 0 22px
}

.site-search input {
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
    height: 44px;
    border: 1px solid #e4eef2;
    background: #f7fafb;
    border-bottom-right-radius: 16px;
    margin: 0;
    font-size: 23px;
    padding-right: 15px;
    transition: border .15s linear
}

.site-search .icon-search {
    font-size: 1.35rem;
    margin-top: 5px;
    display: inline-block;
    margin-left: 2px
}

.site-search input::-moz-placeholder {
    color: #96a6aa
}

.site-search input::-webkit-input-placeholder {
    color: #96a6aa
}

.membership a {
    border-radius: 5px;
    float: right;
    height: 33px;
    line-height: 31px;
    text-align: center;
    font-size: 14px
}

.newsletter-b {
    background: #16c1f5;
    color: #fff;
    margin-right: 15px;
    padding: 0 .8rem
}

.membership .log-in {
    float: right
}

    .membership .log-in a {
        border: 1px solid #16c1f5;
        width: 82px;
        height: 32.5px;
        margin: 0 4px;
        line-height: 1.6rem
    }

.newsletter-b:hover, .site-search .button:hover {
    background: #03aadd
}

.site-search input:focus {
    border-color: #16c1f5
}

.d-header .slogan .webteb-span {
    padding-left: 17px;
    position: relative;
    float: right;
    font-size: 20px;
    color: #2b5464;
    margin: 0;
    font-weight: 400;
    position: relative
}

    .d-header .slogan .webteb-span::before {
        background: #b6c2c6 none repeat scroll 0 0;
        content: "";
        height: 12px;
        left: 8px;
        position: absolute;
        top: 9px;
        width: 1px
    }

.d-header .social {
    float: left;
    margin-top: 21px
}

    .d-header .social a {
        width: 32px;
        height: 32px;
        border-radius: 5px;
        text-align: center;
        line-height: 36px;
        color: #fff;
        float: right;
        margin: 0 4px
    }

    .d-header .social .facebook {
        background: #3289da
    }

    .d-header .social .twitter {
        background: #16c1f5
    }



.search-form input {
    -webkit-appearance: none
}

.search-form form {
    position: relative
}

#sitesearch label {
    position: absolute;
    left: 19px;
    top: 6px
}

.head-search .search-form {
    margin-top: 8px;
    width: 100%;
    float: left;
    padding-left: 1rem;
    visibility: hidden;
    opacity: .5;
    transition: all .1s linear
}

.overlay.search-unactive {
    background: rgba(255,255,255,0.75);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    display: none;
    margin-top: 47px;
    z-index: 200
}

.head .head-search {
    float: left;
    width: 50%;
    transition: width .15s linear
}

#SearchActive:checked ~ .head-search {
    width: 100%
}

#SearchActive:checked ~ .menu {
    margin-right: -50px
}

#SearchActive:checked ~ .logo {
    transform: translateX(0);
    right: 1rem
}

#SearchActive:checked ~ .head-search .search-form {
    visibility: visible;
    opacity: 1
}

#SearchActive:checked ~ .overlay.search-unactive {
    display: inline-block
}

@media only screen and (max-width:1020px) {
    #Header {
        display: none
    }
}

#leaderboard {
    position: relative;
    top: initial;
    z-index: 1;
    background-color: initial;
    padding-top: initial
}

.leaderboard-sticky {
    position: fixed !important;
    top: 0 !important;
    z-index: 101 !important;
    background-color: #fff !important
}

.leaderboard-reinit {
    position: relative !important;
    top: initial !important;
    z-index: 1 !important;
    background-color: initial !important;
    padding-top: initial !important
}

.d-leaderboard-container {
    height: 109px;
    width: 100%;
    display: table
}

.hero-search {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,0.82+75 */
    /* background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.95) 75%, rgba(255,255,255, 1) 100%),url('../img/doctors-in.jpg'); /* FF3.6-15 */
    /* background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.95) 75%,rgba(255,255,255,1) 100%),url('../img/doctors-in.jpg'); Chrome10-25,Safari5.1-6 */
    /* background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.95) 75%,rgba(255,255,255,1) 100%),url('../img/doctors-in.jpg'); W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#d1ffffff',GradientType=1 ); IE6-9 */ */


    /*background-image: url('../img/doctors-in.jpg');*/
    /*background-image:*/
    /*        linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),*/
    /*        url('../img/doctors-in.jpg');*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;

}
