/*** Doctor Profile ***/
.doctor-info-part {
  text-align: center;
}
.nav-tag,
.back-tag {
  border-radius: 6px;
  background-color: #f1f3f6;
}
.back-tag::before {
  content: "\276F";
  height: 2em;
  color: var(--jamboobtn);
  margin-right: 14px;
  transform: rotate(180deg);
}
.nav-tag::after {
  content: "\276F";
  height: 2em;
  color: var(--jamboobtn);
  margin-left: 14px;
}
.doctor-image {
  text-align: center;
}
.doctor-image img {
  height: 83px;
  width: 83px;
  object-fit: cover;
}
/* start  .visitor-image  style*/
.visitor-image {
  text-align: center;
  margin-top: 24px;
}
/* end  .visitor-image  style*/
/* start  .visitor-image img style*/
.visitor-image img {
  height: 50px;
  width: 50px;
  object-fit: cover;
}
/* end  .visitor-image img style*/
.doctor-social-links a {
  margin-left: 16px;
}
.doctor-share {
  margin-bottom: 32px;
}
.doctor-share a {
  margin-top: 12px;
  color: var(--jamboobtn);
}
.doctor-share img {
  margin-left: 8px;
}

/*** Tabs ***/
.doctor-tabs .tabs {
  overflow-x: auto;
}
.doctor-tabs .tabs .tabs-links {
  display: inline-flex;
  align-items: center;
  width: 600px;
}

.doctor-tabs .tabs .tab {
  height: 48px;
  min-width: 120px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  color: var(--black);
  text-decoration: none;
  background-color: #f1f3f6;
  border: 1px solid #bbc5d0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab-content {
  display: none;
}
.tab-content.active {
  display: block;
}
.tab.active {
  font-weight: bold;
  box-shadow: 0px -5px 0px 0px var(--jamboobtn) inset;
}
.tab-content h2 {
  font-size: 20px;
}
.clinic-name {
  margin-top: 32px;
  margin-bottom: 16px;
}

.clinic-info ul {
  list-style: none;
  padding-right: 30px;
}

.clinic-info ul li {
  position: relative;
  margin-bottom: 16px;
}

.clinic-info .clinic-info-location:before {
  content: url("../img/location_on-deepblue.svg");
  position: absolute;
  right: -32px;
  top: 4px;
}
.clinic-info .clinic-info-googlemap {
  color: var(--jamboobtn);
  font-weight: bold;
}
.clinic-info .clinic-info-nearme:before {
  position: absolute;
  content: url("../img/assistant_direction-24px.svg");
  right: -32px;
  top: 4px;
}
.clinic-info .clinic-info-nearme {
  font-weight: bold;
}
.clinic-info .clinic-info-googlemap:before {
  position: absolute;
  content: url("../img/assistant_direction-24px.svg");
  right: -32px;
  top: 4px;
}

.clinic-number {
  font-size: 16px;
  font-weight: bold;
  border: 1px solid var(--jamboobtn);
  border-radius: 20px;
  display: inline-flex;
  padding: 5px 16px;
  direction: ltr;
  background-color: rgba(187, 197, 208, 0.1);
}
.clinic-number img {
  margin-left: 11px;
}
.clinic-time {
  /*font-weight: bold;*/
}
.clinic-time ul li {
  margin-bottom: 16px;
}

.insurance-companies ul li {
  margin-bottom: 8px;
}
.clinic-services {
  margin-top: 32px;
}
.clinic-services ul li {
  padding: 16px;
  border: 1px solid rgba(119, 140, 162, 0.1);
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
}

.clinic-services ul li:first-child {
  border-top: 1px solid rgba(119, 140, 162, 0.1);
}

.load-more {
  line-height: 36px;
  font-weight: bold;
  color: var(--jamboobtn);
  text-decoration: none;
}
.load-more:visited {
  color: var(--jamboobtn);
}
.doctor-prizes .prize-images {
  display: inline-flex;
  flex-wrap: wrap;
}
.doctor-prizes .prize-images img {
  width: 155px;
  height: 110px;
  margin-left: 16px;
  margin-bottom: 35px;
  cursor: pointer;
}
.img-square {
  height: 40px;
  width: 40px;
  border-radius: 4px;
}
.doctor-answers {
  border-radius: 4px;
  margin-bottom: 24px;
}

.doctor-answers .article-title-info {
  font-size: 16px;
  color: var(--jamboobtn);
  padding-right: 8px;
  margin: 0;
}
.doctor-answers .article-time-info {
  color: rgba(1, 46, 87, 0.6);
  font-size: 10px;
  position: absolute;
  right: 8px;
  top: 20px;
}
.answers-article {
  list-style: none;
  margin-bottom: 16px;
  padding-right: 0;
}
.answers-article li {
  border: 1px solid #e4e9f9;
  margin-bottom: 16px;
}
.answers-article .article-head {
  border-bottom: 1px solid #e4e9f9;
  padding: 16px 20px;
}
.article-answer {
  margin-bottom: 32px;
}
.answer-text p {
  font-size: 16px;
  line-height: 22px;
  padding: 0 16px;
}
.reply-answers {
  padding: 16px 20px;
}
.reply-answers .reply-user .circle-img {
  width: 40px;
  height: 40px;
}
.reply-name {
  font-size: 16px;
  color: var(--jamboobtn);
  font-weight: bold;
}
.reply-time {
  position: absolute;
  left: 15px;
  font-size: 10px;
  color: #00000080;
}

.replay-menu {
  position: absolute;
  top: 0;
  left: 24px;
  height: 97px;
  width: 274px;
  max-width: 68vw;
  border-radius: 6px;
  background-color: #ffffff;
  box-shadow: 0 2px 25px 0 rgba(0, 0, 0, 0.1);
}
.replay-option {
  border-radius: 50%;
}
.replay-option:hover {
  background-color: rgba(128, 128, 128, 0.548);
}
.clinic-card .collapsible:after {
  content: "\276F";
  width: 2em;
  height: 2em;
  text-align: center;
  color: var(--jamboobtn);
  transform-origin: center;
  transform: rotate(-90deg);
}
.day {
  width: 60px;
}
.clinic-card .collapsible.active:after {
  transform: rotate(90deg);
}
/************* EDIT DOCTOR > **********/
.steps-blk {
  padding-top: 30px;
}
.steps-button {
  text-align: right;
}
.file {
  visibility: hidden;
  position: absolute;
  width: 1px;
}

.img-thumbnail {
  width: 96px;
  height: 96px;
  object-fit: cover;
  border-radius: 100%;
}

.image-part {
  text-align: right;
}

.img-preview-blk {
  text-align: right;
  padding: 32px 0;
}
.browse-btn-outline {
  position: relative;
  height: 32px;
  width: 124px;
  border-radius: 24px;
  color: var(--white);
  background-color: var(--jamboobtn);
  font-size: 14px;
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
  border: none;
  font-family: var(--mainfont);
  align-items: center;
  padding-right: 33px;
}

.btn-add img {
  position: absolute;
  width: 23px;
  right: 8px;
  top: 3px;
}
.browse-btn {
  font-family: var(--mainfont);
  color: var(--jamboobtn);
  background-color: transparent;
  font-size: 18px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.multiple-select {
  width: 100%;
  max-width: 330px;
}
.select2-dropdown .select2-results__option {
  position: relative;
}
.gender-part span.select2.select2-container.select2-container--default {
  width: 330px !important;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  padding-right: 17px;
}

span.select2.select2-container.select2-container--default {
  width: 330px !important;
}

.select2-container .select2-selection--single {
  padding-top: 12px;
  margin-bottom: 16px;
}

.next-back-blk {
  margin: 30px 0;
}

.doctor-edit {
  position: relative;
  height: 32px;
  width: 124px;
  border-radius: 24px;
  color: var(--white);
  background-color: var(--jamboobtn);
  margin: 18px auto;
  font-size: 14px;
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
}

.doctor-edit img {
  position: absolute;
  width: 23px;
  right: 8px;
  top: 5px;
}
.doctor-edit .text {
  font-weight: bold;
  padding-right: 32px;
}

.clinic-main,
.clinic-time,
.insurance-companies,
.clinic-services,
.doctor-about,
.doctor-prizes,
.other-articles {
  position: relative;
}
.edit-pen-blk {
  position: absolute;
  left: 12px;
  top: 16px;
}

.edit-pen-blk .edit-pen {
  color: var(--jamboobtn);
  font-weight: bold;
  cursor: pointer;
}
.edit-pen-blk .edit-pen img {
  position: absolute;
  right: -26px;
  top: 4px;
}

.main-collapse {
  position: relative;
  background-color: rgba(0, 121, 171, 0.1);
  padding: 6px 8px;
  border-radius: 5px;
}
.sub-collapse {
}
.sub-collapse h2 {
  line-height: 36px;
  font-size: 18px;
  cursor: pointer;
}
.main-collapse h2 {
  margin: 0;
  line-height: 36px;
  font-size: 18px;
}
.accordion-collapse.open .sub-collapse-icon {
  transform: unset;
}
.accordion-collapse .sub-collapse-icon {
  transition: all 0.5s ease-in-out;
  transform: translateY(-6px) scale(-1);
}
.accordion-collapse .sub-collapse-icon img {
  width: 16px;
}
.sub-collapse-icon {
  position: absolute;
  left: 16px;
  top: 12px;
}
.collapse-1 {
  margin-bottom: 0;
}
.collapse-1.open {
  margin-bottom: 50px;
}
.doctor-personal input[type="text"] {
  padding-right: 15px;
}

.select2-container--default .select2-selection--multiple {
  margin-bottom: 16px;
  direction: rtl;
}
.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice {
  padding-left: 12px;
}

accordion-collapse.open .main-collapse-content {
  max-height: 1500px !important;
}

.doctor-personal label {
  margin-bottom: 8px;
}

.doctor-personal .img-preview-blk .browse-btn-outline {
  margin: 0 auto;
}
.doctor-personal .img-preview-blk {
  text-align: center;
}

.doctor-personal .social-part ul li {
  margin-bottom: 16px;
}

.social-input {
  height: 35px !important;
  text-align: left;
  width: 100%;
  min-width: 250px;
  margin-right: 15px;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid rgba(0, 121, 171, 0.1);
}

.doctor-services .select2-container--default .select2-selection--multiple {
  height: auto;
  min-height: 48px;
}

.select2-container .select2-search--inline .select2-search__field {
  position: unset;
}

.doctor-services .gray-line {
  margin: 32px 0;
}
.doctor-services label {
  margin-bottom: 10px;
}
.doctor-services .steps-blk {
  margin-bottom: 10px;
}

.doctor-articles {
  gap: 10px 20px;
}

.doctor-article img {
  width: 155px;
  height: 110px;
}

.doctor-article h6 {
  font-size: 16px;
  color: var(--jamboobtn);
  margin: 8px 0;
}
.other-articles li {
  padding: 16px 16px;
  border-bottom: 1px solid #e4e9f9;
}
.other-articles li a {
  font-size: 16px;
  color: var(--jamboobtn);
}
.video-part {
  position: relative;
  display: inline-flex;
}
.video-part .play-icon {
  position: absolute;
  right: 38%;
  top: 30%;
}

.video-part .play-icon img {
  width: 41px;
  height: 41px;
}

.video-part .video-img {
}

.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  overflow: hidden;
}

.text-area {
  resize: none;
  font-family: var(--mainfont);
  box-sizing: border-box;
  padding: 15px 12px;
  min-height: 140px;
  line-height: 24px;
  min-width: 328px;
  font-size: 16px;
  border: 1px solid #bbc5d0;
  border-radius: 5px;
  background-color: #ffffff;
}

.edit-articles .edit-article {
  border: 1px solid #cbd3db;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.edit-articles .edit-article img {
  width: 90px;
  height: 120px;
  object-fit: cover;
}

.edit-articles-blk .edit-articles,
.edit-articles-blk .clinic-services {
  padding: 15px;
}

.edit-articles-blk .clinic-services,
.edit-articles-blk .edit-articles {
  height: auto;
}

.edit-clinic-blk
  .phone-part
  span.select2.select2-container.select2-container--default {
  width: 130px !important;
}

.available-time-part label {
  display: block;
  color: #6d7278;
  padding-right: 5px;
}

.available-time-part .available-time {
  display: inline-flex;
  margin-bottom: 20px;
}
.available-time-part .available-time input[type="radio"] {
  margin-top: 10px;
}
.available-time-part label span {
  display: inline-flex;
}
.available-time-part label .title {
  font-weight: bold;
}

.available-time-part input[type="radio"]:checked + label {
  color: var(--black);
}

.available-time-part input[type="radio"] {
  height: auto;
}
.available-time-part .available-time-table {
  display: block;
  width: 100%;
}

.available-time-part .available-time-list {
  list-style: none;
  padding-right: 0;
}
.available-time-part .available-time-list li {
  padding: 8px 0;
  border-bottom: 1px solid rgba(119, 140, 162, 0.1);
}

.available-time-part .available-time-list li input[type="checkbox"]:checked {
  font-weight: bold;
}

.available-day label,
.available-day input[type="radio"] {
  color: var(--black);
  display: inline-flex;
}
.available-day .from-time input[type="checkbox"] {
  color: var(--jamboobtn);
  height: auto;
  font-size: 14px;
}
.available-time-part
  .available-time-list
  li
  input[type="checkbox"]:checked
  + label {
  font-weight: bold;
}

.available-hours-part .from-time {
  padding-right: 30px;
}

.available-hours {
  position: relative;
}
.available-hours .close-icon {
  position: absolute;
  right: 308px;
  top: 14px;
  cursor: pointer;
}

.available-hours-part .from-time .close-icon {
  position: absolute;
  right: 350px;
}

.available-hours-part .from-time .from-time-text {
  display: block;
  color: #6d7278;
  font-size: 12px;
}
.available-hours {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}
.available-day {
  position: relative;
}
.available-day .add-hours {
  position: absolute;
  left: 0;
  top: -12px;
}
.available-day input[type="checkbox"] {
  height: auto;
  cursor: pointer;
}

.available-hours .from-time:last-child {
  padding-left: 60px;
}

.available-hours .from-time input[type="time"] {
  border: none;
}

.available-hours-part .available-hours ul li {
  border-bottom: 0;
}
/************* EDIT DOCTOR < **********/

/* Rating Star Widgets Style */
.rating-stars ul {
  list-style-type: none;
  padding: 0;

  -moz-user-select: none;
  -webkit-user-select: none;
  display: flex;
  justify-content: space-between;
  height: 2em;
}
/* .rating-stars ul li{
      margin: 0px 10px ;
  } */
.rating-stars ul > li.star {
  display: flex;
  padding: 0px 2px;
  align-items: center;
}
#rating-column .rating-stars {
  display: block;
  max-width: 300px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
}
/* Idle State of the stars */
.rating-stars ul > li.star > i.icon-star {
  font-size: 2em; /* Change the size of the stars */
  color: #ccc; /* Color on idle state */
}

/* Hover state of the stars */
.rating-stars ul > li.star.hover > i.icon-star {
  color: #ffcc36;
}

/* Selected state of the stars */
.rating-stars ul > li.star.selected > i.icon-star {
  color: #f7b500;
}
.text-center {
  text-align: center;
}

.rating-tag {
  display: flex;
  color: #ccc;
  justify-content: space-between;
}
.rated-field {
  border-radius: 20px;
  background-color: rgba(0, 121, 171, 0.1);
  color: #0079ab;
  height: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.patient-comment {
  border: 1px solid var(--grayborder);
  border-radius: 6px;
  height: fit-content;
  overflow-y: auto;
  overflow-x: hidden;
}
.comment {
  background-color: #f1f3f5;
  height: fit-content;
  min-height: 20px;
  border-radius: 20px;
  width: 100%;
}
.specfic-rating {
  color: #6d7278;
}
.comment-user-img {
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.replay-user-img {
  width: 32px;
  height: 32px;
  object-fit: cover;
}
.add-replay-input {
  border-radius: 24px;
  width: 100%;
}
.add-replay-input input {
  padding-left: 20px;
  border-radius: 24px;
  height: 40px;
}
.add-replay-input button {
  margin-right: -20px;
  border-radius: 24px 0 0 24px;
  max-width: 59px;
  height: 40px;
}
.comment p {
  word-break: break-word;
}
.doctor-rate {
  max-width: 122px;
}
.doctor-info-part .tag {
  border-radius: 20px;
  background-color: rgba(0, 121, 171, 0.1);
  margin: auto;
  padding: 5px 11px;
  display: block;
  width: fit-content;
  font-size: 14px;
  line-height: 28px;
  overflow: hidden;
  white-space: nowrap;
  max-width: 90%;
  text-overflow: ellipsis;
  width: -moz-fit-content;
  width: fit-content;
}
.edit-right::before {
  content: url(../img/pen_white.svg);
  position: relative;
  top: 5px;
  margin-left: 7px;
  color: inherit;
}
.edit-right-blue::before {
  content: url(../img/pen_deepblue.svg);
  position: relative;
  top: 5px;
  margin-left: 7px;
  color: inherit;
}
.edit-profile {
  border-radius: 20px;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}
.border-blue-6 {
  border: 1px solid #bbc5d0;
  border-radius: 6px;
}
.info-field {
  border: 1px solid #0079ab;
  border-radius: 20px;
  background-color: rgba(187, 197, 208, 0.1);
  display: flex;
  align-items: center;
}
.icon-24 {
  width: 24px;
  height: 24px;
}
.nav-tag.active a span {
  color: var(--black);
}
.nav-tag a span {
  color: var(--jamboobtn);
}
.profile-state {
  border-radius: 11px;
  background-color: rgba(0, 121, 171, 0.05);
}
.progress-green::-moz-progress-bar {
  background: #6dd400;
}
.progress-green::-webkit-progress-value {
  background: #6dd400;
}
.progress-green {
  color: #6dd400;
  padding: 0px;
  height: 5px;
  border-radius: 2.5px;
}

.sticky-back {
  top: 73px;
  position: sticky;
  background: white;
  z-index: 10000;
  padding: 1px 1rem;
  box-shadow: 0px 4px 11px -4px rgb(179 179 179 / 25%);
}
.clinic-content {
  border: none;
}
.education-wrapper .tilte {
  width: 170px;
}
.swipper-wrapper {
  padding: 1rem;
  display: flex;
  overflow-x: auto;
  scroll-padding: 0 50px;
  scroll-snap-type: x mandatory;
  align-items: stretch;
  gap: 16px;
}
.swipper-wrapper > div img {
  width: 100%;
  height: 100px;
}
.swipper-wrapper > div {
  width: 140px;
}
.lan-tag {
  border-radius: 20px;
  background-color: rgba(0, 121, 171, 0.1);
  padding: 6px 20px;
  display: block;
  width: fit-content;
  font-size: 14px;
  line-height: 28px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: -moz-fit-content;
  width: fit-content;
  color: var(--jamboobtn);
}
.social-tag {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background-color: rgba(0, 121, 171, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
}
.social-tag img {
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 1200px) {
  .border-xl-blue-6 {
    border: 1px solid #bbc5d0;
    border-radius: 6px;
  }
  .clinic-content:first-of-type {
    border: 1px solid #bbc5d0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }
  .clinic-content:last-of-type {
    border: 1px solid #bbc5d0;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }
  .sticky-side-element {
    position: sticky;
    top: 190px;
  }
  .doctor-article img {
    width: 144px;
  }
  /* .gray-line {
    display: none;
  } */
  .next-back-blk .btn-big-blue,
  .next-back-blk .btn-big-blue-outline {
    max-width: 160px;
    margin-left: 6px;
  }
  .doctor-tabs .tabs .tabs-links {
    width: 100%;
  }
  .doctor-tabs .tabs .tabs-links .tab {
    min-width: 222px;
    margin: 0 auto;
    font-size: 20px;
  }
  .doctor-tabs .tabs .tabs-links .tab:first-child {
    border-radius: 19px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
  .doctor-tabs .tabs .tabs-links .tab:last-child {
    border-radius: 19px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
  .clinic-main,
  .clinic-time,
  .insurance-companies,
  .clinic-services,
  .doctor-about,
  .doctor-prizes,
  .other-articles,
  .edit-articles {
    border: 2px solid #edf0f3;
    border-radius: 10px;
    margin: 30px 0;
    /* height: 350px; */
    overflow-y: auto;
    overflow-x: hidden;
  }

  .clinic-main h2,
  .clinic-time h2,
  .insurance-companies h2,
  .clinic-services h2,
  .doctor-about h2,
  .doctor-prizes h2,
  .other-articles h2 {
    padding-right: 5px;
    margin-bottom: 30px;
  }
  .clinic-time ul,
  .insurance-companies ul,
  .clinic-main p,
  .clinic-time p,
  .insurance-companies p {
    padding-right: 37px;
  }

  .clinic-main > div {
    margin-right: 22px;
  }
  .clinic-main div:first-child {
    margin-right: 0;
  }
  .doctor-about p,
  .doctor-prizes p {
    padding: 0 15px;
  }
  .doctor-prizes .prize-images img {
    margin-left: 8px;
  }
  .insurance-companies .load-more {
    display: none;
  }
  .clinic-name {
    margin-top: 0;
  }
  .tabs {
    display: flex;
    justify-content: center;
  }

  .answers-article {
    display: inline-flex;
  }
  .answers-article li {
    margin: 10px 5px;
  }
}

@media screen and (max-width: 1199px) {
  .edit-articles .edit-article h4 {
    width: 145px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .doctor-prizes .prize-images img {
    width: 155px;
    height: 110px;
    margin-left: 10px;
    margin-bottom: 35px;
    cursor: pointer;
  }

  .doctor-article {
    width: 156px;
  }
  .basic-input {
    margin-bottom: 16px;
  }
  .edit-pen-blk {
    top: -1px;
  }
  .tab-content h2 {
    margin-top: 32px;
    margin-bottom: 16px;
  }
}
@media screen and (max-width: 991px) {
  span.select2.select2-container.select2-container--default {
    max-width: 330px !important;
  }

  .edit-articles .edit-article h4 {
    width: 235px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@media screen and (max-width: 400px) {
  .edit-articles .edit-article h4 {
    width: 145px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .edit-articles {
    padding: 0 10px;
  }
  .text-area {
    width: 100%;
    min-width: auto;
  }
  span.select2.select2-container.select2-container--default {
    max-width: 308px !important;
  }
  .sub-collapse-icon {
    position: absolute;
    left: 4px;
    top: 7px;
  }
}
@media screen and (min-width: 767px) {
  .rated-border {
    border: 1px solid var(--grayborder);
    border-radius: 5px;
    margin: 30px 0;
    height: fit-content;
    height: -moz-fit-content;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
