.card {
    border: 1px solid #E0E0E0;
    background-color: var(--white);
    border-radius: 4px;
    margin: 11px 15px;
    width: 100%;
    text-align: center;
  }
  .card-description{
    margin: 0px 16px 0px 16px;
    text-align: center;
  }
  .card-img{
    padding-top: 21px;
  }
  .back-cover{
    height: 393px;
    background-color: #E2F1F8;
    position: absolute;
    top:0;
    right: 0;
    width: 100%;
  }
  .a-register-btn{
    height: 48px;
    width:100%;
    border-radius: 6px;
    background-color: #0079AB;
    font-family: Almarai;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 48px;
    text-align: center;
    color: var(--white);
    margin: 15px;
  }
  .register-btn-container.fixed{
    position: fixed;
    bottom:0;
    right: 0;
    background-color: var(--white);
    box-shadow: 5px 5px 25px 0 rgba(179,179,179,0.25);
    width: 100%;
    z-index: 100;
}
  @media (min-width: 768px) {
    .a-register-btn{
      width: 168px;
      margin:15px auto;
    }
    .register-btn-container.fixed{
        position: relative;
    }
    .card {
      margin: 5px;
      min-width: 240px;
      width: 100%;
    }
    .back-cover{
    height: 350px;
  }
  }