* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html{
    overflow-x: hidden;
}
.doctor-card .tag{
  border-radius: 20px;
  background-color: rgba(0,121,171,0.1);
  margin: auto;
  padding: 7px 11px;
  display: block;
  width: fit-content;
  font-size: 14px;
  line-height: 28px;
  overflow: hidden;
  white-space: nowrap;
  max-width: 90%;
  text-overflow: ellipsis;
}
.rating-stars ul > li.star {
    display:inline-block;
    padding: 0px 2px;
  }
  /* Idle State of the stars */
  .rating-stars ul > li.star > i.icon-star {
    font-size:2.5em; /* Change the size of the stars */
    color:#ccc; /* Color on idle state */
  }
  
  /* Hover state of the stars */
  .rating-stars ul > li.star.hover > i.icon-star {
    color:#FFCC36;
  }
  
  /* Selected state of the stars */
  .rating-stars ul > li.star.selected > i.icon-star {
    color:#F7B500;
  }

.doctor-img-large{
    width: 88px !important;
    height: 88px !important;
}

@media (min-width: 1200px){
    .doctor-img-large{
        width: 130px !important;
        height: 130px !important;
    }
    .section-btn{
        width: 168px;
    }
    .swiper-btns {
        width: 160px;
        margin-right: auto !important;
        margin-left: auto !important;
    }
}
