.feature-card img{
    max-width: 100%;
}
.feature-card{
    padding:24px 24px 24px 24px;
    background:rgba(255, 255, 255, 0.5);
    border: 2px solid #FFFFFF;
}
.doctor-card .doctor-img {
    margin-top: 15px;
    height: 128px;
    width: 128px;
    border-radius: 100%;
    text-align: center;
}
.doctor-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    min-width:128px;
    scroll-snap-align: center;
    
}
.participated-doctors-text{
    width: 100%;
}
.participated-doctors-Wrapper{
    display:flex;
    flex-direction: column;
}
.participated-doctors{
    display: flex;
    gap:16px;
    overflow-x: auto;
    scroll-padding: 0 20px;
    scroll-snap-type: x mandatory;
    padding-bottom: 16px;
}
.sticky-btn{
    position: sticky;
    top: 100px;
    z-index: 50;
}
.login-section-landing{
    margin-top: 48px;
    background: #FFFFFF;
    padding-top: 48px;
    padding-top: 48px;
    margin-left: -20px;
    padding-left: 16px;
    margin-right: -20px;
    padding-right: 16px;
}
.login-section-landing h2{
    font-size: 20px;
    line-height: 40px;
}
.sticky-register-btn-container{
    width: 100%;
    display: none;
}
.sticky-register-btn-container.sticky-on{
    width: 100%;
    display: flex;
    position: fixed;
    bottom: 0px;
    left: 0;
}
@media (min-width:1200px) {
    .participated-doctors-text{
        width: 328px;
    }
    .participated-doctors-Wrapper{
        display:flex;
        flex-direction: row;
    }
    .main-img{
        object-fit: contain;
    }
    .login-section-landing{
        margin-top: 146px;
        max-width: 1290px;
        border-radius: 60px 60px 0px 0px;
        background: rgba(255, 255, 255, 0.5);
        border: 2px solid #FFFFFF;
    }
    .login-section-landing h2{
        font-size: 32px;
        line-height: 64px;
    }
    .feature-card:hover{
        background-color: #FFFFFF;
    }
}