html{
    height: auto;
}
header{
    height: 60px;
    border-bottom: 1px solid  #0079AB26;
    position: sticky;
    top: 0;
    z-index: 10000;
    box-shadow: #0078ab61 0px 1px 17px -4px;
}
header .logo-header img {
    width: 120px;
    
}
.desk-nav-list-wrapper .active{
    color: var(--jamboobtn);
}
#sidebar{
    top: 0;
    position: fixed;
    overflow-y: scroll;
    left: 0;
    background :#EDFBFF;

}
.sidebar-main{
    margin-top: 0;
    /* padding-top: 16px; */
}
.sidebar-header{
    position: sticky;
    background :#EDFBFF;
    height: 60px;
    border-bottom: 1px solid  #0079AB26;
    box-shadow: #0078ab61 0px 1px 17px -4px;
}
main{
    margin-top: 0;
}
footer{
    background: var(--jamboobtn);
}
.copy-right{
    color: #FFFFFF99;
}
.footer-logo{
    width: 169px;
}

.footer-social-link img{
    width: 24px;
    height: 24px;
}

@media (min-width:1200px) {
    header{
        height: 80px;
        border-bottom: 1px solid  #0079AB26;
    }
    header .logo-header img {
        width: 150px;
        
    }
    .desk-nav-register-btn{
        width: 148px;
        height: 40px;
    }
    .footer-logo{
        width: 201px;
    }
}