.logon-box-wrap {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0 2rem;
    z-index: 1000;
    display: none;
}

:checked ~ .logon-box-wrap {
    display: inline-block;
}

.logon-box-wrap .logon-box {
    position: relative;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.2);
    z-index: 11;
}

.logon-box {
    background: #fff;
    border-radius: 3px;
    padding: 0.75rem 1rem 1rem 1rem;
}

.lb-head {
    text-align: center;
    margin-bottom: 2.5rem;
    position: relative;
}

    .lb-head .i-icon-exit1 {
        position: absolute;
        right: 0;
        font-size: 0.9rem;
        top: 0.1rem;
    }

.label-wrap i {
    position: absolute;
    right: 0;
    top: 0;
}

.label-wrap {
    display: inline-block;
    width: 100%;
    margin-bottom: 0.5rem;
    position: relative;
    padding-right: 26px;
    margin-bottom: 0;
}

.logon-box a {
    color: #3b4d5a;
}

.logon-box .i-icon-asset-20 {
    background: #97A1A7;
    color: #fff;
    border-radius: 100%;
    text-align: center;
    width: 19px;
    height: 19px;
    font-size: 0.65rem;
    line-height: 22px;
    display: flex;
}

    .logon-box .i-icon-asset-20:before {
        margin: auto;
    }

.logon-box i {
    color: #97A1A7;
}

div .logon-box input {
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 2px;
    border-bottom-color: #d8dcde;
    border-radius: 0;
    margin-bottom: 12px;
    padding: 0;
}

.lb-head i {
    position: absolute;
    right: 0;
    top: 0;
}

.lb-head .title {
    color: #29323a;
    font-size: 1.15rem;
}

.logon-b {
    background: #75d6ff;
    background: -webkit-linear-gradient(left, #75d6ff 1%,#6348ff 100%);
    background: linear-gradient(to right, #75d6ff 1%,#6348ff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75d6ff', endColorstr='#6348ff',GradientType=1 );
    border: 0;
    color: #fff;
    font-family: lfont;
    width: 100%;
    border-radius: 3px;
    height: 40px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
}

.logon-box .i-icon-asset-22 {
    width: 19px;
    height: 19px;
    background: #d0d6dc;
    color: #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 0.6rem;
    line-height: 21px;
    display: flex;
}

    .logon-box .i-icon-asset-22:before {
        margin: auto;
    }

.register-new {
    margin-bottom: 0.4rem;
    display: block;
    text-align: center;
}

.logon-box-wrap .overlay {
    background: rgba(50,54,56,0.7);
    position: fixed;
    right: 0;
    top: 0;
    display: inline-block;
    width: 100%;
    height: 100%;
}

/*div .swal2-icon {
    width: 60px;
    height: 60px;
}
    div .swal2-icon.swal2-error .line {
        width: 30px;
        top: 30px;
    }*/
.swal2-modal.swal2-show {
    min-height: 280px;
}

@media only screen and (min-width:48rem) {
    .logon-box-wrap .logon-box {
        max-width: 380px;
        -webkit-transform: translate(50%, -50%);
        transform: translate(50%, -50%);
        right: 50%;
    }
}



.logon .button {
    display: inline-block;
    font-size: 1.3rem;
    height: 2.875rem;
    padding: 0;
    width: 100%;
}

.logon .forgot-password {
    display: inline-block;
    text-align: center;
    margin: 0.5rem 0 0.5rem;
    width: 100%;
}

.logon .icon-twitter, .logon .icon-g-plus, .logon .icon-fb, .logon .icon-user, .logon .new-reg a {
    color: #fff;
}

.logon .fb-reg {
    background: #3289da;
    flex-basis: calc(33.3% - 7px);
    display: flex;
}

.logon .google-reg {
    background: #d34836;
    flex-basis: calc(33.3% - 7px);
    display: flex;
}

.logon .twitter-reg {
    background: #4BC4F1;
    flex-basis: calc(33.3% - 7px);
    display: flex;
}

.logon .external-login a {
    margin: auto;
}

.logon .new-reg {
    background: #9b89e7;
    text-align: center;
}

.logon .fb-reg, .logon .google-reg, .logon .twitter-reg, .logon .new-reg {
    padding: 0.1rem;
}


.logon .external-login {
    display: flex;
    justify-content: space-between;
}

.external-login-line {
    line-height: 0.5;
    text-align: center;
}

    .external-login-line span {
        display: inline-block;
        position: relative;
    }

        .external-login-line span:before,
        .external-login-line span:after {
            content: "";
            position: absolute;
            height: 5px;
            border-bottom: 1px solid #16c1f5;
            border-top: 1px solid #16c1f5;
            top: 0;
            width: 600px;
        }

        .external-login-line span:before {
            right: 100%;
            margin-right: 15px;
        }

        .external-login-line span:after {
            left: 100%;
            margin-left: 15px;
        }

.logon .login-options {
    display: flex;
    justify-content: space-between;
}

.account .fb {
    background: #4267b2;
}

.account .twitter {
    background: #78cdf0;
}

.account .g-plus {
    background: #d34836;
}

.account .social-share-login a {
    margin: 0.8rem;
    padding: .8rem .8rem;
    display: inline-flex;
    align-items: center;
    color: #fff;
    border-radius: 6px;
    width: 45px;
}

.account .social-share-login {
    text-align: center;
}

    .account .social-share-login a i:before {
        display: flex;
    }

    .account .social-share-login a i {
        margin-left: 0.5rem;
    }

.account .open-account span {
    color: #78858f;
}

.account .open-account a {
    color: #3498db;
}

.account .open-account {
    text-align: center;
    padding: 0.5rem 0;
}

.account .button {
    background: #3498db;
    border-radius: 6px;
    margin-bottom: 0.6rem;
}

.content {
    background: #fff none repeat scroll 0 0;
    overflow: hidden;
    padding: .5rem;
    font-size: 1.2rem;
}

    .content h1 {
        /*color: #2b5464;*/
        color: #2b5464;
        font-size: 1.9rem;
        /*font-size: 2rem;*/
        margin-bottom: 1.9rem;
        margin-top: .7rem;
        line-height: 1.1;
        /*line-height: 3rem;*/
    }

.or span {
    width: 47px;
    height: 47px;
    background: #eee;
    position: absolute;
    border-radius: 100%;
    right: 50%;
    top: 50%;
    transform: translate(50%,-50%);
    text-align: center;
    line-height: 44px;
}

.or {
    border-bottom: 1px solid #eee;
    margin: 2.5rem 0 0.5rem;
    position: relative;
}

.logon h1 {
    text-align: center;
    font-size: 1.6rem;
}

@media only screen and (min-width:47.9375rem) {

    .logon .main-content {
        width: 480px;
        margin: 0 auto;
        float: none;
        display: table;
        padding: 1rem 2rem;
        border-radius: 3px;
    }

    .boxed.logon.account {
        background: #fff;
    }

    .account .button:hover {
        opacity: 0.9;
    }
}

.social-share-login i {
    color:#fff;
}
