@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@400;700&display=swap');

:root {
    --calmblue: #16c1f5;
    --deepblue: #2b5464;
    --liteblue: #F3FAFC;
    --grayborder: #BBC5D0;
    --grayborderalpha: #bbc5d038;
    --jamboobtn: #0079AB;
    --jamboobtnhover: #02597d;
    --litegray: #6D7278;
    --white: #ffffff;
    --black: #000000;
    --red: #E02020;
    --mainfont: 'Almarai';
    --secanderyfont: 'Almarai';
}

html {

    overflow-x: hidden;
}

body {
    font-family: var(--mainfont);
    font-weight: 400;
    direction: rtl;
    height: 100%;
    background-color: var(--white);
    line-height: 32px;
    margin: 0;
}

* {
    /*transition: all 0.5s ease-in-out;*/
}

*:focus {
    outline: none;
}


h1, h2, h3, h4, h5, .boxed .bold {
    font-family: var(--secanderyfont);
    font-weight: bold;
}

header .top-bar .boxed .bold {
    font-family: var(--secanderyfont);
    /*font-weight: 500;*/
}

.log-in .bold {
    font-family: var(--secanderyfont);
}


.boxed .bold {
    font-weight: 400;
}

.top-bar a i, .top-bar label i {
    font-size: 1.5rem;
}

input, label, select {
    font-family: var(--mainfont);
}

input {
    height: 48px;
    border: 1px solid var(--grayborder);
    border-radius: 5px;
}

select, input[type="text"], input[type="email"], input[type="password"], input[type="number"] {
    height: 48px;
}

input[type="text"] {
    padding-right: 30px;
}

/**** > common ***/
.heart {
    animation: heart 2s linear infinite;
    }
    @keyframes heart {
        0% {
          box-shadow: 0 0 0 0 #0078abbb, 0 0 0 0 #0078abbb;
        }
        40% {
          box-shadow: 0 0 0 8px rgba(25, 184, 156, 0), 0 0 0 0 #0078abbb;
        }
        80% {
          box-shadow: 0 0 0 8px rgba(25, 184, 156, 0), 0 0 0 4px rgba(25, 184, 156, 0);
        }
        100% {
          box-shadow: 0 0 0 0 rgba(25, 184, 156, 0), 0 0 0 4px rgba(25, 184, 156, 0);
        }
      }
.membership .log-in a {
    display: flex;
    justify-content: center;
    align-items: center;
}
.d-header .membership-links .login-btn {
    background-color: var(--jamboobtn);
    color: var(--white);
    padding: 0 6px;
}

.relative {
    position: relative;
}
/* start font 6 style */
.font-6 {
    font-size: 6px;
}
/* end font 6 style */
/* start font 6 style */
.font-8 {
    font-size: 8px;
}
.font-10{
    font-size:10px;
    line-height: 20px;
}
.font-12 {
    font-size: 12px;
}
/* end font 6 style */
.font-14 {
    font-size: 14px;
    line-height: 28px;
}
.font-16 {
    font-size: 16px !important;
    line-height: 32px;
}
.font-18 {
    font-size: 18px;
    line-height: 36px;
}
.font-20 {
    line-height: 40px;
    font-size: 20px;
}
.font-24 {
    line-height: 48px;
    font-size: 24px;
}
.font-32 {
    line-height: 64px;
    font-size: 32px;
}
.font-40 {
    line-height: 80px;
    font-size: 40px;
}
.font-100{
    font-size: 100px;
}
.w-100 {
    width: 100% !important;
}
.gap-10{
    gap:10px
}
.gap-24{
    gap:24px
}
.gap-60{
    gap:60px
}
.h-100{
    height: 100%;
}
.w-190 {
    width: 190px !important;
}

.bold-weight {
    font-weight: bold;
}
.normal-weight{
    font-weight: normal;
}
.light-weight {
    font-weight: lighter;
}

.text-lite-gray {
    color: var(--litegray);
}

.no-overflow {
    overflow: hidden !important;
}

.normal-link {
    cursor: pointer;
    color: var(--black);
    text-decoration: none;
}

.no-decoration{
    color: inherit;
    text-decoration: none; 
}
.normal-list {
    list-style: none;
    padding-right: 0;
}

.delete-link {
    cursor: pointer;
    color: var(--red);
}

.font-bold {
    font-weight: 700;
}
.text-blue {
    color: var(--jamboobtn);
}
.text-nowrap{
    white-space: nowrap;
}
input[type='date'], input[type='time'] {
    -webkit-min-logical-width: 100%;
}
.text-wrap{
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.vertical-separator-r::before{
    border-right: 1px solid #BBC5D0;
    height: 80%;
}
.webtebpro-phone::before{
    content: url("../img/call-24px-blue.svg");
    margin-left:5px;
    height: 24px;
}
.webtebpro-whatsapp::before{
    content: url("../img/whatsapp.svg");
    margin-left:5px;
    height: 24px;
}
.pg-white{
    background-color: var(--white);
}
.pg-blue{
    background-color: var(--jamboobtn);
}
.red {
    color: var(--red);
}
.light-dark{
    color: #1E1F20;
}
.blue-link {
    color: var(--jamboobtn);
}
.light-blue{
    color: rgba(1,46,87,0.6);
}
.color-black{
    color: var(--black);
}
.color-white{
    color: var(--white);
}
.color-green{
    color:#6ABD43
}
.border-none {
    border: none !important;
}
.brt-0{
    border-radius: 0px 0px 5px 5px !important;
}

.mb--1{
    margin-bottom:-1px;
}
.border-top-none {
    border-top: none !important;
}

.gray-line {
    width: 100%;
    background-color: #bbc5d059;
    height: 1px;
    border: 0;
    margin-right: 0;
}

.breadcrumb {
    display: inline-flex;
    font-size: 14px;
    position: relative;
}


.breadcrumb .breadcrumb-link {
    color: var(--jamboobtn);
}
.breadcrumb .breadcrumb-link:after {
    display: inline-flex;
    content: "/";
    margin: 0 10px;
}
.breadcrumb .breadcrumb-name {
    font-weight: bold;

}

.circle-img {
    border-radius: 100%;
}
.notification{
    display:flex;
    /* position: absolute;
    top: 170px; */
    width:100%;
    z-index:10;
}
.notification p{
   width:100%;
   padding-right: 50px;
   padding-left: 50px;
    text-align: center;
}
.notification .close-notification{
    position:relative;
    right: 16px;
    cursor: pointer;
}
.bg-purple{
    background: #AC36FF;
}
.h-40 {
    height: 40px !important;
}
.color-inherit{
    color: inherit;
}
.box-border{
    box-sizing: border-box;
}
.v-line-r:before {
    content: '';
    position: absolute;
    right: 0px;
    top: 20%;
    bottom: auto;
    height: 62%;
    margin: 33% 0ox;
    padding: -9% 0px;
    background: #BBC5D0;
    width: 1px;
}
  

@media (min-width: 1200px){
.text-xl-right {
    text-align: right!important;
}
.text-xl-center {
    text-align: center!important;
}

}
/**** common < ***/



/**** > Header *****/
#sidebar{
    position: absolute; 
    /* width: 0px;  */
    height: 100%; 
    background: #fff; 
    z-index: 10001; 
    display: none;
}
.sidebar-header{
    background-color: var(--jamboobtn);
    height: 76px;
}
.sidebar-header{
    position: fixed;
    width: 100%;
    top: 0px;
}
.desk-nav .nav-element {
    padding: 20px 30px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 100%; 
    top: 76px;
}
.dropdown-content .header-dropdown-item {
    float: none;
    color: #fff;
    padding: 16px 40px 16px 16px;
    display: block;
    text-align: left;
    border: 0.1px solid #FFFFFF2a;
    background-color: #3494BC;
    margin: 0px;
    font-size: 18px;
}
.dropdown-content a.active{
    background-color: var(--jamboobtn);
    font-weight: bold;
}
.header-dropdown-item:hover{
    background-color: var(--jamboobtn);
}
.desk-nav .nav-element:hover{
    background-color: #ffffff33;
}
.dropdown:hover > .dropdown-content {
    display: block;
    white-space: nowrap;
    width: max-content;
    min-width: 100%;
 }
.sub-content-nav{
    top: 0px;
    right: 234px;
 }
.sidebar-main{
    margin-top: 77px;
}
.sidebar-close{
    margin: auto 0px;
}
.sidebar-main .collapsible:after,.desk-header .collapsible:after,.accordion-tabs .collapsible:after {
    content: "\276F";
    width: 2em;
    height: 2em;
    text-align: center;
    color: var(--jamboobtn);
    transform-origin: center;
    transform: rotate( -90deg );
    margin: auto;
  }
.sidebar-main .collapsible.active:after ,.accordion-tabs .collapsible.active:after{
    transform: rotate(90deg) ;
  }
  .desk-header .collapsible.active:after{
    transform: rotate(90deg) ;
  }
  .desk-header .collapsible.active{
    border: 1px solid #BBC5D0;

  }
  .collapsible{
    cursor: pointer;
  }
  .sidebar-main .collapsible.active{
    border-right: 4px solid var(--jamboobtn);
    padding-right: 12px !important;
    font-weight: bold;
  }
  .desk-header .collapsed-content{
      position: absolute;
      top:65px ;
      left: 0px;
      width: 100%;
      background-color: #fff;
      border: 1px solid #BBC5D0;
  } 
.nav-icon{
    width: 24px;
    height: 24px;
}
.desk-nav .active{
    background-color: #ffffff33;
    border-bottom: 4px solid #ffffff6a;
}
.desk-nav{
    background-color: var(--jamboobtn);
    margin-bottom: -2px;
}
.menu-wrapper{
    position: relative;
    top: 0px;
    height: 100%;
    display: flex;
    align-items: center;
}
#search-header-btn{
    width: 35px;
    height: 35px;
}
.search-header-input{
    position: absolute;
    top: 0;
    width: 100%;
    height: 76px;
    display: flex;
    align-items: center;
    right: 0;
    padding: 14px;
}
.search-header-input .search-icon{
position: absolute;
right: 23px;
top: 24px;
}
.desk-search-input-wrapper {
    justify-content: center !important;
    /* padding-right: 286px; */
}
.desk-search-input-wrapper input{
    width: 374px;
    padding-left: 20px;
    margin-left: -12px;

}
.desk-search-input-wrapper button{
width: 64px;
border-top-right-radius: 0;
border-bottom-right-radius: 0;
}
.d-header {
    border-bottom: 2px solid #408ead;
    display: flex;
    align-items: center;
    z-index: 10000;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
}

.d-header a {
    text-decoration:  none;
}
.d-header .logo-header img {
    width: 150px;
}
.d-header a:visited {
    color: inherit;
}
.d-header #header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 0;
}

.d-header .membership .log-in {
    display: flex;
    margin-right: 5px;
}

.d-header .membership .membership-links {
    display: flex;
    border: 1px solid var(--jamboobtn);
    line-height: 1.6rem;
    border-radius: 5px;
    text-align: center;
    padding-right: 6px;
    justify-content: space-between;
    align-content: center;
}
.d-header .membership .doctor-span {
    display: block;
    margin-left: 12px;
    align-self: center;
 color: var(--jamboobtn);

}


.d-header .register-btn {
    background:  var(--jamboobtn);
    border-color:  var(--jamboobtn);
    color: #fff !important;
    margin: 0 .5rem;
    line-height: 32px;
    border-radius: 5px;
    text-align: center;
    padding: 11px 22px;
    font-size: 16px;
}

.d-header .logo-container {
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.d-header .slogan {
    font-weight: 100;
    font-size: 18px;
    color: #748080;
    padding-left: 8px;
    padding-top: 6px;
    border-left: .5px solid var(--jamboobtn);
}

.d-header .logo-container .logo {
    padding-right: 8px;
}
main{
    margin-top: 160px;
}
@media screen and (max-width: 1199px) {
    main {
        margin-top: 80px;
    }
    .d-header {
        background-color: var(--white);
        border-bottom: 1px solid transparent;
        height: 76px;
        width: 100%;
        position: fixed;
        align-items: unset;
        box-shadow: 5px 5px 25px 0 rgba(179,179,179,0.25);
    }

    .head {
        background: #0C627F none repeat scroll 0 0;
        height: 65px;
        overflow: visible;
        z-index: 100;
        padding-right: 0;
        border-bottom-right-radius: 24px;
        border-bottom-left-radius: 24px;
    }
    header .head {
        border-bottom: 1px solid rgba(0, 77, 121, 0.1);
        height: 76px;
        display: flex;
        align-items: center;
    }


    .d-header .logo img {
        width: 150px;
    }
    .d-header .slogan {
        display: none;
    }

    .d-header .membership {
        font-size: 14px;
    }

    .d-header .membership .log-in {
        border: 1px solid var(--white);
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom: 0;
    }
    .d-header .membership .membership-links {
        border: none;
        padding: 0;
        border-bottom: 0;
    }
    .d-header .membership .log-in .login-btn {
        background-color: var(--white);
        color: var(--black);
        width: 70px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top-right-radius: 5px;
    }
    .d-header .membership .log-in .register-btn {
        margin: 0;
        width: 70px;
        border-radius: 5px 0 0 0;

    }
    .d-header .doctor-span {
        bottom: -14px;
        position: absolute;
    }
    .d-header .membership .doctor-span {
        color: white;
        border: 1px solid;
        padding: 2px;
        padding-top:0 ;
        margin: 0;
        width: 142px;
        border-top: 0;
        border-radius: 0 0 5px 5px;
        right: 5px;
        bottom: -12px;
    }


    .d-header .logo-container {
        padding-top: 12px;
        padding-left: 12px;
        flex: 1;
    }


    .d-header .logo-header {
        text-align: center;
    }

}

/**** < Header *****/

/**** > Buttons *****/

.link-btn {
    color: var(--jamboobtn);
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.btn-outline-blue {
    font-family: var(--mainfont);
    color: var(--jamboobtn);
    background-color: transparent;
    font-size: 18px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.btn-big-blue {
    color: var(--white);
    background-color: var(--jamboobtn);
    border: 0;
    font-family: var(--mainfont);
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    height: 48px;
    max-width: 330px;
}

.btn-big-blue:hover {
    background-color: var(--jamboobtnhover);
}
.btn-big-blue-outline {
    border: 1px solid var(--jamboobtn);
    color: var(--jamboobtn);
    font-family: var(--mainfont);
    background-color: var(--white);
    cursor: pointer;
    padding: 5px;
    width: 100%;
    font-size: 16px;
    border-radius: 5px;
    font-weight: bold;
    height: 48px;
    max-width: 330px;
}

.circle-btn {
    position: relative;
    border-radius: 100%;
    width: 25px;
    height: 25px;
}
.circle-btn img {
    position: absolute;
    top: 5px;
    right: 6px;
}
    /**** Buttons < *****/


/**** > Hero Section *****/

.hero-search {
    background-color: var(--liteblue);
    display: inline-flex;
    width: 100%;
}
.hero-search-img{
 width: 609px;
 height: 404px;
}
 .hero-search .dont {
    /* background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.95) 75%, rgba(255,255,255, 1) 100%),url('../img/doctors-in.jpg'); FF3.6-15 */
    /* background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.95) 75%,rgba(255,255,255,1) 100%),url('../img/doctors-in.jpg'); Chrome10-25,Safari5.1-6 */
    /* background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.95) 75%,rgba(255,255,255,1) 100%),url('../img/doctors-in.jpg'); W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#d1ffffff',GradientType=1 ); IE6-9 */
    /*background-image: url('../img/doctors-in.jpg');*/
    /*background-image:*/
    /*        linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),*/
    /*        url('../img/doctors-in.jpg');*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
} 

.hero-search h1 {
    font-size: 24px;
}

.search-blk label {
    display: block;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    text-align: right;
    margin: 8px auto;
    font-weight: bold;
}

.city-select {
    max-width: 330px;
    padding-right: 30px;
}

.search-input {
    box-sizing: border-box;
    width: 100%;
}

.search-input-blk {
    position: relative;
}

.search-blk .search-input {
    height: 48px;
    padding-right: 40px;
    font-size: 16px;
}

.search-blk .search-icon {
    position: absolute;
    right: 14px;
    top: 42px;
}

/* Select city */
.search-select-blk {
    position: relative;
}

.select2-container * {
    transition: none;

}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
    margin-bottom: 0;
}
.select2-container .select2-search--inline .select2-search__field {
    height: 38px;
    font-family: var(--mainfont);
    transform: translateY(10px);
}
.select2-container--default .select2-selection--multiple {
    min-height: 48px;
    margin-bottom: 0;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: rgba(0,121,171,0.1);
    border-radius: 20px;
    border: none;
    color: var(--jamboobtn);
    padding: 3px 12px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    position: unset;
    border-right: none;
    font-size: 20px;
    vertical-align: bottom;

}

button.select2-selection__choice__remove span {
    color: transparent;
    background-image: url("../img/x.svg");
    background-size: 11px;
    background-repeat: no-repeat;
}
.select2-container .select2-selection--single {
    direction: rtl;
    text-align: right;
    box-sizing: border-box;
    height: 48px;
    max-width: 100%;
    border: 1px solid var(--grayborder);
    border-radius: 5px;
    padding-top: 7px;
}
.light-color{
    color:#6D7278;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    font-family: var(--mainfont);
    height: 48px;
    font-size: 16px;
    color: var(--black);
    padding-right: 40px;
    font-weight: bold;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 48px;
    right: auto;
    left: 8px;
}

.select2-results__options {
    text-align: right;
}

.select2-search__field {
    direction: rtl;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    margin-bottom: 5px !important;
}

.search-select-blk .select2.select2-container.select2-container--default {
    width: 100% !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: transparent;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{
    border-color: transparent;
}
span.select2-selection__arrow {
    background-image: url('../img/R.Icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px;
}
span.select2.select2-container.select2-container--default.select2-container--below.select2-container--focus.select2-container--open .select2-selection__arrow{
    background-image: url('../img/R.Icon.svg');
    transform: scale(-1);
}
span.select2.select2-container.select2-container--default.select2-container--open .select2-selection__arrow {
    background-image: url('../img/R.Icon.svg');
    transform: scale(-1);
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__display {
    font-size: 14px;
}
.select2-selection__rendered .country-option {
    direction: ltr;
}
.country-options img {
  width: 32px;
}

.country-options {
    height: 30px;
}
.country-name {
    position: absolute;
    right: 62px;
    top: 11px;
}

li .country-name {
    right: 55px;
    top: 2px;
}

.more-link.less, .more-link {
    color: var(--jamboobtn);
    text-decoration: none;
}

.magnify-header svg, .magnify-toolbar svg {
    filter: brightness(0) invert(1);
}
/**** Hero Section < *****/


/**** Advance Search > *****/
.highlight_list {
    width: 100%;
    font-family: var(--mainfont);
}

.highlight_list li {
    margin-bottom: 20px;
    font-size: 16px;
}

.highlight_list li.origin {
    color: var(--litegray);
    border-top: 1px solid rgba(0,77,121,0.1);
    padding-top: 15px;
}

.highlight_list li.origin:first-child {
    border-top: none;
    padding-top: 0;
}

.highlight {
    background-color: transparent;
    font-weight: bold;
}

.advance-search {
    width: 350px !important;
}

.advance-search-blk {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    position: fixed;
    background-color: var(--white);
    top: 0;
    z-index: 1000;
}

.advance-search-input {
    font-family: var(--mainfont);
    display: inline-flex;
}


.advance-search-input .search-icon {
    position: absolute;
    right: 10px;
    top: 10px;
}

.doc-result {
    display: flex;
    align-items: center;
}

.doc-result img {
    width: 28px;
    margin-left: 14px;
}

/**** Advance Search < *****/


/**** Slider CSS [Doctor Rating] > *****/
.first-slide {
    /*direction: ltr;*/
}

.doctor-rating-section {
    float: none !important;
    background-color: var(--white);
}

.doctor-rating {
    padding-top: 50px;
    padding-bottom: 100px;
}

.doctor-name, .doctor-loc {
    width: 200px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
}
.doctor-loc-text{
    color: var(--black);
}

.doctor-join-section .doctor-name {
    width: 200px;
}


.doctor-rating .doctor-card .doctor-name {
    font-size: 18px;
    color: var(--jamboobtn);
}

.swiper-slide {
    text-align: center;
}

.doctor-rating .swiper-wrapper .swiper-slide {
    border: 1px solid var(--grayborder);
    border-radius: 5px;
}

.doctor-rating .swiper-container {
    position: relative;
}

.doctor-rating .doctor-card {
    direction: rtl;
}

.doctor-card .doctor-img {
    margin-top: 15px;
    height: 66px;
    width: 66px;
    border-radius: 100%;
    text-align: center;
}

.swiper-btns {
    position: relative;
    direction: ltr;
    margin-top: 48px;
}

.swiper-slide .btn-big-blue {
    height: 38px;
    width: 100%;
    max-width: 266px;
}

.swiper-button-prev {
    right: 21px;
    left: auto;
}

.swiper-button-next {
    left: 21px;
    right: auto;
}

.swiper-button-next:after, .swiper-button-prev:after {
    display: flex;
    align-items: center;
    color: var(--white);
    background-color: var(--jamboobtn);
    cursor: pointer;
    font-size: 18px;
    justify-content: center;
    width: 32px;
    border-radius: 5px;
    transform: scale(-1);
    height: 32px;
    border: none;
    padding: 18px;
}

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
    opacity: 1;
}

.swiper-button-next.swiper-button-disabled:after, .swiper-button-prev.swiper-button-disabled:after {
    padding-right: 18px;
    padding-left: 15px;
    background-color: var(--white);
    color: var(--black);
    border: 1px solid var(--black);
}

.swiper-button-prev:after.swiper-button-disabled {
    border: 1px solid var(--black);
}

/**** Slider CSS [Doctor Rating] < *****/


/**** Join Us Section > *****/
.join-us-section .container > div {
    float: none !important;
}

.join-us-section {
    background-color: var(--liteblue);
}

.join-us-blk {
    padding: 50px 0;
}

.colors-icons {
    text-align: center;
}

.colors-icons img {
    width: 300px;
}
.basic-input {
    box-sizing: border-box;
    width: 100%;
    max-width: 330px;
    font-size: 16px;
}
/**** Accordion Section > *****/

.accordion {
    padding: 50px 0;
    background-color: var(--white);
}

.accordion input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.accordion .accordion-tabs {
    border-radius: 8px;
    overflow: hidden;
}



.accordion .tab {
    width: 50%;
    color: var(--black);
    overflow: hidden;
}

.accordion .tab-label {
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    padding: 1em;
    background: var(--white);
    font-weight: bold;
    cursor: pointer;
    border-top: 1px solid #ECEBEB;
    /* Icon */
}

.accordion .tab-label::after {
    content: "\276F";
    width: 1em;
    height: 1em;
    text-align: center;
    /*transition: all 0.35s;*/
    color: var(--jamboobtn);
    transform: rotate( 90deg );
}

.accordion .tab-content {
    max-height: 0;
    padding: 0 1em;
    background: white;
    /*transition: all 0.35s;*/
}

.accordion .tab-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    cursor: pointer;
}

.accordion .tab-list {
    font-size: 18px;
}

.accordion .tab-list li {
    margin-bottom: 16px;
}
/*.accordion input:checked + .tab-label {*/
/*    background: #1a252f;*/
/*}*/
.accordion input:checked + .tab-label::after {
    transform: rotate(-90deg) translate(0px, -14px);
}

.accordion input:checked ~ .tab-content {
    max-height: 100%;
    padding: 1em;
}

/**** Accordion Section < *****/

/**** Slider CSS [Doctor Rating] > *****/

.doctor-join-section .doctor-rating .swiper-wrapper .swiper-slide {
    border: none;
}
/**** Slider CSS [Doctor Rating] < *****/
/**** Upload File > *****/

.drag-upload {
    min-height: 48px;
    width: 330px;
}


.aks-file-upload {
    background: transparent;
    border: transparent;
}

.aks-file-upload-label {
    color: var(--jamboobtn);

}

.aks-file-upload-p-header {
    direction: ltr;
}
.aks-file-upload-content {
    padding: 0 10px;
    margin:0;
    text-align: center;
    border: 1px dashed rgba(0,121,171,0.6);
    /*height: 48px;*/
    border-radius: 6px;
    background-color: rgba(0,121,171,0.05);
}

.aks-file-upload-image {
    padding: 10px;
}

.aks-file-upload-content label {
    padding: 0;
    padding-top: 7px;
    margin:10px 0 !important;
}

.aks-file-upload-content span  {
    /*height: 48px;*/
    display: flex;
    font-weight: bold;
}
.aks-file-upload-content label span:before{
    content: url("../img/add_photo_alternate-24px_blue.svg");
}

main.aks-file-upload-p-main {
    padding-top: 0;
}

.aks-file-upload-size {
    color: #868686;
}
.input-icon-nolabel{
    position:absolute;
    top: 11px;
    right: 7px;
}
/**** Upload File > *****/

/* 992px and above */
@media screen and (min-width: 992px) {

    .top-bar a span, .top-bar label span {
        font-size: 16px;
    }

    .hero-search {
        padding: 50px;
    }

    .advance-search-input .search-icon button {
        background: transparent;
        border: 0;
        padding: 0;
        cursor: pointer;
    }

    .advance-search-input .close-blk {
        max-height: 48px;
        padding: 0 15px;
        display: flex;
        align-items: center;
    }

    .advance-search-blk {
        padding-top: 20px;
    }
}

@media (max-width: 991px) {
    .accordion .tab {
        width: 100%;
    }

    .hero-search {
        background: #E3EAEC; /* FF3.6-15 */
    }

    .accordion .tab-list {
        font-size: 16px;
    }

    .doctor-join-section .doctor-name {
        width: 136px;
    }

    .colors-icons img {
        width: 100%;
        max-width: 250px;
        padding: 32px 0;
    }

    .swiper-btns {
        margin-top: 30px;
        width: 100%;
    }

    .swiper-button-next:after, .swiper-button-prev:after {
        justify-content: center;
        height: 32px;
        width: 32px;
    }

    form {
        display: block;
        width: 100%;
    }
    header .head {
        /*background-color: var(--liteblue);*/
        border-bottom: 1px solid rgba(0, 77, 121, 0.1);
        height: 76px;
        display: flex;
        align-items: center;
    }

    .head-search > .icon-search, .user-profile {
        height: 90%;
        display: flex;
        align-items: center;
    }

    .head .nav {
        top: 76px;
    }

    .wrap .title span {
        padding: 11px 0;
    }

    .hero-search {
        padding: 30px 0;
    }

    .container > div {
        width: auto;
        float: unset;
    }

    .advance-search-input {
        position: relative;
        width: 100%;
        padding: 15px;
    }

    .advance-search-input .search-input {
        width: 350px;
        margin-bottom: 34px !important;
    }

    .advance-search-input .close-blk {
        max-height: 48px;
        padding: 0 15px;
        display: flex;
        align-items: center;
    }

    .advance-search-input .search-icon {
        right: 10px;
        top: 10px;
    }

    .advance-search-input .search-icon button {
        background: transparent;
        border: 0;
        padding: 0;
        cursor: pointer;
    }

    .highlight-blk {
        padding: 15px;
    }
}

@media (max-width: 577px) {
    .search-blk .search-input {
        max-width: 100%;
        margin-bottom: 0 !important;
        height: 48px;
    }

    .search-blk .search-input.search-results-search-input {
        max-width: 300px;
        margin-bottom: 0 !important;
    }

    .doctor-rating-section .doctor-name {
        font-size: 18px;
        line-height: 24px;
    }

    .doctor-rating-section .doctor-loc, .doctor-rating-section .doctor-sp {
        font-size: 14px;
        line-height: 24px;
    }

    .join-us-blk {
        padding: 20px 0;
    }

    .colors-icons img {
        width: 248px;
        margin: 20px auto;
    }

    .hero-search {
        padding: 10px 15px 30px 15px;
    }

    .advance-search-input input {
        max-width: 278px;
    }
}

@media (max-width: 380px) {
    .drag-upload {
        width: 100%;
    }
    .doctor-name, .doctor-loc {
        width: 200px;
    }

    .doctor-join-section .doctor-name {
        width: 120px;
    }

    .search-blk .search-icon {
        top: auto;
        bottom: 5px;
    }

    .search-blk .search-input-blk .search-icon {
        top: auto;
        /* bottom: 23px; */
    }

    .search-blk .search-input-blk .search-icon.search-result-icon {
        top: 31px;
    }

    .advance-search-input input {
        max-width: 229px;
    }
    .breadcrumb .breadcrumb-name {
        display: inline-block;

    }
    .breadcrumb .breadcrumb-name span {
        display: block;
        width: 120px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/**** New Footer Style [Must move to master css] > *****/

.footer-links {
    text-align: right;
    padding: 0;
}
.footer-links li a {
    font-size: 16px;
    text-decoration: none;
    line-height: 32px;
}
.footer-note {
    font-size: 16px;
    line-height: 32px;
    text-align: right;
}
.footer-top {
    background: #f7fafb none repeat scroll 0 0;
    margin-top: 1rem;
    padding: 1rem .6rem 1.2rem
}

.footer-bottom {
    padding: 1.4rem 1.2rem 1.2rem
}
.footer-social a img {
    width: 20px;
}
.footer {
    text-align: center
}

.mayo-harvard a {
    float: right;
    margin: 0 .3rem
}

.footer .mayo-harvard {
    display: table;
    margin: 0 auto .7rem;
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    transform: scale(0.8)
}

.footer-links li {
    display: inline-block;
    margin: 0 .7rem .5rem;
    position: relative
}

.footer-links li a {
    color: #42595f;
    font-size: .85rem
}

.footer-social a {
    background-color: #5e8091;
    border-radius: 2px;
    margin: 0 .2rem;
    width: 26px;
    height: 26px;
    color: #fff;
    text-align: center;
    line-height: 32px;
    display: inline-flex;
    justify-content: center;
    align-items: center;}

.footer-social i {
    font-size: 1.15rem
}

.footer-links li::before {
    background: #aec0c4 none repeat scroll 0 0;
    content: "";
    height: 11px;
    left: -0.8rem;
    position: absolute;
    top: 12px;
    width: 1px
}

.footer-links li.seperator-none::before {
    display: none
}

.footer-top p {
    color:#42595f;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 0;
    margin-top: .5rem
}

.footer-bottom p {
    color: #5e8091;
    font-size: .85rem;
    margin-bottom: 0;
    margin-top: .1rem
}

.footer amp-social-share[type="twitter"] {
    background-size: 75% auto
}

.mayo-harvard img {
    border: 1px solid #d5dcdd;
    border-radius: 7px
}

.head .icon-burger::before {
    background: #69bd43 none repeat scroll 0 0;
    border-radius: 100%;
    color: #fff;
    font-size: .7rem;
    height: 29px;
    line-height: 29px;
    text-align: center;
    width: 29px;
    float: left;
    margin-top: .47rem
}
/* start modal style */
.modal{
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: #bbc5d0bd;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10005;
}
/* end modal style */
/* start modal container style */
.modal-container{
    background-color: #fff;
    border-radius: 5px;
    width: 100%;
    max-width: 600px;
    max-height: 75vh;
    overflow-y: auto;
}
/* end modal container style */
/* start max-width-full */
.max-width-full{
    max-width: 100%;
}
/* start max-width-full */
.icon-star:before {
    font-family: 'comm';
    font-style: normal;
    content: "\74";
  }
.min-width-0{
       min-width: 0 !important;;
}
.text-center{
    text-align: center;
}
.text-middle-line{
    position: relative;
    float: left;
    width: 20px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    top: 14px;
    background: #ffffff;
}
.text-right{
    text-align: right;
}
.bg-light-blue{
    background:#EDFBFF;
}
.radius-40{
    border-radius: 40px;
}
  @font-face {
    font-family: "comm";
    src: url("https://static.webteb.net/new-webteb/fonts/comm/commb.eot");
    src: url("https://static.webteb.net/new-webteb/fonts/comm/commb.eot?#iefix")
        format("embedded-opentype"),
      url("https://static.webteb.net/new-webteb/fonts/comm/commb.woff")
        format("woff"),
      url("https://static.webteb.net/new-webteb/fonts/comm/commb.ttf")
        format("truetype"),
      url("https://static.webteb.net/new-webteb/fonts/comm/commb.svg#iconfont")
        format("svg");
    font-weight: 400;
    font-style: normal;
  }
@media (max-width: 991px) {
    .footer-links {
        text-align: center;
        display: flex;
        flex-flow: wrap;
        justify-content: center;
    }

    .footer-links li:nth-child(3):before {
        display: none;
    }
    .footer-links-blk {
        display: flex;
        flex-flow: column-reverse;
    }

    .phone-part input[name=phone-number] {
        width: 172px;
    }
}
/**** New Footer Style < *****/