.account {
    padding: 1rem;
}

    .account .margin-bottom {
        margin-bottom: 1rem;
    }

    .account .check-with-label:checked + .label-for-check {
        font-family: "roboto",bfont;
        font-weight: 400;
    }

div .account input {
	height: 2.875rem;
	margin-bottom: 1rem;
	border-radius: 6px;
    border-color: #16c1f5;
}
.account select {
    font-family: "roboto",lfont;
    color: #738184;
    opacity: 1;
    border: 1px solid #16c1f5;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #fff;
    background-image: url("https://static.webteb.net/imgs/mobile/dropdown-icon.png");
    background-position: .625rem center;
    background-repeat: no-repeat;
    cursor: pointer;
    height: 2.875rem;
    margin-bottom: 1rem;
}

div .account .check-with-label {
    height: 0.9rem;
}

.account input.input-validation-error, .account select.input-validation-error {
    border: 1px solid red !important;
}

.account span.field-validation-error, .account .validation-summary-errors li {
    display: block;
    padding-bottom: 0.5rem;
    color: red;
}

.validation-summary-errors li:before {
    background: red !important;
}

.account .button {
    display: inline-block;
    font-size: 1.3rem;
    height: 2.875rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
}

.account .note {
    background: #f3f7f9;
    border: 1px solid #f7b555;
    margin-top: 1.5rem;
    padding: 1rem;
}

.account label {
    color: #738184;
    /*background: #F7FAFB;
    opacity: 1;
    border-radius: 3px;*/
}

.green {
    background: #2cbf6d !important;
}

@media only screen and (min-width:47.9375rem) {
    .account .birth-label {
        padding: 4px 8px 18.8px 26px;
        display: block;
    }
}
