.content {
  background: #fff none repeat scroll 0 0;
  overflow: hidden;
  padding: 0.5rem;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.content h1 {
  color: #2b5464;
  font-size: 1.9rem;
  margin-bottom: 1.9rem;
  margin-top: 0.7rem;
  line-height: 1.1;
}

.content h2 {
  color: #2b5464;
  font-size: 1.5rem;
}

.content h3,
.content h2 {
  font-family: "roboto", bfont;
  font-weight: 400;
}

.content .author {
  color: #97a9b1;
  display: inline-block;
  font-size: 0.8rem;
  margin-bottom: 0.7rem;
}

.show-fb-comments {
  margin: 1.5rem auto;
}

.content img:not(.provider) {
  margin-bottom: 0.6rem;
  width: 100%;
}

.content table img {
  width: auto;
}

#commercialnames table {
  text-align: center;
  font-weight: 300;
}

.content ul:not(.list):not(.none):not(.pagination) li {
  line-height: 1.6;
  margin-bottom: 0.5rem;
  padding-right: 1rem;
  position: relative;
}

.content ul:not(.list):not(.none):not(.pagination) li::before {
  background: #16c1f5 none repeat scroll 0 0;
  border-radius: 100%;
  content: "";
  display: inline-block;
  height: 8px;
  position: absolute;
  right: 0;
  top: 0.6rem;
  width: 8px;
}

.content div {
  font-size: inherit;
  line-height: 1.6;
  text-rendering: optimizelegibility;
  font-weight: 300;
  font-size: 1.2rem;
}

.content p {
  font-size: 1.2rem;
}

.content #description img {
  float: left;
  margin-right: 15px;
  position: relative;
  width: 140px;
}

.content img + span {
  display: inline-block;
  width: 100%;
}

.content .list {
  padding: 0;
}

ul.list {
  font-size: 1.25rem;
}

.jump-links li {
  flex-basis: calc(50% - 32px);
  padding-bottom: 0.8rem;
}

.content div.jump-links {
  background: #f7fafb none repeat scroll 0 0;
  display: inline-block;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-top: 0.9rem;
  width: 100%;
}

.content h1 + span[lang="en"] {
  position: relative;
  top: -1.4rem;
}

.jump-links ol {
  margin: 0;
}

.jump-links ol {
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

h2 {
  line-height: 1.1;
}

.harvard-logo span {
  float: right;
  margin-left: 0.5rem;
}

.harvard-logo {
  display: inline-block;
  margin-top: 1rem;
}

.content table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 1rem;
  table-layout: fixed;
  width: 100% !important;
}

.content table td {
  border: 1px solid #bcdee8;
  padding: 0.5rem;
}

.content .title {
  color: #2b5464;
  display: block;
  font-size: 1.2rem;
  margin-bottom: 0.4rem;
}

.view-all {
  color: #bcdee8;
  line-height: 30px;
  position: relative;
  padding-right: 25px;
  display: inline-block;
  font-size: 1.1rem;
}

div .jw-dock-button {
  margin: 0;
}

div .jw-controls .jw-controls-right {
  bottom: 0;
}

.video-container ul li {
  padding-right: 0 !important;
}

.video-container ul li::before {
  display: none !important;
}

.icon-viwe-all {
  position: absolute;
  right: 0;
  top: 3px;
}

.view-all + .show-fb-comments {
  margin-top: 2.7rem;
}

.content h3 {
  margin-bottom: 0;
  line-height: 1.4;
}

.space + .social-share {
  margin-top: 2rem;
}

.vid-title {
  margin: 0 auto;
  display: table;
  color: #ff7333;
}

.video-container {
  margin-bottom: 1rem;
}

.weeks-d .content .img {
  float: right;
  margin-left: 1rem;
  margin-top: 0.6rem;
}

h1 + .en-name {
  font-size: 1.5rem;
  color: #2b5464;
  position: relative;
  top: -1.5rem;
}

.flext-container {
  display: inline-flex;
  max-width: 30rem;
}

.button.bold.show-fb-comments {
  margin-top: 2rem;
  padding: 0;
  width: 100%;
  border: 0;
}

.tags > a {
  background: #f7fafb;
  padding: 0 0.8rem;
  border-radius: 1rem;
  float: right;
  margin-left: 0.5rem;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.tags {
  margin-bottom: 0.5rem;
}

.about-author {
  margin-bottom: 1.5rem;
}

.au-name {
  margin-top: 21px;
  float: right;
  padding-right: 1rem;
}

.author-img {
  float: right;
  border-radius: 100%;
}

.author-img img {
  border-radius: 100%;
  border: 3px solid #e3ecf0;
  margin-bottom: 0 !important;
  width: 70px !important;
}

.quistion-c .qc > div > div > span:not(.top):not(.bottom) {
  background: #f7fafb;
  display: inline-block;
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 0.7rem;
  color: #2b5464;
  font-family: "Roboto", bfont;
}

.quistion-c .qc > div > div > span + div {
  margin-bottom: 1.5rem;
}

.ad1 > div {
  margin-bottom: 0 !important;
}

.recent-n .ib-head .category i {
  top: 6px;
}

.content .account-note {
  background: #f3f7f9;
  border: 1px solid #f7b555;
  margin-top: 1.5rem;
  padding: 1rem;
}

.article-relations .list {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 1.5rem !important;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.article-relations .relations-title {
  display: block;
  text-align: center;
  font-weight: 400 !important;
  font-family: lfont;
  margin-top: 2rem;
}

.article-relations .list a {
  font-weight: 700;
}

.provider-l {
  margin: 2rem auto 0;
  display: table;
}

.provider-l .author {
  float: right;
}

.mayo-logo .author {
  margin-top: 17px;
}

.mayo-logo.provider-l {
  padding-right: 0.5rem;
}

.vezeeta-link {
  text-align: center;
  margin: 14px;
  border: 1px solid #16c1f5;
  padding: 8px;
  box-shadow: 6px 4px whitesmoke;
  display: flex;
  flex-wrap: nowrap;
  font-size: 16px !important;
}

.vezeeta-link img {
  width: 40px !important;
  height: 40px;
  margin: auto;
  margin-bottom: 0 !important;
}

.vezeeta-link span {
  margin: auto;
}

.recipe-time {
  display: flex;
  justify-content: space-around;
  margin: 8px auto;
}

.recipe-time .recipe-cooktime-icon,
.recipe-time .recipe-servings-icon {
  max-width: 24px;
  vertical-align: middle;
  margin-bottom: 0 !important;
}

.block.fc {
  min-height: 36px;
  padding-right: 85px;
  position: relative;
}

.block.fc .label {
  color: #2b5464;
  font-size: 1.1rem;
  line-height: 34px;
  position: absolute;
  right: 0;
  text-align: left;
  top: 0;
  width: 70px;
}

select {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  font-family: "roboto", bfont;
  font-weight: 400;
}

.select {
  position: relative;
}

.select i {
  color: #75929b;
  font-size: 0.75rem;
  left: 0.7rem;
  position: absolute;
  top: 0.7rem;
}

.radio span {
  border: 1px solid #96a6af;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 34px;
  text-align: center;
  width: 100%;
}

.radio :checked + span {
  border: 1px solid #2b5464;
  background: #2b5464;
  color: #fff;
}

.radio {
  display: inline-block;
  margin-bottom: 1rem;
  width: 100%;
}

.button.blue {
  background: #16c1f5 none repeat scroll 0 0;
  border: 0 none;
  color: #fff;
  display: inline-block;
  margin-bottom: 2.5rem;
  margin-top: 0.5rem;
  padding-bottom: 0.3rem;
  padding-top: 0.3rem;
  width: 100%;
  font-size: 1.29rem;
}

.button.blue i {
  font-size: 0.75rem;
  padding-right: 0.4rem;
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  -webkit-transform: rotate(0);
  transform: rotate(0);
}

label.cb {
  display: inline-block;
  width: 100%;
  position: relative;
  padding-right: 23px;
  font-size: 1rem;
  line-height: 1.2;
}

label.cb input {
  position: absolute;
  right: 0;
  top: 5px;
  margin: 0;
}

textarea {
  border: 1px solid #96a6af;
  border-radius: 3px;
  color: #29333f;
  font-size: 1rem;
  margin-bottom: 0.7rem;
  padding: 0.5rem;
  width: 100%;
  min-height: 109px;
  font-family: "roboto", lfont;
}

div .header ul {
  display: none;
  position: absolute;
  left: 0;
  top: 45px;
  background: #fff;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  z-index: 10;
}

div .header h1 {
  margin: 0;
  float: right;
}

.about-menu {
  float: left;
  margin-right: 1rem;
  margin-top: 0.2rem;
}

.lang {
  float: left;
  border: 1px solid #16c1f5;
  border-radius: 1rem;
  padding: 0 0.5rem;
  line-height: 1.4;
  margin-top: 0.354rem;
  font-size: 1.1rem;
  color: #383e49;
}

div .header {
  display: inline-block;
  width: 100%;
  padding-bottom: 0.5rem;
}

.about-us .icon-burger::before {
  background: #52e5b5;
  border-radius: 2px;
}

.header ul li {
  padding-right: 0 !important;
}

.header ul li:before {
  display: none !important;
}

.header ul li a {
  display: block;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 0.5rem;
  color: #29333f;
}

.header input:checked ~ ul {
  display: inline-block;
}

.text-center {
  text-align: center;
}

.team-desc {
  display: block;
  font-size: 1rem !important;
}

.content .author {
  font-size: 1rem;
  color: #29333f;
}

.authors {
  margin-bottom: 1.5rem;
  display: inline-block;
  width: 100%;
}

.authors .author {
  margin-bottom: 0.8rem;
  min-height: 62px;
  padding-right: 73px;
  position: relative;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 1.2rem;
  box-sizing: content-box;
  padding-top: 6px;
  display: block;
}

.authors .author .img {
  border: 3px solid #eee;
  border-radius: 100%;
  display: inline-block;
  height: 62px;
  position: absolute;
  right: 0;
  top: 0;
  width: 62px;
}

.authors .author .img img {
  border: 1px solid #fff;
  border-radius: 100%;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.authors .author-name {
  color: #38bced;
  display: block;
  font-size: 1.1rem;
  line-height: 1.4;
}

.s-title::before {
  content: "";
  right: 0;
}

.s-title::before,
.s-title::after {
  content: "";
  width: 5px;
  height: 5px;
  background: #7078c6;
  border-radius: 100%;
  display: inline-block;
  position: absolute;
  top: 50%;
}

.s-title::after {
  content: "";
  left: 0;
}

div .s-title {
  font-size: 1.5rem;
  width: auto;
  display: table;
  margin: 1.5rem auto 2rem;
  color: #7078c6;
  position: relative;
  padding: 0 0.7rem;
}

input,
.select {
  margin-bottom: 1.2rem !important;
}

.s-ttile {
  font-size: 1.3rem;
  margin-bottom: 0.8rem;
  display: block;
}

.member .authors .author {
  padding: 0;
  margin-top: 1.5rem;
}

.member .authors .author .img {
  position: relative;
  right: inherit;
  top: inherit;
  float: none;
  margin: 0 auto;
  display: table;
  height: 100px;
  width: 100px;
}

.member .authors .author .img img {
  margin-bottom: 0;
  float: right;
  width: 100px;
  height: 100px;
  max-width: inherit;
}

.member .authors .author-name {
  font-size: 2rem;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.member #pDescription {
  text-align: center;
  color: #78858f;
  line-height: 1.2;
}

.member .author-wrap {
  border: 3px solid #16c1f5;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  margin-bottom: 1.5rem;
}

.member .item-box .title {
  padding-top: 0;
  line-height: 1.4;
}

.member .item-box {
  border-bottom: 1px solid #e8e8e8;
}

.member .date {
  font-size: 0.8rem;
  color: #9da5aa;
  float: left;
}

.member .header {
  padding-bottom: 0;
  margin-bottom: -0.6rem;
  border: 0;
  background: #f5f5f5;
  padding-bottom: 0.2rem;
  padding-left: 0.5rem;
}

.boxed.ltr {
  direction: ltr;
}

.ltr div .header h1 {
  float: left;
}

.ltr .about-menu {
  float: right;
  margin-right: 0;
  margin-left: 1rem;
}

.ltr .lang {
  float: right;
}

.ltr .content .author span,
.team-desc {
  float: left;
}

.ltr .authors .author .img {
  right: inherit;
  left: 0;
}

.ltr .authors .author {
  padding-left: 73px;
  padding-right: 0;
}

.ltr .member .item-box {
  text-align: right;
}

.ltr .member .authors .author {
  padding-left: 0;
}

.ltr .select i {
  left: inherit;
  right: 0.7rem;
}

.ltr .content ul:not(.list):not(.none):not(.pagination) li {
  padding-right: 0;
  padding-left: 1rem;
}

.ltr .content ul:not(.list):not(.none) li::before {
  right: inherit;
  left: 0;
}

.has-error {
  color: red;
  padding-left: 0.5rem;
  margin-bottom: 1rem;
  display: block;
}

#customalert-overlay,
#customconfirm-overlay {
  display: none;
  opacity: 0.5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2147483647;
  background: #000;
}

.customalert {
  background-color: #f7fafb;
  color: #2b5464;
  font-family: "roboto", bfont;
  font-weight: 400;
  font-style: normal;
  border-radius: 5px;
  width: 550px;
  font-size: 1em;
  display: none;
  position: fixed;
  max-width: 100vw;
  max-height: 100vh;
  z-index: 2147483647;
  top: 5%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  margin-left: -275px;
}

@media (min-width: 321px) {
  .customalert {
    top: 25%;
    left: 50%;
    padding: 10px;
  }
}

@media (max-width: 550px) {
  .customalert {
    margin-left: -50vw;
  }
}

.customalert .header,
.customalert .body,
.customalert .footer {
  text-align: center;
  background-color: #f7fafb;
}

.customalert .header {
  font-size: 1em;
}

.customalert .body {
  padding: 10px;
  font-size: 1.4em;
}

.customalert .footer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.customalert .footer button {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100px;
  padding: 10px;
  word-wrap: break-word;
  font-family: "roboto", bfont;
  font-weight: 400;
  font-style: normal;
  border-radius: 12px;
  border: 0;
}

.customalert.customalert-confirm .footer button.button-done {
  margin-left: 10px;
  background-color: #56cbdb;
  color: #fff;
}

.customalert.customalert-confirm .footer button.button-done:hover {
  background-color: #68bb74;
}

.customalert.customalert-confirm .footer button.button-cancel {
  background-color: #e7e7e7;
  color: #000;
}

@font-face {
  font-family: "lfont";
  font-display: fallback;
  src: url("https://s3-eu-west-1.amazonaws.com/static.webteb/fonts/lightb.woff2")
    format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "bfont";
  font-display: fallback;
  src: url("https://static.webteb.net/fonts/do/mediumb.woff2") format("woff2"),
    url("https://static.webteb.net/fonts/do/mediumb.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: fallback;
  src: url("https://static.webteb.net/fonts/roboto_lightb.woff2")
      format("woff2"),
    url("https://static.webteb.net/fonts/roboto_lightb.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2044;
}

@font-face {
  font-family: "Roboto";
  font-display: fallback;
  src: url("https://static.webteb.net/fonts/roboto_mediumb.woff2")
      format("woff2"),
    url("https://static.webteb.net/fonts/roboto_mediumb.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2044;
}

@font-face {
  font-family: "iconfont";
  font-display: fallback;
  src: url("https://static.webteb.net/fonts/redesign8/iconfontb.eot");
  src: url("https://static.webteb.net/fonts/redesign8/iconfontb.eot?#iefix")
      format("embedded-opentype"),
    url("https://static.webteb.net/fonts/redesign8/iconfontb.woff")
      format("woff"),
    url("https://static.webteb.net/fonts/redesign8/iconfontb.ttf")
      format("truetype"),
    url("https://static.webteb.net/fonts/redesign8/iconfontb.svg#iconfont")
      format("svg");
  font-weight: 400;
  font-style: normal;
}

@charset "UTF-8";

html {
  font-size: 100%;
}

body {
  font-weight: 300;
  line-height: 1.2;
  color: #29333f;
  direction: rtl;
  padding: 0;
  margin: 0;
  background-color: #e3ecf0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "roboto", lfont;
}

input {
  font-family: "roboto", lfont;
}

.bold,
strong,
b,
h4,
h5 {
  font-family: "roboto", bfont;
  font-weight: 400;
  font-style: normal;
}

p {
  font-size: inherit;
  line-height: 1.6;
  margin-bottom: 1rem;
  margin-top: 0;
  text-rendering: optimizelegibility;
  font-weight: 300;
}

#p0,
.desc.right-desc {
  line-height: 2rem !important;
}

a {
  color: #16c1f5;
  text-decoration: none;
  outline: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a:active,
a:hover {
  outline: 0;
}

img {
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
  display: inline-block;
}

textarea {
  height: auto;
  min-height: 50px;
  font-family: "roboto", lfont;
}

[class*="small-up-"] .column {
  padding-right: 0.2rem;
  padding-left: 0.2rem;
  float: right;
}

[class*="small-up-"] {
  margin-right: -0.2rem;
  margin-left: -0.2rem;
}

.collapse[class*="small-up-"] {
  margin-right: 0;
  margin-left: 0;
}

.collapse[class*="medium-up"] > .column {
  padding-right: 0;
  padding-left: 0;
}

.small-up-5 .column {
  width: 20%;
}

.small-up-3 .column {
  width: 33.3333%;
}

.small-up-2 .column {
  width: 50%;
}

.small-up-1 .column {
  width: 100%;
}

.block {
  float: right;
  width: 100%;
  overflow: hidden;
}

.container > div {
  float: right;
  width: 100%;
}

input::-webkit-input-placeholder {
  color: #738184;
  opacity: 1;
}

input::-moz-placeholder {
  color: #738184;
  opacity: 1;
}

select,
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
  border: 1px solid #96a6af;
  border-radius: 5px;
  color: #29333f;
  font-size: 1rem;
  height: 36px;
  line-height: 36px;
  margin-bottom: 0.7rem;
  padding: 0 0.5rem;
  width: 100%;
  outline: 0 !important;
}

button.icon {
  background: transparent none repeat scroll 0 0;
  border: 0 none;
  padding: 0;
}

ul {
  list-style: outside none none;
  margin-bottom: 0;
  margin-top: 0;
  padding-right: 0;
}

.strip-head {
  margin-bottom: 0.7rem;
  margin-top: 1rem;
  position: relative;
}

.strip-head .title {
  border-bottom: 3px solid #16c1f5;
  color: #2b5464;
  display: block;
  font-size: 1.3rem;
  padding-bottom: 0.4rem;
}

.strip-head input {
  display: none;
}

.strip-head label {
  color: #899ea9;
  display: inline-block;
  font-size: 0.8rem;
  height: 26px;
  left: 0;
  padding-left: 0.4rem;
  padding-top: 0.4rem;
  position: absolute;
  text-align: left;
  top: 0;
  width: 30px;
}

.padding,
.padding-sl {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.button {
  background: #16c1f5;
  border-radius: 3px;
  color: #fff;
  display: table;
  font-size: 0.9rem;
  padding: 0.55rem 0.65rem;
  position: relative;
  font-family: "roboto", bfont;
  outline: 0 !important;
  border: 0;
  cursor: pointer;
}

.button.border {
  border: 1px solid #16c1f5;
}

.load-more {
  margin-left: auto;
  margin-right: auto;
}

.button .icon-arrow {
  display: inline-block;
  font-size: 0.55rem;
  padding: 0 0.2rem;
}

.button.load-more .icon-arrow {
  transform: rotate(-90deg);
}

.space-5 {
  float: right;
  height: 0.7rem;
  width: 100%;
}

.list {
  background: #fff none repeat scroll 0 0;
  overflow: hidden;
  padding: 0.6rem;
}

.list-2-odd {
  column-count: 2;
  column-gap: 1rem;
}

.ui-autocomplete {
  overflow: auto;
  height: auto !important;
  max-height: 23rem;
  min-height: 2.5rem;
}

.list-2-even {
  column-count: 2;
  column-gap: 1.25rem;
}

.list a {
  border-bottom: 1px solid #dfe4e5;
  color: #2b5464;
  display: block;
  padding-bottom: 0.6rem;
  padding-left: 2rem;
  padding-top: 0.6rem;
}

.list-2-odd a {
  height: 5rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.list > li {
  position: relative;
}

.list li i {
  color: #c7d1d6;
  font-size: 0.5rem;
  left: 0.2rem;
  position: absolute;
  top: 50%;
}

.list-2-odd li i {
  top: 38%;
}

.list > li:last-child a {
  border: 0 none;
}

.list-2-odd > li:last-child {
  column-span: all;
}

.white-bg .list {
  padding: 0;
}

.b-border + .list {
  margin-top: -0.5rem;
}

.accordion-c > section:first-child .acc-head {
  margin-top: 0;
}

[data-icon]:before {
  content: attr(data-icon);
}

[class^="icon-"]:before,
[class*=" icon-"]:before,
[data-icon]:before,
.amp-carousel-button:before {
  font-family: "iconfont";
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

[class^="i-tebpro"],
[class*=" i-tebpro"] {
  font-family: "tebpro-icons" !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-tebpro-favicon:before {
  content: "\e904";
}

.icon-diabetes:before {
  content: "\7c";
}

.icon-correct:before {
  content: "\61";
}

.icon-false:before {
  content: "\5b";
}

.icon-female:before {
  content: "\5f";
}

.icon-male:before {
  content: "\5e";
}

.icon-man:before {
  content: "\60";
}

.icon-newsletter:before {
  content: "\7b";
}

.icon-cancer:before {
  content: "\62";
}

.icon-eye:before,
.icon-eye-health:before {
  content: "\63";
}

.icon-teeth:before,
.icon-dental-health:before {
  content: "\64";
}

.icon-heart:before {
  content: "\65";
}

.icon-sex:before,
.icon-sex-education:before {
  content: "\66";
}

.icon-psychological:before,
.icon-mental-health:before {
  content: "\67";
}

.icon-alternative:before,
.icon-alternative-medicine:before {
  content: "\68";
}

.icon-woman:before,
.icon-woman-health:before {
  content: "\69";
}

.icon-symptom:before {
  content: "\6a";
}

.icon-healthy-food:before,
.icon-healthy-eating:before {
  content: "\6b";
}

.icon-diet:before {
  content: "\6c";
}

.icon-sport:before,
.icon-fitness-exercise:before {
  content: "\6d";
}

.icon-marriage:before,
.icon-relationships:before {
  content: "\6e";
}

.icon-healthy-beauty:before {
  content: "\6f";
}

.icon-hair:before {
  content: "\70";
}

.icon-lifestyle-2:before,
.icon-living-healthy:before {
  content: "\71";
}

.icon-older:before,
.icon-healthy-aging:before {
  content: "\72";
}

.icon-nutrition:before {
  content: "\73";
}

.icon-recipes:before {
  content: "\74";
}

.icon-treatments:before {
  content: "\75";
}

.icon-diseases:before {
  content: "\76";
}

.icon-vaccins:before {
  content: "\77";
}

.icon-terms:before {
  content: "\78";
}

.icon-articles:before {
  content: "\79";
}

.icon-doctors:before {
  content: "\7a";
}

.icon-vitamins:before {
  content: "\41";
}

.icon-drugs:before {
  content: "\42";
}

.icon-q-a:before {
  content: "\43";
}

.icon-tests:before {
  content: "\44";
}

.icon-video:before {
  content: "\45";
}

.icon-infographic:before {
  content: "\46";
}

.icon-testyourself:before {
  content: "\47";
}

.icon-calc:before {
  content: "\48";
}

.icon-slideshows:before {
  content: "\49";
}

.icon-ill-tips:before {
  content: "\4a";
}

.icon-tf:before {
  content: "\4b";
}

.icon-interactions:before {
  content: "\4c";
}

.icon-pregnancy-planning:before,
.icon-planning-pregnancy:before {
  content: "\4d";
}

.icon-pregnancy:before,
.icon-health-pregnancy:before {
  content: "\4e";
}

.icon-babies:before,
.icon-infants:before {
  content: "\4f";
}

.icon-birth:before,
.icon-childbirth:before,
.icon-pregnancy-childbirth:before {
  content: "\50";
}

.icon-pregnancy-calc:before {
  content: "\51";
}

.icon-new-born-dev:before {
  content: "\52";
}

.icon-rearing:before,
.icon-raising-children:before,
.icon-children-healthcare:before {
  content: "\53";
}

.icon-baby-dev:before,
.icon-child-development:before {
  content: "\54";
}

.icon-all-cat:before {
  content: "\55";
}

.icon-medical:before {
  content: "\56";
}

.icon-lifestyle-1:before,
.icon-lifestyle:before {
  content: "\57";
}

.icon-baby:before {
  content: "\58";
}

.icon-mail:before {
  content: "\59";
}

.icon-user:before {
  content: "\5a";
}

.icon-phone:before {
  content: "\30";
}

.icon-news:before {
  content: "\31";
}

.icon-plus:before {
  content: "\32";
}

.icon-arrow-d:before {
  content: "\39";
}

.icon-arrow-l:before {
  content: "\21";
}

.icon-notification-arrow:before {
  content: "\21";
}

.icon-search:before {
  content: "\22";
}

.icon-instg:before {
  content: "\24";
}

.icon-whatsapp:before {
  content: "\25";
}

.icon-arrow:before {
  content: "\26";
}

.icon-twitter:before {
  content: "\27";
}

.icon-fb:before {
  content: "\29";
}

.icon-g-plus:before {
  content: "\28";
}

.icon-rss:before {
  content: "\2a";
}

.icon-back-arrow:before {
  content: "\2b";
}

.icon-play:before {
  content: "\2c";
}

.icon-home:before {
  content: "\2d";
}

.icon-questions:before {
  content: "\2e";
}

.icon-viwe-all:before {
  content: "\2f";
}

.icon-multimedia:before {
  content: "\3a";
}

.icon-very-bad:before {
  content: "\3b";
}

.icon-tips:before {
  content: "\3e";
}

.icon-excellent:before {
  content: "\3d";
}

.icon-good:before {
  content: "\3c";
}

.icon-bad:before {
  content: "\3f";
}

.icon-general:before {
  content: "\40";
}

.icon-zoom:before {
  content: "\5d";
}

.icon-surgery:before {
  content: "\7d";
}

.icon-respiratory:before {
  content: "\7e";
}

.icon-plastic-surgery:before {
  content: "\5c";
}

.icon-orthopedics-and-rheumatology:before {
  content: "\e000";
}

.icon-gastrointestinal-tract:before {
  content: "\e001";
}

.icon-general-health:before {
  content: "\e002";
}

.icon-children-healthcare:before {
  content: "\e003";
}

.icon-neurology:before {
  content: "\e004";
}

.icon-medical-negligence:before {
  content: "\e005";
}

.icon-kidney-urology:before {
  content: "\e006";
}

.icon-hematology:before {
  content: "\e007";
}

.icon-after-birth:before {
  content: "\e008";
}

.icon-breast-cancer:before {
  content: "\e009";
}

.icon-breast-feeding:before {
  content: "\e00a";
}

.icon-caesarean-section:before {
  content: "\e00b";
}

.icon-child-health::before,
.icon-children-health::before {
  content: "\e00c";
  font-size: 1.15rem;
  top: -1px;
}

.icon-genetics:before {
  content: "\e00d";
}

.icon-travel-guide:before {
  content: "\e00f";
}

.icon-first-trimester:before {
  content: "\e010";
}

.icon-signs-of-labor:before {
  content: "\e011";
}

.icon-skin-care:before {
  content: "\e012";
}

.icon-pediatrics:before {
  content: "\e013";
}

.icon-pre-pregnancy:before {
  content: "\e014";
}

.icon-health-pregnancy::before {
  content: "\e015";
  font-size: 1.3rem;
  right: -1px;
  top: -1px;
}

.icon-infant-development:before {
  content: "\e016";
}

.icon-pregnancy-nutrition-and-sport:before {
  content: "\e017";
}

.icon-pregnancy-stages:before {
  content: "\e018";
}

.icon-infertility:before {
  content: "\e019";
}

.icon-pregnancy-symptoms:before {
  content: "\e01a";
}

.icon-pregnancy-tests:before {
  content: "\e01b";
}

.icon-quit-smoking:before {
  content: "\e01c";
}

.icon-family:before {
  content: "\e01d";
}

.icon-fertility:before {
  content: "\e01e";
}

.icon-men-only:before {
  content: "\e01f";
}

.icon-ramadan:before {
  content: "\e020";
}

.icon-ent:before {
  content: "\e021";
}

.icon-weight-loss:before {
  content: "\e022";
}

.icon-dermatology:before {
  content: "\e00e";
}

.icon-ovulation:before {
  content: "\e023";
}

.icon-infant-development-1:before {
  content: "\e024";
}

.icon-chinese:before {
  content: "\e025";
}

.icon-arr-v1:before {
  content: "\e026";
}

.icon-arr-v2:before {
  content: "\e027";
}

.icon-arr-v3:before {
  content: "\e028";
}

.icon-arr-v4:before {
  content: "\e029";
}

.icon-asset-9:before {
  content: "\e02a";
}

.icon-baby-development:before {
  content: "\e02b";
}

.icon-birth-date:before {
  content: "\e02c";
}

.icon-calendar:before {
  content: "\e02d";
}

.item-box a {
  color: #29333f;
}

.small-thumb .strip {
  margin-bottom: 0;
}

.items-boxes .column:last-child .item-box {
  margin-bottom: 0;
}

.item-box {
  background: #fff none repeat scroll 0 0;
  float: right;
  height: auto;
  margin-bottom: 0.7rem;
  padding: 0.5rem 0.7rem 0.7rem;
  vertical-align: top;
  width: 100%;
}

.category[title~="صحة الاطفال"] i {
  display: none;
}

.ib-head {
  display: inline-block;
  margin-bottom: 0.3rem;
  width: 100%;
  overflow: visible;
}

.ib-head .category {
  float: right;
  padding-right: 22px;
  position: relative;
  top: -2px;
}

.ib-head .category i {
  color: #2b5464;
  font-size: 1.1rem;
  line-height: 1;
  position: absolute;
  right: 0;
  top: 2px;
}

.ib-head .category span {
  color: #2b5464;
  font-size: 0.9rem;
}

.item-box .title {
  font-size: 1.06rem;
  padding-top: 0.65rem;
  white-space: normal;
}

.medium-up-3,
.medium-up-3 > .column {
  overflow: hidden;
}

.sidebar .ib-head,
.small-thumb .ib-head {
  display: none;
}

.sidebar .item-box .img-wrap,
.small-thumb .item-box .img-wrap {
  height: 67px;
  position: absolute;
  right: 0.5rem;
  width: 81px;
}

.sidebar .item-box,
.small-thumb .item-box {
  min-height: 83px;
  padding-right: 99px;
  position: relative;
}

.b-border {
  color: #2b5464;
  display: block;
  font-size: 1.3rem;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  padding-bottom: 0.3rem;
  position: relative;
  border-bottom: 3px solid #16c1f5;
}

/* hr {
  background: #bcdee8 none repeat scroll 0 0;
  border: 0 none;
  height: 1px;
  display: inline-block;
  width: 100%;
} */

#strip22004 div div div div a i {
  line-height: 1.4;
}

header div #header-container div {
  font-weight: 500;
  line-height: 1.2;
}

.boxed .medium-up-7 div a span {
  font-weight: 500;
}

#Header .boxed .slogan {
  line-height: 1.2;
  font-weight: 400;
}

.centered {
  display: table;
  margin-right: auto;
  margin-left: auto;
}

.main-content {
  display: inline-block;
  width: 100%;
}

.white-bg {
  background: #fff none repeat scroll 0 0;
  overflow: hidden;
}

.hidden {
  display: none;
}

.item-box .icon-play {
  display: inline-block;
  position: absolute;
  width: 68px;
  height: 68px;
  background: rgba(52, 105, 123, 0.8);
  right: 50%;
  margin-right: -34px;
  margin-top: -34px;
  top: 50%;
  z-index: 10;
  border-radius: 100%;
  color: #fff;
  text-align: center;
  line-height: 76px;
  padding-left: 0.4rem;
  font-size: 1.8rem;
}

.sidebar .item-box .icon-play {
  width: 44px;
  height: 44px;
  margin-right: -22px;
  margin-top: -22px;
  font-size: 1.2rem;
  line-height: 50px;
}

.item-box .img-wrap {
  overflow: hidden;
  position: relative;
  max-height: 180px;
}

.item-box .img-wrap img {
  width: 100%;
}

.clear {
  clear: both;
}

textarea:focus,
input:focus {
  outline: none;
}

.nl-widget img {
  float: right;
}

.nl-widget {
  margin-bottom: 0.7rem;
}

.m-overlay {
  background: #e3ecf0 none repeat scroll 0 0;
  height: 100%;
  width: 100%;
  position: fixed;
  right: 0;
  top: 45px;
  display: none;
}

.nav-trigger:checked ~ .nav {
  display: inline-block;
}

.nav-trigger:checked ~ .m-overlay {
  display: inline-block;
}

.ad1 {
  display: table;
  width: 100%;
  text-align: center;
}

.ad1 > div {
  margin-bottom: 0.6rem;
  margin-top: 0.6rem;
}

.m-sticky {
  position: fixed;
  bottom: -15px;
  right: 50%;
  transform: translateX(50%);
  z-index: 10;
}

@media only screen and (max-width: 769px) {
  .adunit-container {
    margin: 1rem auto;
    width: auto;
    display: table;
  }

  .items-boxes .adunit-container.adunit-itembox-container {
    display: block;
  }

  .head .logo {
    transform: translateX(50%);
  }

  .item-box .icon-play {
    transform: scale(0.7);
  }

  .main-interscroller {
    margin-bottom: 0 !important;
  }
}

.select select {
  margin-bottom: 0;
}

.select {
  margin-bottom: 0.7rem;
}

.loading {
  text-align: center;
  width: 100px;
  padding: 10px;
  background: #fff;
  border-radius: 3px;
  margin-top: 2.5rem;
}

.loading img {
  margin-top: 0.6rem;
}

.adunit-210-34 {
  margin: 8px 0;
}

li .adunit-300-250 {
  margin-left: 2rem;
}

.lazy-load,
.lazy-loaded {
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 0;
}

.lazy-loaded {
  opacity: 1;
}

#inlinequestions ul.list {
  background: #f7fafb none repeat scroll 0 0;
  padding: 0.5rem;
}

.large .item-box .img-wrap {
  max-height: initial;
}

.main-content .adunit-680-110 {
  right: -13px;
  position: relative;
}

.native-video-player {
  width: 100%;
  max-height: 100%;
  text-align: center;
}

.sidebar .native-video-player {
  width: 100%;
  max-height: 200px;
  text-align: center;
}

.webteb-pro-menu .webteb-pro-icon {
  background: url(https://static.webteb.net/tebpro/assets/webtebpro-icon3.svg)
    no-repeat;
  width: 23px;
  height: 23px;
  top: 8px !important;
  right: -6px !important;
}

.icon-webtebpro {
  background: url(https://static.webteb.net/tebpro/assets/webtebpro-icon3.svg)
    no-repeat;
  width: 18px;
  height: 43px;
}

.cc-banner .cc-message,
.cc-banner .cc-compliance {
  font-weight: 300;
  font-family: "roboto", lfont;
  font-size: 1rem;
}

@font-face {
  font-family: "comm";
  src: url("https://static.webteb.net/new-webteb/fonts/comm/commb.eot");
  src: url("https://static.webteb.net/new-webteb/fonts/comm/commb.eot?#iefix")
      format("embedded-opentype"),
    url("https://static.webteb.net/new-webteb/fonts/comm/commb.woff")
      format("woff"),
    url("https://static.webteb.net/new-webteb/fonts/comm/commb.ttf")
      format("truetype"),
    url("https://static.webteb.net/new-webteb/fonts/comm/commb.svg#iconfont")
      format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "comment-box";
  src: url("https://static.webteb.net/fonts/community2/comment-boxb.eot");
  src: url("https://static.webteb.net/fonts/community2/comment-boxb.eot?#iefix")
      format("embedded-opentype"),
    url("https://static.webteb.net/fonts/community2/comment-boxb.woff")
      format("woff"),
    url("https://static.webteb.net/fonts/community2/comment-boxb.ttf")
      format("truetype"),
    url("https://static.webteb.net/fonts/community2/comment-boxb.svg#comment-box")
      format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "comm4";
  src: url("https://static.webteb.net/fonts/community4/comm4b.eot");
  src: url("https://static.webteb.net/fonts/community4/comm4b.eot?#iefix")
      format("embedded-opentype"),
    url("https://static.webteb.net/fonts/community4/comm4b.woff") format("woff"),
    url("https://static.webteb.net/fonts/community4/comm4b.ttf")
      format("truetype"),
    url("https://static.webteb.net/fonts/community4/comm4b.svg#comm3")
      format("svg");
  font-weight: 400;
  font-style: normal;
}

[data-icon]:before {
  font-family: "comm4" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: 400 !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="nc-"]:before,
[class*=" nc-"]:before {
  font-family: "comm4" !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-icon]:before {
  font-family: "comment-box" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: 400 !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="cb-icon-"]:before,
[class*=" cb-icon-"]:before {
  font-family: "comment-box" !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nc-user-times:before {
  content: "\62";
}

.nc-unlock-alt:before {
  content: "\63";
}

.nc-trash:before {
  content: "\64";
}

.nc-trash-o:before {
  content: "\65";
}

.nc-heart:before {
  content: "\66";
}

.nc-heart-o:before {
  content: "\67";
}

.nc-minus-circle:before {
  content: "\68";
}

.nc-lock-alt:before {
  content: "\6a";
}

.nc-minus-square:before {
  content: "\61";
}

.nc-check:before {
  content: "\69";
}

.nc-times:before {
  content: "\6b";
}

.nc-times-circle:before {
  content: "\6c";
}

.nc-times-circle-o:before {
  content: "\6d";
}

.cb-icon-heart:before {
  content: "\62";
}

.cb-icon-users:before {
  content: "\64";
}

.cb-icon-heart-1:before {
  content: "\66";
}

.cb-icon-clipboard-pencil:before {
  content: "\69";
}

.cb-icon-report-1:before {
  content: "\6b";
}

.cb-icon-report-2:before {
  content: "\70";
}

.cb-icon-report:before {
  content: "\71";
}

.cb-icon-body-organ-2:before {
  content: "\77";
}

.cb-icon-heart-2:before {
  content: "\7a";
}

.cb-icon-body-organ:before {
  content: "\41";
}

.cb-icon-community:before {
  content: "\61";
}

[class*="i-icon-"]::before {
  font-family: "comm" !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-icon-arrow:before {
  content: "\61";
}

.i-icon-asset-17:before {
  content: "\62";
}

.i-icon-asset-18:before {
  content: "\63";
}

.i-icon-asset-20:before {
  content: "\64";
}

.i-icon-asset-21:before {
  content: "\65";
}

.i-icon-asset-22:before {
  content: "\66";
}

.i-icon-burger:before {
  content: "\67";
}

.i-icon-comment:before {
  content: "\68";
}

.i-icon-edit:before {
  content: "\69";
}

.i-icon-exit1:before {
  content: "\6a";
}

.i-icon-exit3:before {
  content: "\6b";
}

.i-icon-like {
  cursor: pointer;
}

.i-icon-like:before {
  content: "\6c";
}

.i-icon-more:before {
  content: "\6d";
}

.i-icon-view:before {
  content: "\6e";
}

.i-icon-v2:before {
  content: "\6f";
}

.i-icon-v:before {
  content: "\70";
}

.i-icon-user:before {
  content: "\71";
}

.i-icon-unview:before {
  content: "\72";
}

.i-icon-unlike:before {
  content: "\73";
}

.i-icon-star:before {
  content: "\74";
}

.i-icon-share:before {
  content: "\75";
}

.i-icon-search:before {
  content: "\76";
}

.i-icon-plus1:before {
  content: "\77";
}

.i-icon-photo2:before {
  content: "\78";
}

#Outstream {
  height: 0 !important;
}

.footer-top {
  background: #f7fafb none repeat scroll 0 0;
  padding: 1rem 0.6rem 1.2rem;
}

.footer-bottom {
  padding: 1.4rem 1.2rem 1.2rem;
}

.footer {
  text-align: center;
}

.mayo-harvard a {
  float: right;
  margin: 0 0.3rem;
}

.footer .mayo-harvard {
  display: table;
  margin: 0 auto 0.7rem;
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}

.footer-links li {
  display: inline-block;
  margin: 0 0.7rem 0.5rem;
  position: relative;
}

.footer-links li a {
  color: #80adb7;
  font-size: 0.85rem;
}

.footer-social a {
  background-color: #5e8091;
  border-radius: 2px;
  margin: 0 0.2rem;
  width: 26px;
  height: 26px;
  color: #fff;
  text-align: center;
  line-height: 32px;
  display: inline-block;
}

.footer-social i {
  font-size: 1.15rem;
}

.footer-links li::before {
  background: #aec0c4 none repeat scroll 0 0;
  content: "";
  height: 11px;
  left: -0.8rem;
  position: absolute;
  top: 4px;
  width: 1px;
}

.footer-links li.seperator-none::before {
  display: none;
}

.footer-top p {
  color: #8fb2bc;
  font-size: 0.82rem;
  line-height: 1.3;
  margin-bottom: 0;
  margin-top: 0.5rem;
}

.footer-bottom p {
  color: #5e8091;
  font-size: 1rem;
  margin-bottom: 0;
  margin-top: 0.1rem;
}

.footer amp-social-share[type="twitter"] {
  background-size: 75% auto;
}

.mayo-harvard img {
  border: 1px solid #d5dcdd;
  border-radius: 7px;
}

ul.footer-links {
  margin-top: 4px;
}

.head .icon-burger::before {
  background: #69bd43 none repeat scroll 0 0;
  border-radius: 100%;
  color: #fff;
  font-size: 0.7rem;
  height: 29px;
  line-height: 29px;
  text-align: center;
  width: 29px;
  float: left;
  margin-top: 0.47rem;
}

.head .nav .wrap {
  background: #fff none repeat scroll 0 0;
  border-radius: 3px;
  overflow: hidden;
  margin-bottom: 58px;
  direction: rtl;
}

.head .nav {
  display: none;
  height: 100%;
  padding: 1rem;
  position: fixed;
  right: 0;
  top: 47px;
  width: 100%;
  z-index: 101;
  overflow-y: auto;
  background: rgba(227, 236, 240, 0.9) none repeat scroll 0 0;
}

.m-overlay {
  background: #e3ecf0 none repeat scroll 0 0;
  height: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
}

.nav-trigger:checked ~ .nav,
.nav-trigger:checked ~ .m-overlay {
  display: inline-block;
}

.nav-trigger {
  display: none;
}

.wrap .title {
  color: #29333f;
  display: block;
  height: 44px;
  line-height: 44px;
  padding-right: 60px;
  position: relative;
}

.head .nav .title .icon {
  border-radius: 100%;
  color: #fff;
  display: inline-block;
  height: 28px;
  line-height: 33px;
  position: absolute;
  right: 0.9rem;
  text-align: center;
  top: 0.5rem;
  width: 28px;
}

.wrap .title span {
  display: block;
  border-bottom: 1px solid #e2e2e2;
}

.head .nav .title .icon.icon-baby {
  padding-left: 0.1rem;
  font-size: 1.1rem;
}

.head .nav .title .icon.icon-lifestyle-1 {
  font-size: 1.15rem;
}

.head .nav > ul > li:last-child .title span {
  border: 0 none;
}

.head .nav .medical .icon {
  background: #16c1f5 none repeat scroll 0 0;
}

.head .nav .baby .icon {
  background: #ee4682 none repeat scroll 0 0;
}

.head .nav .lifestyle .icon {
  background: #2cbf6d none repeat scroll 0 0;
}

.head .nav .multimedia .icon {
  background: #ff6950 none repeat scroll 0 0;
}

.head .nav .general .icon {
  background: #78858f none repeat scroll 0 0;
}

.head .nav .advertising .icon {
  background: #9d65c9 none repeat scroll 0 0;
}

.head .nav ul.sub a {
  border-bottom: 1px solid #dce1e2;
  color: #2b5464;
  display: block;
  height: 43px;
  line-height: 43px;
  position: relative;
}

.head .nav .sub {
  padding-right: 60px;
  padding-left: 1rem;
}

.head .nav .icon-arrow-d {
  color: #899ea9;
  font-size: 0.6rem;
  left: 0.3rem;
  position: absolute;
  top: 0.25rem;
}

.wrap > ul {
  position: relative;
}

.head .nav a .icon.icon-multimedia {
  font-size: 0.9rem;
}

.head .nav ul.sub a i.icon-cancer,
.head .nav ul.sub a i.icon-older {
  font-size: 1.55rem;
}

.head .nav ul.sub a i.icon-baby-dev {
  font-size: 1.6rem;
}

.head .nav ul.sub a i.icon-new-born-dev {
  font-size: 1.65rem;
}

.head .nav ul.sub a i.icon-babies,
.head .nav ul.sub a i.icon-diseases {
  font-size: 1.35rem;
}

.head .nav ul.sub a i.icon-diet,
.head .nav ul.sub a i.icon-nutrition {
  font-size: 1.5rem;
}

.head .nav ul.sub a i.icon-terms {
  font-size: 1.7rem;
  right: -2.8rem;
}

.head .nav ul.sub a i.icon-articles {
  font-size: 1.25rem;
}

.head .nav ul.sub a i.icon-infographic {
  font-size: 1.65rem;
  right: -2.5rem;
}

.head .nav ul.sub a i.mondial-icon-cup {
  font-size: 2rem;
}

.head .acc-head {
  background: transparent;
  border: 0;
  padding-right: 0;
  padding-left: 1rem;
  padding-bottom: 1px;
  width: 100%;
  position: relative;
  display: inline-block;
}

.head .nav ul.sub a i {
  position: absolute;
  right: -2.6rem;
  top: 0.2rem;
  font-size: 1.4rem;
}

.head .nav ul.sub a i.icon-diabetes {
  font-size: 1.32rem;
}

.head .nav ul.sub a i.icon-symptom {
  font-size: 1.55rem;
}

.head .nav ul.sub a i.icon-sex {
  font-size: 1.5rem;
}

.head .nav ul.sub a i.icon-alternative {
  font-size: 1.3rem;
}

.head .nav ul.sub a i.icon-teeth {
  font-size: 1.3rem;
}

.head ul.last-child .title span {
  padding-bottom: 1px;
}

.head ul.last-child section[expanded] .title span {
  padding-bottom: 0;
}

.accordion-c .acc-content {
  display: none;
}

.accordion-c input:checked + .acc-head + .acc-content {
  display: block;
}

.nav-trigger:checked + .icon-burger::before {
  content: "×";
  font-size: 1.3rem;
  line-height: 22px;
  font-weight: 700;
}

.head .nav input:checked + label .icon-arrow-d {
  transform: rotate(-180deg);
  top: 0.15rem;
  color: #fff;
}

.wrap input:checked + label .title {
  color: #fff;
}

.wrap input:checked + label .title span {
  border-bottom: 0;
}

.nav .medical input:checked + .acc-head {
  background: #16c1f5;
}

.head .nav .medical input:checked + label .icon {
  background: #fff;
  color: #16c1f5;
}

.nav .lifestyle input:checked + .acc-head {
  background: #69bd43;
}

.head .nav .lifestyle input:checked + label .icon {
  background: #fff;
  color: #69bd43;
}

.nav .baby input:checked + .acc-head {
  background: #ee4682;
}

.head .nav .baby input:checked + label .icon {
  background: #fff;
  color: #ee4682;
}

.nav .multimedia input:checked + .acc-head {
  background: #ff6950;
}

.head .nav .multimedia input:checked + label .icon {
  background: #fff;
  color: #ff6950;
}

.nav .general input:checked + .acc-head {
  background: #5a6a81;
}

.head .nav .general input:checked + label .icon {
  background: #fff;
  color: #5a6a81;
}

.sub.acc-content.last .border-none {
  border-bottom: 0;
}

.loginTitle {
  color: #29333f;
}

@font-face {
  font-family: "names-i";
  src: url("https://static.webteb.net/new-webteb/names/iconfontb.eot");
  src: url("https://static.webteb.net/new-webteb/names/iconfontb.eot?#iefix")
      format("embedded-opentype"),
    url("https://static.webteb.net/new-webteb/names/iconfontb.woff")
      format("woff"),
    url("https://static.webteb.net/new-webteb/names/iconfontb.ttf")
      format("truetype"),
    url("https://static.webteb.net/new-webteb/names/iconfontb.svg#iconfont")
      format("svg");
  font-weight: 400;
  font-style: normal;
}

li.baby .i-icon-both::before {
  content: "\62";
  font-family: "names-i" !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.9rem;
  right: -6px;
  position: relative;
  top: 4px;
}

.head .nav .ramadan .icon {
  background: #7facee none repeat scroll 0 0;
}

ramadan-link {
  color: #405677;
}

.ramadan-link i {
  color: #7facee;
}

.head .nav .home .icon {
  background: #7facee none repeat scroll 0 0;
}

@font-face {
  font-family: "Community2";
  src: url("https://static.webteb.net/fonts/newMenuIcons/Community2b.eot?trj70h");
  src: url("https://static.webteb.net/fonts/newMenuIcons/Community2b.eot?trj70h#iefix")
      format("embedded-opentype"),
    url("https://static.webteb.net/fonts/newMenuIcons/Community2.ttf?trj70h")
      format("truetype"),
    url("https://static.webteb.net/fonts/newMenuIcons/Community2.woff?trj70h")
      format("woff"),
    url("https://static.webteb.net/fonts/newMenuIcons/Community2.svg?trj70h#Community2")
      format("svg");
  font-weight: 400;
  font-style: normal;
}

[class^="nm-icon-"],
[class*=" nm-icon-"] {
  font-family: "Community2" !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nm-icon-Community:before {
  content: "\e900";
  color: #fff;
}

.head .nav .communities .icon {
  background: #f59a00 none repeat scroll 0 0;
}

@media only screen and (max-width: 48rem) {
  .head .nav .communities .nm-icon-Community::before {
    bottom: 0.2rem;
    font-size: 0.8rem;
    position: relative;
  }
}

.head .nav .webtebpro .icon {
  background: #2b5464 none repeat scroll 0 0;
}

.head .nav .webtebpro .icon .i-tebpro-favicon {
  font-size: 1.4rem;
}

@charset "UTF-8";

@font-face {
  font-family: "blog";
  src: url("https://static.webteb.net/fonts/newMenuIcons/BlogIcon/blogb.eot");
  src: url("https://static.webteb.net/fonts/newMenuIcons/BlogIcon/blogb.eot?#iefix")
      format("embedded-opentype"),
    url("https://static.webteb.net/fonts/newMenuIcons/BlogIcon/blogb.woff")
      format("woff"),
    url("https://static.webteb.net/fonts/newMenuIcons/BlogIcon/blogb.ttf")
      format("truetype"),
    url("https://static.webteb.net/fonts/newMenuIcons/BlogIcon/blogb.svg#blog")
      format("svg");
  font-weight: 400;
  font-style: normal;
}

[data-icon]:before {
  font-family: "blog" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: 400 !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="blog-icon-"]:before,
[class*=" blog-icon-"]:before {
  font-family: "blog" !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.blog-icon-microphone:before {
  content: "\61";
}

.blog-icon-mic-c:before {
  content: "\62";
}

.blog-icon-mic-a:before {
  content: "\63";
}

.blog-icon-micro-record-streamline:before {
  content: "\64";
}

.blog-icon-mic:before {
  content: "\65";
}

.blog-icon-mute-off:before {
  content: "\66";
}

.blog-icon-micro:before {
  content: "\67";
}

.head .nav .blogs .icon {
  background: #007292 none repeat scroll 0 0;
}

@font-face {
  font-family: "mondial-icons";
  src: url("https://static.webteb.net/fonts/newMenuIcons/mondial/mondial-iconsb.eot?uwlmtt");
  src: url("https://static.webteb.net/fonts/newMenuIcons/mondial/mondial-iconsb.eot?uwlmtt#iefix")
      format("embedded-opentype"),
    url("https://static.webteb.net/fonts/newMenuIcons/mondial/mondial-iconsb.ttf?uwlmtt")
      format("truetype"),
    url("https://static.webteb.net/fonts/newMenuIcons/mondial/mondial-iconsb.woff?uwlmtt")
      format("woff"),
    url("https://static.webteb.net/fonts/newMenuIcons/mondial/mondial-iconsb.svg?uwlmtt#mondial-icons")
      format("svg");
  font-weight: 400;
  font-style: normal;
}

[class^="mondial-icon"],
[class*=" mondial-icon"] {
  font-family: "mondial-icons" !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mondial-icon-guide:before {
  content: "\e930";
  color: #dc977d;
}

.mondial-icon-player:before {
  content: "\e931";
  color: #009361;
}

.mondial-icon-flag:before {
  content: "\e932";
  color: #007185;
}

.mondial-icon-cup:before {
  content: "\e933";
}

.mondial-icon-forum:before {
  content: "\e934";
  color: #d45667;
}

.head .nav .mondial .icon {
  font-size: 1.45rem;
  background: #a7291d none repeat scroll 0 0;
}

#m-leaderboard {
  position: relative;
  top: initial;
  z-index: 1;
  background-color: initial;
  padding-top: initial;
}

.leaderboard-sticky {
  position: fixed !important;
  top: 0 !important;
  z-index: 1001 !important;
  background-color: #e3ecf0 !important;
}

.m-leaderboard-container {
  height: 110px;
  width: 100%;
  display: block;
  margin-top: 10px;
  display: inline-block;
}



.logo h1 {
  margin: 0;
}

.head .menu {
  position: absolute;
  right: 0;
  transition: margin-right 0.1s linear;
}

.head {
  background: #fff none repeat scroll 0 0;
  border-bottom: 2px solid #16c1f5;
  height: 47px;
  position: relative;
  overflow: visible;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  padding-right: 148px;
}

.head .logo {
  display: inline-block;
  position: absolute;
  right: 50%;
  transition: all 0.1s linear;
}

.head-search > .icon-search,
.user-profile {
  color: #2b5464;
  display: inline-block;
  height: 45px;
  padding: 0 1rem;
  position: absolute;
  left: 0;
}

.head-search > .icon-search::before {
  position: relative;
  width: 29px;
  height: 29px;
  line-height: 29px;
  background: #58d4da;
  color: #fff;
  display: inline-block;
  text-align: center;
  border-radius: 100%;
  font-size: 0.9rem;
  margin-top: 8px;
}

.user-profile {
  background-color: #f5f6f7;
  border-radius: 100%;
  font-size: 1.5rem;
  height: 48px;
  padding: 0;
  text-align: center;
  width: 48px;
  padding: 0;
  margin-left: 9px;
}

.log-in > a.logout {
  margin-left: 1.2rem;
}

.user-profile i {
  position: relative;
  top: 4px;
}

.head .icon-burger {
  padding: 0 1rem;
  float: left;
  height: 45px;
  position: relative;
}

.head .logo a {
  float: right;
  padding-top: 9px;
}

.log-in {
  float: left;
}

.log-in > a:not(.user-profile) {
  background: #f5f6f7;
  color: #2b5464;
  padding: 0.4rem 0.8rem;
  display: inline-block;
  border-radius: 2px;
  margin-top: 7px;
  margin-left: 2rem;
}

.log-in > a:not(.user-profile) i {
  margin-top: 2px;
  float: right;
  margin-left: 4px;
}

.log-in > a.logout i {
  margin-top: 3px;
  margin-left: 7px;
}

.search-form input {
  -webkit-appearance: none;
}

.search-form form {
  position: relative;
}

.search-form .button {
  background: #16c1f5 none repeat scroll 0 0;
  border-radius: 27px 0 0 27px;
  color: #fff;
  font-size: 1rem;
  height: 29px;
  left: 0;
  position: absolute;
  top: 0;
  width: 33px;
  border: 0;
  padding: 0;
}

[id^="sitesearch"] label {
  position: absolute;
  left: 19px;
  top: 6px;
}

.search-form .icon-search {
  color: #fff;
  display: inline-block;
  top: 2px;
  position: relative;
  font-size: 0.9rem;
  left: 1px;
}

.search-form input {
  border-color: #88def2;
  border-radius: 27px 0 15px 27px;
  margin-bottom: 0;
  height: 29px;
  line-height: 29px;
}

.head-search .search-form {
  margin-top: 8px;
  width: 100%;
  float: left;
  padding-left: 1rem;
  visibility: hidden;
  opacity: 0.5;
  transition: all 0.1s linear;
}

.overlay.search-unactive {
  background: rgba(255, 255, 255, 0.75);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  display: none;
  margin-top: 47px;
  z-index: 200;
}

.head .head-search {
  float: left;
  width: 50%;
  transition: width 0.15s linear;
}

#SearchActive:checked ~ .head-search {
  width: 100%;
}

#SearchActive:checked ~ .menu {
  margin-right: -50px;
}

#SearchActive:checked ~ .logo {
  transform: translateX(0);
  right: 1rem;
}

#SearchActive:checked ~ .head-search .search-form {
  visibility: visible;
  opacity: 1;
}

#SearchActive:checked ~ .overlay.search-unactive {
  display: inline-block;
}

.membership .icon-user {
  margin-top: 2px;
  position: relative;
  top: 2px;
}

.icon-burger::before {
  content: "\23";
  background: #69bd43 none repeat scroll 0 0;
  border-radius: 100%;
  color: #fff;
  display: inline-block;
  font-size: 0.75rem;
  height: 30px;
  line-height: 31px;
  text-align: center;
  width: 30px;
}
.search-p .site-search {
  float: none;
  width: 100%;
  padding: 1.5rem 1rem 0rem;
  margin-top: 0;
  background: #fff;
  display: inline-block;
}
