/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 54px;
    height: 26px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 0px;
    bottom: 0px;
    background-color: #0079AB;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #99C6D5;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(28px);
    -ms-transform: translateX(28px);
    transform: translateX(28px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
.bundle-card{
    scroll-snap-align: center;
    /* border: 1px solid #BBC5D0;
    border-radius: 5px;
    background-color: #FFFFFF; */
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
 
    min-width: calc(100vw - 100px);
    position: relative;
  }
  .bundle-card .bundle-card-body{
    padding: 26px 13px 0px 13px;
    height: 100%;
    overflow: hidden;
    border: 1px solid #BBC5D0;
    border-radius: 5px;
    background-color: #FFFFFF;
    position: relative;
}
.bundle-card.active .bundle-card-body{
  border: 1px solid #F7B500;
  position: relative;
}

.bundle-container{
    padding: 1rem;
    display: flex;
    overflow-x: scroll;
    scroll-padding: 0 50px;
    scroll-snap-type: x mandatory;
    align-items: stretch;
}
.corner-label{
    color: #eee;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    left: -41px;
    top: -22px;
    white-space: nowrap;
    transform: rotate(315deg);
    width: 115px;
    text-align: center;
    height: 67px;
    line-height: 2em;
    background-color: #F7B500;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.bundles-table .corner-label{
  color: #eee;
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  left: -41px;
  top: -22px;
  white-space: nowrap;
  transform: rotate(315deg);
  width: 115px;
  text-align: center;
  height: 67px;
  line-height: 2em;
  background-color: #F7B500;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.subscription-main{
  overflow: hidden;
}
.bundle-card .subscribe-btn{
  border: 1px solid var(--jamboobtn);
  color: var(--jamboobtn);
  font-family: var(--mainfont);
  background-color: var(--white);
  cursor: pointer;
  padding: 5px;
  width: 100%;
  font-size: 16px;
  border-radius: 5px;
  font-weight: bold;
  height: 48px;
  /* max-width: 330px; */
}
.bundles-table .subscribe-btn{
  border: 1px solid var(--jamboobtn);
  color: var(--jamboobtn);
  font-family: var(--mainfont);
  background-color: var(--white);
  cursor: pointer;
  padding: 5px;
  width: 100%;
  font-size: 16px;
  border-radius: 5px;
  font-weight: bold;
  height: 40px;
  /* max-width: 330px; */
}
.bundles-table .subscribe-btn-blue{
  border: 1px solid var(--jamboobtn);
  color: var(--white);
  font-family: var(--mainfont);
  background-color: var(--jamboobtn);
  cursor: pointer;
  padding: 5px;
  width: 100%;
  font-size: 16px;
  border-radius: 5px;
  font-weight: bold;
  height: 40px;
  /* max-width: 330px; */
}
.bundle-card.active .subscribe-btn{
  color: var(--white);
  background-color: var(--jamboobtn);
  border: 0;
  font-family: var(--mainfont);
  border-radius: 5px;
  padding: 5px;
  width: 100%;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  height: 48px;
  /* max-width: 330px; */
}
.mx--4{
  margin-left: -24px;
  margin-right: -24px;
}
.bundles-table{
  width: 100%;
border-top: 1px solid #BBC5D0;
border-bottom: 1px solid #BBC5D0;
border-collapse: collapse;
margin-top: 64px;
margin-bottom: 64px;
}
.border-gold{
  border-right: 1px solid #F7B500 !important;
  border-left: 1px solid #F7B500 !important;
  background: var(--white) !important;
}
.bundles-table td{
  /* border:1px solid black; */
  border-right: 1px solid #BBC5D0;
  width: calc(100%/5);
  padding:0px ;
  background: #ffffff61;
  
}
.bundles-table tr{
  /* border:1px solid black; */
  border-top: 1px solid #BBC5D0;
  width: calc(100%/5);
  padding:0px ;
}
.bundles-table th input:checked + label {
  color:  var(--jamboobtn);
}
.bundles-table .collapsible::before {
  content: url(../img/play_arrow_24px.svg);
  width: 2em;
  text-align: center;
  color: var(--jamboobtn);
  transform-origin: center;
  align-self: center;
  /* margin: auto; */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 4px;
}
.bundles-table .collapsible.active:before {
  
  transform: rotate( 
    -90deg);
        position: relative;
        top: -1px;
        right: -5px;
    
}
.bundles-table .price{
  line-height: 40px;
}
.pg-light-blue{
  background: #f0f8fb;
}
.question:has( .collapsible.active){
  background-color: #fff;
    border: 1px solid #bbc5d0;
    border-radius: 4px;
}
.swiper-button-next:after, .swiper-button-prev:after {
  transform: scale(1) !important;
}
.swiper-btns{
  width: 100%;
  direction: rtl;
  position: relative;
}
.swiper-pagination{
  position: relative !important;
  z-index: 0;
}

.swiper-pagination span{
  margin:2px
}
.swiper{
  width: 100%;
  overflow: hidden;
}
@media (min-width: 1200px) {
     .bundle-card{
        flex: 1;
        min-width:0px
    }
    .bundle-container{
        overflow: auto;
    }
     .bundle-card.active .bundle-card-body{
      padding: 26px 13px 0px 13px;
      height: 120%;
      width: 115%;
      overflow: hidden;
      border: 1px solid #F7B500;
      border-radius: 5px;
      background-color: #FFFFFF;
      z-index: 10;
      position: relative;
      box-shadow: 0 2px 35px 0 rgba(0,0,0,0.2);
    }
  }

  /* question */
  #question-list .question {
    background-color: #FFFFFF;
  }
  #question-list .question h4 {
    color: var(--jamboobtn);
  }
  #question-list .collapsible {
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: right;
    outline: none;
    background-color: transparent;
    padding: 32px 24px;
    margin: 0px;
  }
  
  #question-list .active.question {
    background-color: #fff;
    border: 1px solid #bbc5d0;
    border-radius: 4px;
  }
  
  
  
  #question-list .collapsible:after {
    content: "\002B";
    font-weight: bold;
    float: left;
    margin-left: 5px;
    zoom: 2;
  }
  #question-list .collapsible.active{
      padding-bottom: 8px;
  }
  #question-list .collapsible.active:after {
    content: "\2212";
    zoom: 2;
  }
  
  #question-list .collapsed-content p{
    padding: 0px 24px 32px 24px;
    margin: 0px;
    background-color: transparent;
  }
  /* #question-list .question-title {
    font-size: 20px;
    line-height: 40px;
  } */
  #question-list{
      font-family: 'Almarai';
      margin-top: 48px;
  }
  
  @media (min-width: 768px) {
    /* #question-list .question-title {
      font-size: 16px;
      line-height: 32px;
    } */
    #question-list .question:hover h4 {
      color: var(--white);
    }
    #question-list .question:hover {
      color: var(--white);
      background-color: var(--jamboobtn);
    }
  }
  