.collapsible {
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: right;
    outline: none;
    border-radius: 5px;
    background-color: #E5F1F6;
    padding: 0px 16px;
    margin: 24px 0px 24px 0px;
    
  }
  .collapsible:after {
    content: url("../img/arrow-down.svg");
    font-weight: bold;
    float: left;
    margin-left: 0px;
  }
  .collapsible.active:after {
    content: url("../img/arrow-up.svg");
    font-weight: bold;
    
  }
  .collapsible.active{
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

  }
  .pro-plus-features .collapsed-content{
    top: 63px;
    position: absolute;
    background: #ffff;
    z-index: 50;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 0px 0px 5px 5px;
  }
  .pro-plus-features .collapsed-content a{
    border-bottom: 1px solid #E5F1F6;
  }
  .feature-card{
    border: 1px solid #BBC5D0;
    border-radius: 5px;
    background-color: #FFFFFF;
    padding: 24px 16px;
  }
  .details-img{
    width: 60px;
    height: 60px;
  }
  .card-main-img{
    width: 113px;
    height: 88px;
  }

  .pro-plus-link{
    border: 1px solid #BBC5D0;
    background-color: #F1F3F6;
    padding: 20px 40px;
  }
  .pro-plus-link.active{
    border-bottom: 4px solid var(--jamboobtn);
  }
  .register-now{
    max-width: 168px;
  }
  .sticky-down-button{
    position: relative;
  }
  .sticky-down-button.sticky-active{
    position: sticky;
    bottom: 0px;
    width: 100%;
  }
  @media (min-width: 768px) {
    .card-main-img{
      width: 322px;
      height: 251px;
    }
  }