.question {
  background-color: #f0f8fb;
}
.question h4 {
  color: var(--jamboobtn);
}
.collapsible {
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: right;
  outline: none;
  background-color: transparent;
  padding: 32px 24px;
  margin: 0px;
}

.active.question {
  background-color: #fff;
  border: 1px solid #bbc5d0;
  border-radius: 4px;
}



.collapsible:after {
  content: "\002B";
  font-weight: bold;
  float: left;
  margin-left: 5px;
  zoom: 2;
}
.collapsible.active{
    padding-bottom: 8px;
}
.collapsible.active:after {
  content: "\2212";
  zoom: 2;
}

.content p{
  padding: 0px 24px 32px 24px;
  margin: 0px;
  background-color: transparent;
}
.question-title {
  font-size: 20px;
  line-height: 40px;
}
#question-list{
    font-family: 'Almarai';
}

@media (min-width: 768px) {
  .question-title {
    font-size: 16px;
    line-height: 32px;
  }
  .question:hover h4 {
    color: var(--white);
  }
  .question:hover {
    color: var(--white);
    background-color: var(--jamboobtn);
  }
}
