.message-alert {
    padding: 20px 5px;
    text-align: center;
    display: flex;
    align-items: center;
    height: 60vh;
}

.message-alert p {
    max-width: 400px;
    margin: 0 auto;
}

.sign-up-blk {
    display: flex;
    align-items: center;
}

p {
    font-weight: normal;
}

input.basic-input {
    padding-right: 10px;

}

.policy-read {
    font-weight: 700;
    max-width: 330px;
    font-size: 16px;
}
.social-login-blk {
    text-align: right;
}
.social-login-list {
    margin: 0 auto;
    display: flex;
}
.social-login-p {
    font-size: 14px;
}
 label {
    margin-top: 16px;
    margin-bottom: 8px;
}
.sign-up-img img {
    width: 600px;
}
.social-login-list li {
    width: 44px;
    height: 44px;
    overflow: hidden;
    display: inline-flex;
    border-radius: 6px;
    margin: 0 11px;
}
.social-login-list li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.social-login-list li a img {
    width: 20px;
}

.phone-part select[name=phone-code].single-select {
    width: 90px !important;
}
.phone-part input[name=phone-number] {
    width: 185px;
}
.phone-part  span.select2.select2-container.select2-container--default {
    width: 130px !important;

}

.social-login-list li:nth-child(1) {
    background-color: #5266A8;
}
.social-login-list li:nth-child(2) {
    background-color: #F1F1F1;
}
.social-login-list li:nth-child(3) {
    background-color: #5ABEEC;
}
#language-multi-select  textarea.select2-search__field {
    position: absolute;
    top: 15px;
    direction: ltr;
}
/**** Registration: Sign in  Step 1  > *****/

/****  Registration: Sign in  Step 1  < *****/

/**** Registration Step 1  > *****/
.steps-blk {
    padding-top: 30px;
}
.steps-button {
    text-align: right;
}
.file {
    visibility: hidden;
    position: absolute;
    width: 1px;
}

.img-thumbnail {
    width: 96px;
    height: 96px;
    object-fit: cover;
    border-radius: 100%;
}

.image-part {
    text-align: right;
}

.img-preview-blk {
    text-align: right;
    padding: 32px 0;
}

.browse-btn {
    font-family: var(--mainfont);
    color: var(--white);
    background-color: transparent;
    font-size: 14px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}
.img-upload-upper-layer{
    width: 96px;
    height: 96px;
    position: absolute;
    background: #80808063;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items:center;
}
.multiple-select {
    width: 100%;
    max-width: 330px;
}
.select2-dropdown .select2-results__option {
    position: relative;
}
/* .gender-part span.select2.select2-container.select2-container--default{
    width: 330px !important;
} */
.select2-container--default .select2-selection--single .select2-selection__rendered {
    padding-right: 17px;
}

.password-part {
    position: relative;
}

.toggle-password {
    position: absolute;
    left: 16px;
    bottom: 1px;
    cursor: pointer;
}

.valid-input-icon {
    position: absolute;
    left: 16px;
    bottom: 1px;
    cursor: pointer;
}
span.select2.select2-container.select2-container--default{
    width: 100% !important;
}

.select2-container .select2-selection--single {
    padding-top: 12px;
}

.next-back-blk {
    margin: 30px 0;
}

/* .next-back-blk .btn-big-blue, .next-back-blk .btn-big-blue-outline {
        max-width: 160px;
    margin-left: 6px;
} */
.felids-title{
    color:#363436;
    font-size: 20px;
    line-height: 40px;
}
.aks-file-upload{
    -webkit-box-shadow:none !important ;
    box-shadow: none !important;
}
.aks-file-upload-content {
    padding: 0 10px;
    margin: 0;
    text-align: center;
    border: 1px dashed rgba(0,121,171,0.6);
    height: 48px;
    border-radius: 6px;
    background-color: rgba(0,121,171,0.05);
}
.dropzone{
    padding: 0 10px;
    margin: 0;
    text-align: center;
    border: 1px dashed rgba(0,121,171,0.6);

    border-radius: 6px;
    background-color: rgba(0,121,171,0.05);
    display: flex;
    position: relative;
    height: auto;
    min-height: 32px;
}
.dropzone .dz-message{
    color: var(--jamboobtn);
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 32px;
margin: 8px;
display: flex;
    width: 100%;
justify-content: center;
}
.dropzone .dz-message span{
display: flex;
justify-content: center;
align-items: center;
}
.dropzone .dz-message span:before {
    content: url(../img/add_photo_alternate-24px_blue.svg);
    height: 26px;
}
.dropzone .dz-preview.dz-image-preview{
    background: none;
    width:100%;
    margin-top: 32px;
}
.dropzone .dz-preview .dz-image{
    width:100%;
    height: auto;
}
.dropzone .dz-preview .dz-image img{
    width:100%
}
.dropzone .dz-preview .dz-remove{
    position: absolute;
    top: -30px;
    left: 0px;
    width: 24px;
    /* height: 10px; */
    text-decoration: none;
    color: #0079AB;
    font-weight: bold;
}
.dropzone .dz-preview .dz-success-mark,
.dropzone .dz-preview .dz-success-mark svg,
.dropzone .dz-preview.dz-error .dz-error-mark{
    display: none;
}
.sticky-left-img{
    position: sticky;
    top: 187px;
}
@media (max-width: 991px) {

    /* .next-back-blk .btn-big-blue, .next-back-blk .btn-big-blue-outline {
        max-width: 330px;
    } */
    .steps-button {
        text-align: left;
    }

   
    .img-preview-blk {
        padding-bottom: 10px;
    }
}
@media (max-width: 767px) {
    .img-preview-blk {
        text-align: center;
    }
}
/**** Registration Step 1  < *****/

@media (max-width: 991px) {

    .social-login-list {
        justify-content: center;
    }
    .sign-up-blk {
        height: auto;
    }
    .social-login-list {
        justify-content: flex-start;
    }

}
@media (max-width: 767px) {

}
@media (max-width: 479px) {
    .social-login-list {
        justify-content: center;
    }
    .social-login-blk {
        text-align: center;
    }

}
@media (max-width: 360px) {
span.select2.select2-container.select2-container--default {
        width: 100% !important;
    }
    .gender-part span.select2.select2-container.select2-container--default {
        width: 100% !important;
    }
}
