input {
    margin-bottom: 0 !important;
}
.search-result-page .search-input-blk .search-icon {
    top: 30px;
}
.search-result-page .hero-search {
    background-color: var(--white);
}

.search-result-page .search-input-blk label {
    padding-right: 6px;
}

.doctor-card {
    text-align: center;
    border: 1px solid var(--grayborder);
    border-radius: 5px;
    padding: 12px;
}

.doctor-card .doctor-name {
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 18px;
    line-height: 40px;
    color: var(--jamboobtn);
}

.doctor-sp {
    font-size: 14px;
}

.doctor-loc {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.doctor-loc-text {
    vertical-align: text-top;
}
.ask-location {
    margin-top: 10px;

}
.ask-location .link-btn {
    font-size: 14px;
}

.search-result-cards {
    padding: 50px 0;
}

.result-number {
    font-size: 16px;
    color: var(--litegray);
    margin: 0;
}
.filter-blk {
   display: inline-flex;
}

.filter-blk img {
    cursor: pointer;
    transform: translate(-2px, 17px);
}
.filter-form {
    display: inline-flex;
}
.multi-select-blk {
    border-bottom: 1px solid var(--grayborderalpha);
}
.multi-select {
    display: inline-flex;
    width: 100%;
}
.multi-select input{
    height: 28px;
    padding: 4px;
    display: flex;
    align-items: center;
}

.multi-select-blk div:last-child {
    margin-bottom: 18px;
}
.multi-select input[type="checkbox"]:checked ~ label {
    font-weight: bold;
}
.multi-select input[type="radio"]:checked ~ label {
    font-weight: bold;
}
.multi-select label {
    display: flex;
    align-items: center;
    text-align: right;
    margin: 0 12px;
    font-size: 16px;
    color: var(--black);
}
.search-result-page .advance-search-blk {
    /*position: relative;*/
}
.filter-button {
    width: 100%;
    background-color: var(--white);
    bottom: 0;
    padding: 24px;
}


.search-result-page .search-select-blk .select2.select2-container.select2-container--default {
    width: 100% !important;
}
.filter-form {
    width: 100%;
}

.search-result-page .location-icon img {
    transform: translate(0px, 10px);
}
header .head {
    background-color: var(--white);
    box-shadow: 5px 5px 25px 0 rgba(179,179,179,0.25);
}
@media (max-width: 991px) {
    .doctor-rating .swiper-wrapper .swiper-slide {
        padding: 10px;
    }
    .hero-search {
        padding-bottom: 0;
    }
    .search-result-cards {
        padding: 0;
    }
    .filter-button {
        box-shadow: 5px 5px 25px 0 rgba(179, 179, 179, 0.25);
        transform: translate(14px, 10px);
    }
    .search-result-page .advance-search-blk {
        padding-bottom: 85px;
    }

    .filter-button {
        position: fixed;
    }
    .result-number {
        margin: 24px 0;
    }
}

@media (max-width: 767px) {
    .advance-search-input {
        width: 100% !important;
    }

}
@media (max-width: 445px) {
   .search-input {
       width: 300px;
       max-width: unset;
   }
    .filter-blk img {
        cursor: pointer;
        transform: translate(-2px, 18px);
    }

}
@media (max-width: 380px) {
    .search-result-page  .search-input {
        width: 250px;
    }
}
