
.filter-bar {
    overflow-x: auto;
    background-color: var(--jamboobtn);
}

.search-filter .collapsed-content {
    position: absolute;
    background: white;
    z-index: 10;
    top: 65px;
    max-height: 300px;
    overflow-y: auto;
    width: 100vw;
    right: 0;
    border: 1px solid #BBC5D0;
}

.search-filter .collapsible:after {
    content: "\276F";
    width: 2em;
    height: 2em;
    text-align: center;
    color: var(--jamboobtn);
    transform-origin: center;
    transform: rotate(-90deg);
    margin: auto;
}

.search-filter .collapsible.active:after {
    transform: rotate(90deg);
}

.search-filter .search-element {
    direction: rtl;
    text-align: right;
    box-sizing: border-box;
    height: 33px;
    max-width: 100%;
    border: 1px solid var(--grayborder);
    border-radius: 20px;
}

.insurance input {
    width: 20px;
}

.search-results .doctor-card {
    border: 1px solid #BBC5D0;
    border-radius: 5px;
}
.clear-search-img{
    height: 20px;
    width: 20px;
    padding: 2px;
}
p.clear-filter{
    border-bottom: 1px solid var(--white);
    color: var(--white);
    
}
.gender input[type="radio"]:checked+label { 
    font-weight: bold; 
}
@media (min-width: 1200px) {
    .search-filter .collapsed-content {
        width: 360px;
        right: auto;
        top: 67px;
    }

    .filter-bar {
        background-color: #EDF0F2;
        border: 1px solid #C2CBD4;
    }
    .search-results .doctor-card {
        width: 24%;
        margin: 0px 0.5%;
    }
    p.clear-filter{
        border-bottom: 1px solid var(--jamboobtn);
        color: var(--jamboobtn);
    }
}