@media only screen and (max-width: 768px) {
  #video-preview {
    max-width: auto !important;
    max-height: auto !important;
    margin: 16px 0;
  }
  #tile-16 {
    width: 100% !important;
    height: auto !important;
    left: -514px !important;
    top: 78.25px;

  }
}
