body {
  background: #fff !important;
}

.doctor-card {

}

.doctor-card h1 {
  height: 46px;
  color: #19B89C;
  font-size: 28px;
  font-weight: bold;
  line-height: 46px;
  text-align: right;
}

.card.doctor-card {
  border:0;
  background-color: transparent;
  border-bottom: 1px solid #E2E2E2;
  border-radius: 0;
  padding-bottom: 30px;
}

.doctor-card .card-body {
  padding: 0;
  background-color: transparent;
}

.profile-image img {
  border-radius: 100%;
  height: 186px;
  width: 186px;
  object-fit: cover;
}

.share-span {
  position: absolute;
  top: 30px;
  left: 0;
  height: 30px;
}
.btn-share {
  color: #19B89C;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 24px;
  text-align: right;
  padding: 0;
  text-decoration: none !important;
}
.location-text {
  color: #9393AA;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 16px;
  text-align: right;
}

.share-text {
  padding-top: 8px;
  padding-right: 7px;
  height: 100%;
  vertical-align: bottom;
}

.doctor-card .card-text {
  margin: 24px 0;
}

.about-doctor p {
  font-size: 18px;
  line-height: 36px;
  text-align: right;

}

.line-h-36 {
  line-height: 36px;
}

.font-size-18 {
  font-size: 18px;
}
.insurance-div {
  display: flex;
  align-items: center;
}
.insurance-img {
  display: inline-flex;
  height: 51px;
  width: 51px;
  border: 1px solid #E2E2E2;
  margin-left: 27px;
}

.doctor-blog-title {
  margin-bottom: 40px;
}


.insurance-img img {
  width: 50px;
  object-fit: contain;
  padding: 3px;
}

.text-box {
  padding-bottom: 51px;
}

.insurance-list {
  padding-right: 12px;
}

.insurance-list li {
  margin-bottom: 20px;

}
.insurance-list li a {
  font-size: 18px;
  color: #001210;
  line-height: 16px;
  text-align: right;
}
.insurance-list li a:hover {
  text-decoration: none;
}

.map {
  height: 186px;
  width: 294px;
  border: 1px solid #9393aa40;

}

.doctor-clinic {
  margin-top: 40px;
}

.show-number {
  color: #19B89C;
  font-size: 18px;
  font-weight: bold;
  line-height: 16px;
  cursor: pointer;
}

.doctor-clinic .icon {
  height: 24px;
  width: 24px;
  margin-left: 18px;

}

.doctor-clinic .location {
  font-size: 18px;
  line-height: 36px;
}

.doctor-clinic-list li {
  padding-bottom: 27px;
}

.doctor-clinic {
  padding-bottom: 40px;
}

.doctor-languages {
  display: flex;
  padding: 40px 0;
}

.language {
  height: 38px;
  width: 91px;
  margin-left: 10px;
  border-radius: 19px;
  background-color: #F0F0F0;
  justify-content: center;
  align-items: center;
  display: flex;
}

.doctor-certificate {
  padding: 40px 0;
}

.doctor-certificate .certificates {
  height: 159px;
  width: 223px;
  border: 1px solid #E2E2E2;
  margin: 10px 15px;
}
.doctor-certificate .certificates img {
  height: 159px;
  width: 223px;
  border: 1px solid #E2E2E2;
  margin: 10px 15px;
}

.doctor-success {
  padding: 40px 0;

}

.doctor-success .success-div {

  margin: 15px;
}
.doctor-success .success-div img {
  height: 158px;
  width: 222px;
}

.success-div a {
  text-decoration: none !important;
}

.success-title {
  max-width: 151px;
  color: #19B89C;
  font-size: 16px;
  font-weight: bold;
  line-height: 28px;
  padding: 24px 0;
}

.footer-gray {
  background-color: #E2E2E2;
}

.border-green {
  border: 1px solid #19b89c;
}

.book-doctor {
  padding: 15px;
  max-width: 510px;
}

.book-radio .form-check-input {
  position: absolute;
  right: -23px;
  top: -15px;
}


.insurance-radio option:first-child {
  color: #9393aa;
}
.insurance-radio option {
  line-height: 36px;
}

.book-table {
  box-sizing: border-box;
  width: 100%;
  border-radius: 5px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 1px 2px #00000014;
  padding: 0 17px;
}

.book-table .table td, .book-table .table th {
  border-top: 0;
}

.book-table .table thead th {
  font-weight: normal;
  border-bottom: 0;
  color: #001210;
}

.book-table .table td {
  /*padding: 0;*/
}
.book-table .table th {
  /*padding: 10px 10px;*/
}
.book-table thead {
    font-weight: normal;
}

.font-size-16 {
  font-size: 16px;
}

.ltr {
  direction: ltr;
}
.sticky {
  position: -webkit-sticky;
  position: sticky;
}

.months-keys .arrow-left , .months-keys .arrow-right {
  display: flex;
  position: absolute;
  cursor: pointer;
}

.months-keys .arrow-left {
  top: 7px;
  left: -25px;
}
.months-keys .arrow-right {
  top: 8px;
  right: -103px;
  transform: scale(-1);
}


.weeks-keys .arrow-left , .weeks-keys .arrow-right {
  display: flex;
  position: absolute;
  cursor: pointer;
  top: 22px;

}

.weeks-keys .arrow-left {
  left: -5px;
}
.weeks-keys .arrow-right {
  right: -5px;
  transform: scale(-1);
}

img[data-magnify="gallery"] {
  cursor: pointer;
}

@media (max-width: 1199px) {
  .share-span {
    text-align: center;
    position: relative;
    display: block;
    margin-bottom: 20px;
  }
  .doctor-card .card-text {
    margin: 14px 0;
  }
  .card-title {
    margin-bottom: 5px;
    margin-top: 8px;
  }

  .mobile-booking {
    height: 48px;
    width: 310px;
    border-radius: 6px;
    background-color: #19B89C;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    margin: 0 auto;
  }
  .mobile-booking {
    margin-top: 80px;
  }

}

@media (max-width: 768px) {
  .share-span {
    position: relative;
    margin-top: 20px;
  }

  .insurance-list {
    width: 100%;
  }

}
