
aside {

    position: fixed;
    width: 0;
    height: calc(100vh - 70px);;
    left: 0px;
    bottom:  0px;
    background: #002636;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    z-index: 100;
    padding-bottom: 40px;
}

.main-logo {
    width: 135px;
    height: 36px;
}

#doctor-img-aside {
    border-radius: 100%;
    height: 73px;
    width: 73px;
    border: 2.4px solid #E4E8EC;
    object-fit: cover;
    margin-top: 24px;
    margin-bottom: 8px;
}

aside #doctor-name-aside {
    font-family: Almarai;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 36px;
    text-align: right;
    color: #FFFFFF;
    margin-top: 8px;
    margin-bottom: 8px;
}

aside .edit-profile-btn {
    display: flex;
    align-items: center;
    gap: 4px;
    background-color: #FFFFFF;
    border-radius: 24px;
    padding: 0px 8px 0px 16px;
    margin-top: 8px;
    margin-bottom: 8px;
}

aside .edit-profile-btn img {
    margin: 0px;
    height: 28px;
    width: 16px;
}

aside .edit-profile-btn p {
    margin: 0px;
    font-family: Almarai;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 28px;
    text-align: right;
    color: #0079AB;
}

aside #nav-items-wrapper-aside {
    margin-top: 24px;
    display: flex !important;
    flex-direction: column;
    align-items: end;
    direction: ltr;
}
aside #nav-items-wrapper-aside * {
    direction: rtl;
}
aside .collapsible:after {
    content: "\276F";
    width: 2em;
    height: 2em;
    text-align: center;
    transform-origin: center;
    transform: rotate(-90deg);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    margin: auto;
    font-size: 1em;
    color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

aside .collapsible.active {
    font-weight: bold;
    background-color: #0079AB;
}

aside .collapsible.active:after {
    transform: rotate(90deg);
}

#nav-items-wrapper-aside {
    overflow: auto;
}

aside .logout-btn:hover,
#nav-items-wrapper-aside>a:hover,
#nav-items-wrapper-aside>div:not(.collapsed-content):hover,
#nav-items-wrapper-aside .collapsed-content a:hover {
    background-color: #44616d;
}

.aside-wrapper {
    height: 100%;
    position: relative;
    width: 0;
    min-width: 0px;
}
.notification-btn {
    width: 36px;
    height: 36px;
    background-color: #0079AB26;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}


.search-main input:focus-visible {

    outline: none;
}
.search-main {
    display: flex;
    align-items: center;
}
.search-main .v-divider {
    height: 20px;
}
.request-badge {
    height: 31px;
    width: 31px;
    background-color: #D75520;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 8px;
}
.edit-appointment{
    width:128px
}
.opacity-4{
    opacity: 0.4;
}
.patent-detail-card img{
    width: 18px;
    height: 22px;
}
.width-25-4{
    width: calc(25% - 4px);
}
.sidebar-btn{
    background-size: 36px 36px;
    background-image:url('/teleteb/img/menu.svg'); ;
    content: '';
    width: 36px;
    height: 36px;
}
.sidebar-btn.active{
    background-size: 36px 36px;
    background-image:url('/teleteb/img/x-btn.svg') ;
    content: '';
    width: 36px;
    height: 36px;
}
.main-header{
    border-bottom: 1px solid #0079AB26;
    position: sticky;
    top: 0;
    background: #ffff;
    z-index: 90;
}
.search-btn{
    width: 48px;
    height: 48px;
}
footer.footer{
    position: sticky;
    bottom: 0;
    left: 0;
}
.page-nav {
    display: flex;
    align-items: center;
    justify-content: start;
    border-bottom: 1px solid #BBC5D0;
    white-space: nowrap;
    height: 55px;
}
.page-nav p {
    color: #0079AB;
    cursor: pointer;
    padding: 8px 0px;
    border: 0;
    margin-left: 48px;
    margin-bottom: -1px;
    font-size: 18px;
    line-height: 36px;
    font-weight: 400;
}

.page-nav p.active {
    border-bottom: 1px solid black;
    font-weight: 700;
    color:black;
}
.page-nav-wrapper{
    position: sticky;
    top: 68px;
    background: #ffff;
    z-index: 10;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    padding-bottom: 8px;
}
@media only screen and (min-width: 1200px) {
    .notification-btn {
        width: 40px;
        height: 40px;
        background-color: #0079AB26;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        
    }
    aside {

        position: fixed;
        width: 346px;
        height: calc(100vh);
        right: 0px;
        top: 0px;
        background: #002636;
        display: flex !important;
        flex-direction: column;
        align-items: center;
        padding-bottom: 0px;
    }
    .main-header{
        border:none;
    }
    .aside-wrapper {
        height: 100%;
        position: relative;
        width: 346px;
        min-width: 346px;
    }
    .page-nav-wrapper{
        position: sticky;
        top: 160px;
        background: #ffff;
        z-index: 10;
    }
    #nav-items-wrapper-aside::-webkit-scrollbar {
        background-color: rgba(255, 255, 255, 0);
        width: 8px;
    }
    
    /* background of the scrollbar except button or resizer */
    #nav-items-wrapper-aside::-webkit-scrollbar-track {
        background-color: rgba(255, 255, 255, 0);
        width: 0px;
    }
    
    /* scrollbar itself */
    #nav-items-wrapper-aside::-webkit-scrollbar-thumb {
        background-color: rgba(204, 204, 204, 0.274);
        border-radius: 16px;
        width: 8px;
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        /* border: 4px solid #fff; */
    }
    
    /* set button(top and bottom of the scrollbar) */
    #nav-items-wrapper-aside::-webkit-scrollbar-button {
        display:none;
    }
    
    #nav-items-wrapper-aside:hover::-webkit-scrollbar-thumb {
      background-color: #cccc;
      width: 16px;
    }
    
    #nav-items-wrapper-aside::-webkit-scrollbar-thumb:hover {
        background-color:rgb(204, 204, 204);
        width: 16px;
    }
}