/* @import "main.css"; */
@import "normalize.css";
/* @import "fonts/stylesheet.css"; */
@import "../fonts/stylesheet.css";
html {
  height: 100%;
}
body {
  font-family: "Almarai-Regular", sans-serif;
  font-weight: normal;
  direction: rtl;
  height: 100%;
}
main {
  /* max-width: 500px; */
  min-height: 100%;
}
@media (min-width: 576px) {
  main .main-blk.container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  main .main-blk.container,
  section.custom-container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  main .main-blk.container,
  section.custom-container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  main .main-blk.container,
  section.custom-container {
    max-width: 1140px;
  }
}
a {
  color: #0079AB;
}
a:hover {
  color: #00648f;
}
p {
  line-height: 22px;
}
.dash-cards p {
  color: #1e1f20;
}
option {
  font-family: "Almarai", sans-serif;
}
.bg-green {
  background-color: #19b89c;
}

.btn-outline-white {
  color: #fff;
  border-color: #fff;
}
.btn-outline-gray {
  color: #9393aa;
  border-color: #e0e0e0;
}
.btn-outline-green {
  color: #19b89c;
  border-color: #19b89c;
}

.btn-outline-white:hover {
  color: #19b89c;
  border-color: #fff;
  background-color: #fff;
}

.btn-white {
  color: #19b89c;
  border-color: #fff;
  background-color: #fff;
}
.btn-bg-transparent {
  background-color: transparent;
}
.btn-green {
  color: #fff;
  border-color: #19b89c;
  background-color: #19b89c;
}
.btn-orange {
  color: #fa6400;
  border-color: #fa6400;
}
.btn.disabled {
  opacity: 0.3;
}
.breif {
  color: #1e1f20;
  font-family: "Almarai-regular";
  font-size: 14px;
  line-height: 24px;
}
.form-control {
  height: 46px;
}
.form-group {
  position: relative;
}
.form-group input[type="password"] {
  padding-left: 40px;
}
.form-group .input-group-addon {
  position: absolute;
  left: 12px;
  top: 64px;
  cursor: pointer;
}
#successModal img {
  width: 82px;
}
.modal select.form-control {
  padding: 6px;
}
form .input-blk {
  margin-top: 24px;
}
form .form-blk .input-blk:first-child {
  padding-left: 16px;
}
form .input-blk input {
  width: 100%;
  font-family: "Almarai-regular";
}
form .input-blk .full-width-img {
  width: 100%;
  display: block;
  height: 250px;
  background-color: lightgrey;
  margin-top: 16px;
}
.delete-img {
  display: block;
  color: #9393aa;
  font-family: "Almarai-regular";
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  margin-top: 20px;
  text-decoration: underline;
  cursor: pointer;
}
form .input-blk input[type="file"] {
  display: none;
}
form .input-label {
  display: block;

  color: #000000;
  font-family: "Almarai-Regular";
  font-size: 16px;
  line-height: 32px;
}
.modal form input {
  padding: 0 8px;
}
form input {
  padding: 0 16px;
}
form input,
form .select2,
form select,
form textarea {
  margin-top: 16px;

  height: 48px;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  background-color: #ffffff;
}
form textarea {
  height: 100px;
  padding: 16px;
}
.select2-container .select2-selection--single {
  height: 100%;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  line-height: 45px;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  top: 50%;
  margin-top: -13px;
}
form .form-section-title {
  color: #1e1f20;
  font-family: "Almarai-Bold";
  font-size: 16px;
  line-height: 16px;
}
header {
  height: 70px;
}
.header-text {
  height: 58px;
}
.action-blk img {
  cursor: pointer;
}
header > div {
  height: 100%;
}
header a img {
  width: 156px;
}
.btn-start {
  width: 143px;
  height: 50px;
}
.add-degree {
  border: 1px solid #e0e0e0;
  border-radius: 5px;

  display: block;
  color: #9393aa;
  font-family: "Almarai-bold";
  font-size: 14px;
  line-height: 36px;
  text-align: center;
  margin-top: 24px;
  cursor: pointer;
}
.add-degree img {
  margin-left: 8px;
}
.page {
  /*min-height: 100%;*/
  /* height: calc(100vh - 70px - 40px); For Short Screens */
}
.steps-with-skip {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bg-lite-gray {
  background-color: #fafafa;
}
.btn {
  font-size: 16px;
  line-height: 18px;
  font-family: "Almarai-Bold";
}
.text-normal {
  color: #000;
  text-decoration: none;
}

.text-normal:hover {
  color: #000;
  text-decoration: none;
}

.bg-soft-gray {
  background-color: #9393aa40;
}
.w-72 {
  width: 72px;
}
.w-120 {
  width: 120px;
  margin: 0 auto;
}
.w-164 {
  width: 164px;
  margin: 0 auto;
}
.lead-para {
  font-weight: bold;
  font-size: 24px;
}
.text-green {
  color: #19b89c !important;
}
.bold {
  font-weight: bold;
  font-family: "Almarai-Bold";
}
.regular {
  font-weight: 400;
  font-family: "Almarai-Regular";
}
#datepicker,
.datepicker,
.table-condensed {
  width: 100%;
}
.datepicker td,
.datepicker th {
  height: 30px;
}
.dow {
  color: #9393aa;
  font-family: "Almarai-regular";
  font-size: 11px;
  text-align: center;
}
.table-condensed .prev .icon-arrow-right,
.table-condensed .next .icon-arrow-left {
  border: solid #0ead69;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 2px;
  height: 5px;
  width: 5px;
}
.datepicker table tr td.active,
.datepicker table tr td.active:hover,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td span.active {
  background-image: -moz-linear-gradient(#19b89c);
  background-image: -ms-linear-gradient(#19b89c);
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#19b89c),
    to(#19b89c)
  );
  background-image: -webkit-linear-gradient(#19b89c);
  background-image: -o-linear-gradient(#19b89c);
  background-image: linear-gradient(#19b89c);
  background-color: #19b89c;
}
.table-condensed .prev .icon-arrow-right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.table-condensed .next .icon-arrow-left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.appointments-blk > span {
  font-size: 14px;
  margin: 32px 0 16px;
  display: inline-block;
}
.row.rounded-bottom {
  border-bottom-right-radius: 2.5rem !important;
  border-bottom-left-radius: 2.5rem !important;
}
.appointments-blk .no-results {
  text-align: center;
  margin-top: 80px;
}
.appointments-blk .no-results p {
  width: 200px;
  color: #1e1f20;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin: 40px auto 0;
}
.appointemtns-cards {
  display: flex;
  position: relative;
  padding: 16px;
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 0 5px 10px 0 rgba(0, 64, 128, 0.04);
  align-items: center;
  margin-bottom: 16px;
}
.appointemtns-cards:hover {
  text-decoration: none;
  box-shadow: 0 1px 10px 0 rgba(0, 64, 128, 0.14);
}
.appointemtns-cards:last-child {
  margin-bottom: 0;
}
.appointemtns-cards img {
  margin-left: 24px;
}
.appointemtns-cards .card-info {
  display: flex;
  flex-direction: column;
}
.appointemtns-cards .card-arrow {
  position: absolute;
  top: 50%;
  left: 16px;
  margin: -6px 0 0;
}
.card-status {
  font-family: "Almarai-regular";
  font-size: 14px;
  line-height: 16px;
}
.card-owner {
  color: #1e1f20;
  font-family: "Almarai-bold";
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  margin: 8px 0;
}
.card-time {
  color: #1e1f20;
  font-family: "Almarai-regular";
  font-size: 14px;
  line-height: 16px;
}
.card-status.status-waiting {
  color: #b7b7b7;
}
.card-status.status-confirmed {
  color: #12b2b3;
}
.card-status.status-canceled {
  color: #fe9870;
}
.card-age span {
  color: #1e1f20;
  font-family: "Almarai-regular";
  font-size: 14px;
  line-height: 16px;
  margin-left: 16px;
}
.card-age span:last-child {
  margin-right: 16px;
}
.card-date {
  color: #1e1f20;
  font-size: 14px;
  line-height: 16px;
}
.sign-section {
  padding: 0 10px;
}
.sign-section {
  margin: 0 auto;
  text-align: center;
}

.btn-big {
  max-width: 343px;
  width: 100%;
  height: 50px;
}
.btn-big-2 {
  width: 167px;
  height: 50px;
}
.btn-mid {
  max-width: 350px;
  width: 100%;
  height: 40px;
}

.center-vertical {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

footer {
  height: 40px;
  font-size: 14px;
  font-family: "Almarai-regular";
  height: 50px;
}

.lead-para-blk {
  background-color: #fff;
  border-radius: 0 0 0 40px;
}
.relative {
  position: relative;
}
/*.img-blk:before {*/
/*  top: 0;*/
/*  display: block;*/
/*  content: "";*/
/*  position: absolute;*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  background: rgb(255, 255, 255);*/
/*  background: -moz-linear-gradient(*/
/*    0deg,*/
/*    rgba(255, 255, 255, 1) 9%,*/
/*    rgba(0, 0, 0, 0) 95%*/
/*  );*/
/*  background: -webkit-linear-gradient(*/
/*    0deg,*/
/*    rgba(255, 255, 255, 1) 9%,*/
/*    rgba(0, 0, 0, 0) 95%*/
/*  );*/
/*  background: linear-gradient(*/
/*    0deg,*/
/*    rgba(255, 255, 255, 1) 9%,*/
/*    rgba(0, 0, 0, 0) 95%*/
/*  );*/
/*  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);*/
/*}*/
.font-14 {
  font-size: 14px;
}
.font-16 {
  font-size: 16px;
  line-height: 32px;
}
.font-18 {
  font-size: 18px;
}
.font-20 {
  font-size: 20px;
}
.font-24 {
  font-size: 24px;
}
.font-32 {
  font-size: 32px;
}
.is-error {
  border: 1px solid #ff7979;
}

.text-danger {
  color: #ff7979 !important;
}
.text-warning{
  color: #D75520 !important;
}

.square-112 {
  min-width: 112px;
  height: 112px;
  border-radius: 19px;
}
.btn-small {
  width: 215px;
  height: 36px;
}

.border-bottom {
  border-color: #19b89c !important;
}
.border-bottom-dotted {
  border-bottom: 2px dotted #19b89c !important;
}
.border-bottom-gray {
  border-bottom: 1px solid #dee2e6 !important;
}
.search-icon {
  top: 11px;
  right: 29px;
}
.search-box {
  padding-right: 16px;
  position: relative;
  width: 100%;
  display: none;

  border: 1px solid #12b2b3;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 5px 10px 0 rgba(147, 147, 170, 0.12);
}
.search-box.show {
  display: flex;
}
.search-box .vertical-line {
  display: inline-block;
  margin-right: 16px;
  margin-left: 8px;
  height: 20px;
  width: 1px;
  background-color: #19b89c;
}
.search-box input {
  padding-right: 0;
  width: 100%;
  padding-left: 24px;
  outline-width: 0;
}
.search-box .close-icon {
  position: absolute;
  top: 50%;
  margin-top: -12px;
  left: 8px;
  cursor: pointer;
}
.shadow-outline {
  box-shadow: 0 0 17px 3px #eee;
  border: none;
}

.square-162 {
  min-width: 162px;
  min-height: 162px;
  width: 100%;
  display: block;
}
.square-162 img {
  margin: 0 auto;
}
.flex {
  display: flex;
}

.content-left {
  justify-content: flex-end;
}

.dash-title {
  width: 100%;
  bottom: 2px;
  margin: 0 auto;
}

.knob-data canvas {
  width: 80px;
}
.dash-circle {
  width: 80px;
  height: 80px;
  border-radius: 100%;
}

.btn-gradient-green {
  color: #fff;
  background: linear-gradient(45deg, #19b89c 0%, #5be4cc 100%);
  background: rgb(91, 228, 192);
  background: -moz-linear-gradient(45deg, #19b89c 0%, #5be4cc 100%);
  background: -webkit-linear-gradient(45deg, #19b89c 0%, #5be4cc 100%);
  background: linear-gradient(45deg, #19b89c 0%, #5be4cc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5be4c0",endColorstr="#19b890",GradientType=1);
}

.btn-gradient-green:hover {
  color: #fff;
}

.card-section {
}

.card-call {
  height: 53px;
}

.card-section .card {
  border-radius: 16px;
  border: none;
}

.border-center {
  border-left: 1px solid #eee;
}

.card-header,
.card-body {
  background-color: #fff;
}
.modal-dialog {
  max-width: 90%;
  margin: 16px auto;
}
.modal-title {
  color: #1e1f20;
  font-family: "Almarai-regular";
  line-height: 28px;
}
.modal-title-small {
  color: #1e1f20;
  font-size: 18px;
  line-height: 20px;
}
.modal-body {
  direction: rtl;
  text-align: right;
  
  position: relative;
}
.radio-container {
  border-radius: 8px;
  background-color: #f0f0f0;
  line-height: 41px;
}
.radio-container label {
  margin-bottom: 0;
  color: #9393aa;
  font-family: "Almarai-bold";
  font-size: 14px;
  text-align: center;
}
.radio-container [type="radio"]:checked + label {
  border-radius: 8px;
  background-color: #19b89c;
  color: #fff;
}
/* .radio-container label.active {
} */
.modal-content {
  border-radius: 4px;
  padding: 24px;
  width: 100%;
  max-width: 540px;
}
form .select2-container {
  width: 100% !important;
  font-family: "Almarai-regular";
}
.select2-container * {
  font-family: "Almarai-regular";
}
.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  right: auto;
  left: 1px;
}
.select2-search--dropdown .select2-search__field {
  text-align: right;
}
.select2-results__options {
  text-align: right;
  direction: rtl;
}
.flag-text {
  margin-right: 10px;
}
.text-primary-color {
  color: #1e1f20;
}
.text-soft-gray {
  color: #9393aa;
}
.tabs {
  color: #9393aa;
  font-size: 18px;
  line-height: 18px;
  position: relative;
}
.tabs:focus {
  outline: 0;
}
.tabs.active {
  color: #1e1f20;
  font-family: "Almarai-Bold";
}
.tabs.active::after {
  position: absolute;
  bottom: -8px;
  right: 0;
  content: "";

  height: 2px;
  width: 24px;
  border-radius: 4px;
  background-color: #1e1f20;
}
.logs,
.history {
  width: 100%;
  margin: auto;
  border-radius: 16px;
}
.log {
  padding: 16px;
  border-bottom: 1px solid rgba(147, 147, 170, 0.2);
  justify-content: space-between;
}
.log div img {
  margin-left: 8px;
}
.log:last-child {
  border: 0;
}
.log:hover {
  text-decoration: none;
}
.log span img {
  margin-right: 16px;
}
.hide {
  display: none !important;
}
.breadcrumb {
  background-color: transparent;
  margin-bottom: 0;
  padding: 0;
}
.breadcrumb-item a:hover {
  text-decoration: none;
  color: initial;
}
.breadcrumb-item + .breadcrumb-item {
  padding-left: 0;
}
.breadcrumb-item + .breadcrumb-item::before {
  padding-right: 0.25rem;
  padding-left: 0.25rem;
}
.details-card > div {
  border-bottom: 1px solid #ececf0;
}
.details-card > div.border-bottom-0 {
  cursor: pointer;
}
.details-card textarea {
  display: none;
  resize: none;
  height: 125px;
}
.details-card textarea:focus {
  outline: none;
}
.gray-line {
  width: 100%;
  border: 0px;
  height: 0px;
  border-top: 0.1px solid #bbc5d075;
}
@media only screen and (max-width: 767px) {
  .layout-2 header {
    height: 227px;
  }
  .layout-2 header span {
    font-size: 20px;
    line-height: 28px;
  }
  .layout-2 .card-section .card {
    margin-top: -120px;
    display: inline-block;
    width: 100%;
  }

  .layout-2 .card-section .card.new-place {
    text-align: right;
    margin-top: -83px;
  }

  .layout-2 .card-section .card.new-place .appointemtns-cards {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(147, 147, 170, 0.2);
    border-radius: 0;
  }
  .layout-2 .card-section .doc-name {
    color: #1e1f20;
    font-size: 14px;
    line-height: 16px;
  }
  .layout-2 .card-section .the-doc-name {
    color: #1e1f20;
    font-size: 16px;
    line-height: 24px;
  }
}
@media only screen and (max-width: 620px) {
  /* .img-blk:before {
    height: 80%;
  } */

  .main-img {
    max-height: 474px;
    width: 100%;
  }
}
@media only screen and (max-width: 520px) {
  /* .img-blk:before {
      height: 75%;
    } */
  .btn-big {
    width: 100%;
    height: 50px;
  }
}
@media only screen and (max-width: 378px) {
  .btn-start {
    height: 42px;
  }
  /* .img-blk:before {
    height: 68%;
  } */
}
@media only screen and (min-width: 1200px) {
  .modal-content {
    border-radius: 4px;
    padding: 40px;
    width: 100%;
    max-width: 540px;
  }
  .visible-xl-hidden{
    visibility:hidden;
  }
}
@media only screen and (min-width: 440px) {
  .logs,
  .history {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .modal-dialog {
    max-width: 540px;
    width: 100%;
    margin: 16px auto;
  }
  .btn-big {
    max-width: 100%;
  }
  section.custom-container {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
  }
  section.custom-container aside {
    max-width: 217px;
    background-color: #f1f1f1;
  }
  section.custom-container .square-162 {
    max-width: 162px;
  }
  section.custom-container .dash-cards > a {
    justify-content: center;
    text-decoration: none;
  }
  section.custom-container .dash-cards > a > div {
    opacity: 0.5;
  }
  section.custom-container .dash-cards > a > div:hover {
    opacity: 1;
  }
  section.custom-container .dash-cards > a > div.active {
    opacity: 1;
  }
  section.custom-container main {
    background-color: #fafafa;
    width: 100%;
    padding: 0 8px;
    box-sizing: border-box;
  }
  section.custom-container main .container {
    max-width: 100%;
  }
  .desktop-notification {
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 5px 10px 0 rgba(0, 40, 79, 0.16);
  }
  .desktop-notification p {
    margin-bottom: 0;
    font-size: 16px;
  }
  .desktop-notification p span {
    color: #19b89c;
  }
  .number-reservation {
    margin-left: 16px;
    border: 5px solid #12b2b3;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #12b2b3;
    font-size: 24px;
  }
  .dow {
    font-size: 16px;
  }
  .datepicker td {
    font-size: 18px;
  }
  .datepicker table {
    border-spacing: 15px;
    border-collapse: inherit;
  }
  .appointments-blk > span {
    font-size: 24px;
  }
  .appointments-blk > div > .appointemtns-cards > .card-info {
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
  .appointments-blk .card-info .card-status {
    font-size: 16px;
  }
  .appointments-blk > div > .appointemtns-cards > .card-info .card-owner {
    font-size: 24px;
  }
  .appointments-blk .card-time {
    font-size: 20px;
    width: 300px;
  }
  .appointments-blk .appointemtns-cards {
    cursor: pointer;
    position: relative;
  }
  .appointemtns-cards .pop-up-card {
    display: none;
  }
  .appointemtns-cards:hover .pop-up-card {
    cursor: default;
    max-width: 350px;
    width: 100%;
    bottom: 45px;
    z-index: 1;
    right: 0;
    display: block;
    position: absolute;
    border-radius: 16px;
    background-color: #ffffff;
    box-shadow: 0 10px 20px 10px rgba(0, 64, 128, 0.15);
  }
  .requests-container .appointemtns-cards:hover .pop-up-card {
    top: -80px;
    bottom: auto;
  }
  .requests-container .appointemtns-cards:last-child:hover .pop-up-card {
    top: auto;
  }
  .appointemtns-cards:hover .pop-up-card .border-bottom {
    border-color: #dee2e6 !important;
  }
  .appointemtns-cards:hover .pop-up-card .card,
  .pop-up-card .appointemtns-cards {
    cursor: default;
  }
  .patients-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .patients-container .appointemtns-cards {
    width: 100%;
    padding: 8px;
  }
  .patients-container .appointemtns-cards:last-child {
    margin-bottom: 16px;
  }
  .patients-container .card-age span {
    margin-left: 8px;
  }
  .patients-container .card-age span:last-child {
    margin-right: 8px;
  }
  .patients-container .appointemtns-cards img {
    margin-left: 12px;
  }
  .search-box {
    max-width: 250px;
    margin-right: auto;
  }
  .custom-container .card-section {
    max-width: 400px;
  }
  .custom-container > section .container {
    max-width: 100%;
  }
  .custom-container .appointemtns-cards {
    /* flex-direction: column; */
    align-items: center;
  }
  .custom-container .appointemtns-cards.flex-md-column img {
    margin-left: 0;
    margin-bottom: 16px;
  }
  .custom-container .appointemtns-cards.flex-md-column .card-owner {
    font-size: 32px;
    line-height: 1.5;
  }
  .custom-container .appointemtns-cards.flex-md-column .card-age span {
    font-size: 24px;
  }
  .custom-container .appointemtns-cards .card-info {
    align-items: center;
  }
  .action-blk {
    display: flex;
  }
  .action-blk button {
    width: 200px;
    margin-right: 8px;
  }
  .invites-container .card-info {
    flex-direction: row;
    /* justify-content: space-between; */
    width: 100%;
  }
  .invites-container .card-info .card-status {
    order: 2;
    margin-right: auto;
  }
  .invites-container .card-info .card-date {
    margin-right: 22px;
  }
}

/*************************/
.textarea {
  width: 100%;
  max-width: 480px;
}

.bg-test {
  background-color: white;
}
.doctor-report .form-section-title {
  font-weight: normal;
  font-size: 18px;
}

.add-medi {
  font-weight: 800;
  font-size: 18px;
  padding: 5px;
}

.adds-btn {
  display: inline-block;
  width: 120px;
}
.add .adds-btn {
  margin-left: 10px;
}
.border-rounded {
  border-radius: 10px;
}

.box-shadow-gray {
  box-shadow: 0px 3px 10px 7px rgba(0, 64, 128, 0.04);
}

.send-btns .send-btn {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.send-btns .send-btn .btn-big {
  max-width: 100%;
}
.add-input:hover {
  text-decoration: none;
}
.remove-input:hover {
  text-decoration: none;
}

.sr-only {
  display: block;
  position: relative;
  overflow: unset;
  height: unset;
}
.files-show-div {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 32px;
}

.files-img {
  cursor: pointer;
  width: 153px;
  height: 110px;
  border-radius: 4px;
}
.details-blk {
  background-color: #fff;
  padding: 32px;
  border-radius: 5px;
}

.bg-lite-gray-2 {
  background-color: #f5f5f5;
}

.not-active-data {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 100%;
}

.text-orange {
  color: #fa6400;
}
.gender-details {
  padding-top: 28px;
}

.gender-details span {
  font-size: 24px;
  padding-left: 5px;
}

.max-width-645 {
  max-width: 645px;
}
.max-width-327 {
  max-width: 327px;
}

.line-h-24 {
  line-height: 24px;
}

/******** Home Style ********/

.nav-home a {
  color: #000;
}
.nav-home .nav-item.active a {
  color: #19b89c;
}

.nav-item.active {
  font-weight: bold;
}

.navbar-brand {
  width: 182px;
  margin: 0;
  text-align: right;
}

.w-full {
  width: 100%;
}

.main-head {
  font-size: 48px;
}

.main-p {
  line-height: 32px;
  font-size: 18px;
}

.subscribe-green {
  background-color: #19b89c;
  border-radius: 5px;
  padding: 5px 25px !important;
}
.subscribe-green a {
  font-weight: 800;
  color: #fff;
}

.home-services-master {
  position: relative;
  padding-top: 88px;
  padding-bottom: 98px;
  border-radius: 95px 0 0 95px;
  margin-top: 92px;
}

.home-services p {
  max-width: 302px;
}

.bg-lite-green {
  background-color: #e5fbf6 !important;
}

.btn-lite-green {
  background-color: #19b89c;
  border: 0;
  padding: 15px 40px !important;
}

.btn-lite-green:hover {
  background-color: #005D5C;

}
.border-lite-green {
  border: 1px solid #12b2b3;
}

.sec-section-texts {
  display: flex;
  flex-flow: column;
  justify-self: center;
  align-items: center;
}

.sec-section-texts p {
  font-size: 18px;
  line-height: 36px;
}

.heart {
  animation: heart 2s linear infinite;
}

.doctor-img {
  width: 130px;
  height: 130px;
  border-radius: 100%;
}


/**** - Cards home page ****/

.price-card {
  padding: 38px;
}

.price-card .card-header, .price-card .card-body {
  background-color: transparent;
}
.price-card .card-title {
  padding-bottom: 28px;
}

.price-card .card-body {
  padding: 0;
}

.price-card-line {
  margin: 0 auto;
  max-width: 294px;
}

.price-card .card-subtitle {
  font-size: 46px;
  color: #000 !important;
  padding: 46px 0;
}

.price-card-list {
  padding-right: 25px;
}

.price-card-list li {
  padding-bottom: 26px;
  font-size: 18px;
  line-height: 36px;
  color: #12B2B3;
}

.card.price-card {
  border: 1px solid #12B2B3;
  border-radius: 5px;
}

.text-black {
  color: #000;
}
.font-48 {
  font-size: 48px;
}

.btn-outline-white {
  background-color: #fff;
  color: #000;
  border: 0;
  padding: 15px 40px !important;
}

.home-footer {
  background-color: #005D5C;
}
.list-style {
  list-style: none;
}

.home-footer-list li {
  padding: 0  40px;
}

.home-footer-list {
  color: #fff;
}

.white-link {
  color: #fff;
  text-underline: none;
}

.white-link:hover {
  color: #fff;
  text-decoration: none;
}

.home-footer-hr {
  height: 2px;
  background-color: rgba(255,255,255,0.2);
}

.home-footer-logo img {
  width: 145px;
}

.heart-beat {
  right: 57px;
  position: absolute;
  top: -46px;
  width: 178px;
  z-index: -1;

}

.heart-beat img {
  width: 100%;
  -webkit-filter: hue-rotate(120deg);
  filter: hue-rotate(280deg);
}

@keyframes heart {
  0% {
    box-shadow: 0 0 0 0 rgba(25, 184, 156, 0.7), 0 0 0 0 rgba(25, 184, 156, 0.7);
  }
  40% {
    box-shadow: 0 0 0 30px rgba(25, 184, 156, 0), 0 0 0 0 rgba(25, 184, 156, 0.7);
  }
  80% {
    box-shadow: 0 0 0 30px rgba(25, 184, 156, 0), 0 0 0 15px rgba(25, 184, 156, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(25, 184, 156, 0), 0 0 0 15px rgba(25, 184, 156, 0);
  }
}


@keyframes heart {
  0% {
    box-shadow: 0 0 0 0 rgba(25, 184, 156, 0.7), 0 0 0 0 rgba(25, 184, 156, 0.7);
  }
  40% {
    box-shadow: 0 0 0 30px rgba(25, 184, 156, 0), 0 0 0 0 rgba(25, 184, 156, 0.7);
  }
  80% {
    box-shadow: 0 0 0 30px rgba(25, 184, 156, 0), 0 0 0 15px rgba(25, 184, 156, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(25, 184, 156, 0), 0 0 0 15px rgba(25, 184, 156, 0);
  }
}


/******** Home style End *********/

@media only screen and (min-width: 1024px) {
  .desktop-notification p {
    font-size: 24px;
  }
  .search-box {
    max-width: 343px;
  }
  .patients-container .appointemtns-cards {
    width: 32%;
    padding: 16px;
  }
}

@media screen and (min-width: 1200px) {

  .container-extend {
    width: 100%;
    max-width: 1280px;
  }

  .main-p {
    margin-bottom: 30px;
  }

  .sub-form-1 .btn-submit {
    margin-top: 4px;
  }
  .nav-home li {
    padding-left: 60px;
  }

  .navbar-brand {
    margin-left: 60px;
  }

  .header-home {
    margin-bottom: 100px;
  }
  .first-section {
    margin-bottom: 290px;
  }

  .float-img {
    position: absolute;
    left: -178px;
    top: 0;
  }
  .float-img-2 {
    position: absolute;
    right: -156px;
    top: -250px;
    z-index: -10;
  }
  .float-img-3 {
    width: 400px;
    height: 100%;
    position: absolute;
    right: -350px;
    top: 0px;
    z-index: -10;
  }

  .sec-section {
    padding-top: 150px;
  }
  .sec-section-title {
    padding-bottom: 60px;
  }
  .p-140 {
    padding-bottom: 140px;
  }

  .img-with-text .col-6 {
    padding: 90px 10px;
  }

  .padding-xl {
    padding: 104px 0;
  }

  .home-page p {
    line-height: 36px;
  }

  .price-head {
    padding-top: 16px;
    padding-bottom: 87px;
  }
  .join-section {
    padding-top: 110px;
    padding-bottom: 64px;
  }
  .join-section-text {
    line-height: 64px;
  }
  .home-footer {
    height: 222px;
    padding-top: 80px;
  }
.home-footer-list {
  padding-bottom: 42px;
}
  .home-footer-hr {
    margin-top: 14px;
  }
}



/*-----------------------Ammar-----------------------------*/

/*----------Variables-------------*/

:root{

  --footer-height: 57px;
  --header-height: 70px;

}

/*-----Overriding existing selectors -----*/

.footer {
  height: var(--footer-height);
  background-color: #F1F8FA;
  display: flex;
    align-items: center;
    justify-content: center;
}

.footer p{
  font-size: 16px;
}


main{

  min-height: calc(100vh - 127px);
}



header a img{
  
    width: 125px;
    height: 43px;

}


/*----------Color changes-------------*/

/*--Backgrounds--*/

.bg-blue {
  background: #1C60A8;
}

.bg-light-blue {
  background: #E9F2F6;
}


.bg-green{
  background: #3D8704
}

/*--Texts--*/

.text-blue {
  color: #0079AB;
}

.text-light-grey{
  color: #7677779c;
}

/*----------Custom message classes-------------*/

._message button{

  color: white;
  width: 250px;
  font-size: 18px;
  border-radius: 5px;
  
}

.message-body{

  width: fit-content;
  max-width: 530px;

}

.message-body img{

  width: 186px;
  height: 186px;

  margin-bottom: 30px;
}

.message-body .reject_image{

  width: 134px ;
  height: 134px;
  
  margin-bottom: 15px;


}

.message-body .change_pass_success_image{

  width: 160px ;
  height: 186px;
  
  margin-bottom: 15px;

}

._message-content{

  line-height: 40px;
}
.bb-blue {
  border-bottom: 8px solid #0079AB;
}
.white-line {
  border: 0;
  width: 100%;
  border-bottom: 1px solid #FFFFFF;
  opacity: 0.2;
  margin: 0;
}

.collapsible {
  cursor: pointer;
}
.blue-btn {
  padding: 15px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0079AB;
  color: #ffffff;
  border: none;
}
.v-divider {
  width: 1px;
  background-color: black;
}
.v-divider-gray {
  width: 1px;
  background-color: #BBC5D0;
}
.text-dark-green{
  color: #0B6A34;
}
.pointer{
  cursor:pointer
}
.close-modal-btn{
  background: none;
  outline: none;
  border: none;
  font-size: 30px;
  color: #0079AB;
  position: absolute;
  left: 40px;
  top: 40px;
  line-height: 16px;
  z-index: 5;
}
.close-modal-btn:focus{
  outline: none;
}
input[type="time"]::-webkit-calendar-picker-indicator,input[type="date"]::-webkit-calendar-picker-indicator{
  /* filter: invert(60%) sepia(13%) saturate(3207%) hue-rotate(50deg) brightness(95%) contrast(80%); */
  /* filter:invert(42%) sepia(94%) saturate(2874%) hue-rotate(160deg) brightness(72%) contrast(79%); */
  filter: invert(49%) sepia(95%) saturate(6491%) hue-rotate(180deg) brightness(92%) contrast(101%);
}
.postfix-phone::after{
  background-size: 12px 12px;
  background-image: url('/teleteb/img/postfix-phone.svg');
  width: 12px;
  height: 12px;
  margin-right: 10px;
  content: '';
  display: inline-block;
}
.clock-prefix::before{
  background-size: 20px 20px;
  background-image: url(/teleteb/img/clock_prefix.svg);
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  content: '';
  display: inline-block;
  position: relative;
  top: 4px;
}
.border-gray-1{
  border: 1px solid #BBC5D0;
}
.border-4{
  border-radius: 4px;
}
.btn-outer-blue{
  border: 1px solid #0079AB;
box-sizing: border-box;
border-radius: 4px;
height: 48px;
display: flex;
justify-content: center;
align-items: center;
color: #0079AB;
background-color: #FFFFFF;
font-size: 16px;
font-weight: bold;
}
.text-gray{
  color:#BBC5D0;
}
.btn-nostyle{
  background-color: #FFFFFF;
  border: none;
  outline: none;
}