

.date-card {
    border: 1px solid #BBC5D0;
    width: 100%;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding-top: 16px;
    text-align: right;
    margin-top: 16px;
    position: relative;
    padding-bottom: 0px;
}
.date-card .border-right-gray-1{
    border:none;
}
.date-card p{
    margin: 0;
}
.patent-pic{
    width: 60px;
    height: 60px;
}
.patent-pic .picture-tag{
    position: absolute;
    bottom: -2px;
    right: -8px;
}
.border-right-gray-1{
    border-right: 1px solid #BBC5D0;
}
.date-card .card-actions{
    border-top: 1px solid #BBC5D0;
    width: 100%;
    margin-top: 16px;
}
.date-card .card-actions button{
    border: none;
    background: none;
    outline: none;
}
.date-card .option-btn{
    position: absolute;
    top:10px;
    left:10px
}
.date-card .card-actions .v-divider-gray{
    height: 54px;
}
@media only screen and (min-width: 1200px) {
    .date-card {
        border: 1px solid #BBC5D0;
        height: 96px;
        width: 100%;
        border-radius: 4px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 16px;
        text-align: right;
        margin-top: 16px;
    }  
    .date-card .border-right-gray-1{
        border-right:1px solid #BBC5D0;
    }
    .date-card .card-actions{
        border: none;
        width: 124px;
        margin-top: 0px;
    }
    .date-card .option-btn{
        position: relative;
        top:0;
        left:0;

    }
}