
/* Tagging Basic Style */
/*.tagging {*/
/*  border: 1px solid #CCCCCC;*/
/*  cursor: text;*/
/*  font-size: 1em;*/
/*  height: auto;*/
/*  padding: 10px 10px 15px;*/
/*}*/

.tag {
  background: none repeat scroll 0 0 #19B89C;
  border-radius: 2px;
  color: white;
  cursor: default;
  display: inline-block;
  position: relative;
  white-space: nowrap;
  padding: 4px 4px 4px 20px;
  margin-right: 5px;
}

.tag span {
  background: none repeat scroll 0 0 #D66806;
  border-radius: 2px 0 0 2px;
  margin-right: 5px;
  padding: 5px 10px 5px;
}

.tag .tag-i {
  color: white;
  cursor: pointer;
  font-size: 1.3em;
  height: 0;
  line-height: 0.1em;
  position: absolute;
  left: 5px;
  top: 0.7em;
  text-align: center;
  width: 10px;
}

.tag .tag-i:hover {
  color: black;
  text-decoration: underline;
}

.type-zone {
  border: 0 none;
  height: auto;
  width: auto;
  min-width: 20px;
  display: inline-block;
}

.type-zone:focus {
  outline: none;
}

.tag span {
  display: none;
}

.tag .tag-i:hover {
  color: white;
  text-decoration: none;
}
