@font-face {
  font-family: "Almarai-bold";
  src: url("Almarai-Bold.eot");
  src: url("Almarai-Bold.eot?#iefix") format("embedded-opentype"),
    url("Almarai-Bold.woff2") format("woff2"),
    url("Almarai-Bold.woff") format("woff"),
    url("Almarai-Bold.svg#Almarai-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Almarai-extra";
  src: url("Almarai-Extrabold.eot");
  src: url("Almarai-Extrabold.eot?#iefix") format("embedded-opentype"),
    url("Almarai-Extrabold.woff2") format("woff2"),
    url("Almarai-Extrabold.woff") format("woff"),
    url("Almarai-Extrabold.svg#Almarai-Extrabold") format("svg");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Almarai-light";
  src: url("Almarai-Light.eot");
  src: url("Almarai-Light.eot?#iefix") format("embedded-opentype"),
    url("Almarai-Light.woff2") format("woff2"),
    url("Almarai-Light.woff") format("woff"),
    url("Almarai-Light.svg#Almarai-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Almarai-Regular";
  src: url("Almarai-Regular.eot");
  src: url("Almarai-Regular.eot?#iefix") format("embedded-opentype"),
    url("Almarai-Regular.woff2") format("woff2"),
    url("Almarai-Regular.woff") format("woff"),
    url("Almarai-Regular.svg#Almarai-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
